[2020-08-20 11:51] SounD120 commented on #652
@f4b10goncalves I was able to reproduce that behavior. At first I tried to do changes and look for the results but that didn't led me to the error, but when I started to do live reloads very fast it might cause a breakage. We'll investigate that problem and let you know when it will be fixed.

[2020-09-01 00:04] f4b10goncalves commented on #652
Hello! Any news here?
If you have a workaround, please let me know. Meanwhile I need to close and open VS Code every time I change "index.html".
If a hotfix is available, you may send me to test it.
Thank you.

[2020-09-02 16:38] RedMickey commented on #652
Hi @f4b10goncalves, we are sorry for the delay. We found out [the probable place and functions](https://github.com/microsoft/cordova-simulate/blob/master/src/server/live-reload/live-reload.js#L96-L102) that cause the bug. Now we are investigating how we can fix this problem.

[2020-09-15 07:41] SounD120 commented on #633
Localization was implemented in https://github.com/microsoft/vscode-cordova/tree/dev/js-debug-migration

[2020-09-15 07:41] #633 closed

[2020-09-20 21:02] f4b10goncalves commented on #652
The branch published by @RedMickey on GitHub fixes this issue. Great, thank you!
I have notice that when I save "index.html", the app doesn't reload automatically, as it used to. But when I reload the app manually, I don't get "Internal Server Error" anymore.
Thank you @SounD120 and @RedMickey!

[2020-09-20 21:02] #652 closed

[2020-10-06 11:09] RedMickey commented on #564
Fixed debugging of Cordova and Ionic apps on iOS `v12.3.1 - v13.7` in the [`dev/js-debug-migration`](https://github.com/microsoft/vscode-cordova/tree/dev/js-debug-migration) branch.

[2020-10-06 11:09] #564 closed

[2020-10-06 14:45] RedMickey opened #670 "Cordova and Ionic applications debugging not working on iOS 14+"
Since iOS 14 debugging of Ionic v3, v4 and v5 apps and Cordova apps doesn't work. Under the hood this extension uses Chrome DevTools Protocol for debugging, but iOS devices require Webkit Remote Debugging Protocol. [Ios-webkit-debug-proxy](https://github.com/google/ios-webkit-debug-proxy) (IWDP) allows to forward Safari WebInspector (Webkit) traffic to Chrome DevTools.
### Cordova apps debugging
A

[2020-10-08 09:30] JiglioNero commented on #594
The problem was solved in this [PR](https://github.com/microsoft/vscode-cordova/pull/667) and the fix will be released in the next version of the extension.

[2020-10-08 09:30] #594 closed

[2020-10-08 13:24] RedMickey commented on #670
Fixed in https://github.com/microsoft/vscode-cordova/pull/671

[2020-10-08 13:24] #670 closed

[2020-10-13 12:27] SounD120 opened #677 "Breakpoints don't work while debugging Ionic 5 apps with livereloads on iOS 14"
## Actual Behavior
1. Breakpoint don't work on iOS Ionic 5 apps with `ionicLiveReload` option enabled.

## Expected Behavior
1. Breakpoints work on iOS Ionic 5 apps with `ionicLiveReload`.

## Software versions
- Cordova VS Code extension version: 2.0.0
- VSCode version: 1.50.0
- OS platform and version: macOS 10.15.7
- NodeJS version: 12
- Cordova version: 10
- Cordova-Android/iOS/Windows version

[2020-10-13 14:54] SounD120 commented on #613
Cordova Tools v2.0.0 with js-debug debugger have been released just now.

[2020-10-13 14:54] #613 closed

[2020-10-15 08:29] MKHSKY opened #680 "Android Debug not attaching"
## Actual Behavior
1. App compiles
2. App starts on android Device (via Wi-Fi)
3. Attaching to app..
4. Timeout while connecting

## Expected Behavior
Obviously attach to the app (Like in Version 1.9.5, works there)

## Software versions
- Cordova VS Code extension version: 2.0.0
- VSCode version: 1.50.1
- OS platform and version: Linux / Docker Container https://github.com/Fluxter/docker-vscode-c

[2020-10-16 08:31] SounD120 opened #681 "Simplify CDP message handlers"
I think that it makes sense to divide [CDP message handlers](https://github.com/microsoft/vscode-cordova/tree/master/src/debugger/cdp-proxy/CDPMessageHandlers) logic to improve code maintainability and readability.

For example - divide [chromeCDPMessageHandler ](https://github.com/microsoft/vscode-cordova/blob/master/src/debugger/cdp-proxy/CDPMessageHandlers/chromeCDPMessageHandler.ts)into: Ionic

[2020-10-16 13:47] RedMickey commented on #677
Fixed in https://github.com/microsoft/vscode-cordova/pull/679

[2020-10-16 13:47] #677 closed

[2020-10-19 13:09] RedMickey commented on #680
Hi @MKHSKY and thanks for reaching us. We investigated the issue and found out the problem. [This PR](https://github.com/microsoft/vscode-cordova/pull/682) is intended to fix the issue. Could you please try to install patched extension VSIX with a fix and let us know how it works for you? To try it please do the following:
* Download and unzip compiled extension VSIX : [cordova-tools-2.0.0.vsix.zi

[2020-10-20 13:09] CodeTroopers opened #683 "How to serve to the browser with a configuration"
## Actual Behavior
1. Add a launch configuration in the launch.json file to serve to the browser
[code]
2. Add arguments to set a configuration
[code]
3. Run the launch configuration
4. The command started has not the configuration
`ng run app:serve --host=localhost --port=4200`

## Expected Behavior
1. The command started has the configuration
`ng run app:serve --host=localhost --port=4200 -c dev

[2020-10-21 08:02] ajuanjojjj opened #685 "Restart button when debugging just refreshes the current page without applying changes"
## Actual Behavior
1. Run cordova from the extension
2. Change something in the code
3. Click the ♻️ refresh button on the debugger
4. The cordova app just refreshes the current page without applying the change

## Expected Behavior
1. Repeat steps 1, 2, and 3
2. The cordova app either refreshes applying the changes made (Live reload) or recompiles and launches the app

## Software versions
- Cord

[2020-10-21 09:16] RedMickey commented on #683
Hi @CodeTroopers and thanks for reaching us. We tried to reproduce this issue on an Ionic 5 application and didn't face any problems. We tried the following debugging configurations:
[code]

In this case under the hood the extension runs such a command to launch an application:
[code]

After that according to Debug console logs `ionic-cli` runs the command:
[code]

Could you please tell us which `

[2020-10-21 12:06] CodeTroopers commented on #683
Hi @RedMickey, thank for your reply!
Here the output of the command `ionic info`

Sorry, I don't have any time to reproduce in a demo project for now, perhaps the next week...
Here the relevant part of my `angular.json` file
[code]

[2020-10-22 08:35] RedMickey commented on #683
@CodeTroopers, as seen from your `ionic info` specification you are using `Ionic CLI` v5.4.15. We found out that it doesn't support the flag `-c` as alias for `--configuration` for Angular projects. According to the changelog of `ionic-cli` the `-c` alias [was added in `ionic-cli` v6.2.0](https://github.com/ionic-team/ionic-cli/blob/develop/packages/%40ionic/cli/CHANGELOG.md#620-2020-03-03). In ea

[2020-10-22 11:50] CodeTroopers commented on #683
@RedMickey thank a lot for your help and the explanation. It works with `--configuration` as argument

[2020-10-22 11:50] #683 closed

[2020-10-27 08:38] #680 closed

[2020-10-27 08:44] RedMickey commented on #680
Hi @MKHSKY, the problem was fixed in the https://github.com/microsoft/vscode-cordova/pull/682 PR. The fix will be available in the next version of the extension.

[2020-10-29 11:23] #571 closed

[2020-11-10 10:23] ajuanjojjj commented on #685
Reopening as of version 2.1.1

The green restart button "Restart" still refreshes the page (I assume this is now the expected behaviour), but the new "Restart Cordova debugging" blue button throws the warning "There is already a debug configuration "Run Android on device" running." instead of restarting it.

I'm not exactly sure of why this is happening now, i've seen it working a few times before

[2020-11-13 11:14] RedMickey commented on #685
Hi @ajuanjojjj.

Yes, now it is the expected behavior, since under the hood the extension uses [`vscode-js-debug` extension](https://github.com/microsoft/vscode-js-debug) for debugging javascript applications. So when you click green `Restart` button VS Code is trying to restart just attach debugging session of `vscode-js-debug` extension instead of the main session of Cordova tools one. That's wh

[2020-11-13 13:57] ajuanjojjj commented on #685
Sure thing, although I just came home from work, so I wont be able to do it until monday morning.

If it's urgent I can try it on my home pc, but i'd have to install the whole environment (SDKs, ADB, node, etc) so i'd prefer to wait if possible.

[2020-11-18 09:19] ajuanjojjj commented on #685
Sry for the late response, it's been a busy week;

I've tried the patched extension and it looks all good, with both restart and restart cordova debug buttons working as expected :)

[2020-11-18 13:57] FabriceFR opened #692 "Support of Windows platform"
## Actual Behavior
In the tip and specifications for the launch.json plaform attribute completion is indicated : "Only 'iOS' and 'Android', other platforms are currently not supported"

## Expected Behavior
Is it planned / possible to get back 'windows' platform support to ensure the cross platform support?

## Software versions
- Cordova VS Code extension version:
- VSCode version: 1.51.1
- OS pl

[2020-11-19 08:08] #685 closed

[2020-11-19 11:43] RedMickey commented on #685
@ajuanjojjj Glad to hear that. The fix is available in Cordova Tools extension [v2.1.2](https://github.com/microsoft/vscode-cordova/releases/tag/2.1.2). Feel free to reach out to us if you have any questions about the extension.

[2020-11-25 07:30] huangfeihong1860 commented on #591
I used the cordova tools in vscode to debug web project,  I run the comand (run android on emulator )
but get a message,can you help me!
An error occurred while handling message: GET_RUN_ARGUMENTSError: connect ENOENT \\?\pipe\vscodecordova

 {
            "name": "Simulate Android in browser",
            "type": "cordova",
            "request": "launch",
            "platform": "android",

[2020-11-25 07:32] huangfeihong1860 opened #694 "GET_RUN_ARGUMENTSError"
## Actual Behavior
I used the cordova tools in vscode to debug web project, I run the comand (run android on emulator )
but get a message,can you help me!
An error occurred while handling message: `GET_RUN_ARGUMENTSError: connect ENOENT \?\pipe\vscodecordova`
[code]
## Expected Behavior
1. the web page is run  in chrome by Android in browser mode

## Software versions
- Cordova tools:1.8.6
- VSCod

[2020-11-25 07:38] SounD120 commented on #694
Hi @huangfeihong1860 and thanks for reaching us. Could you please describe your problem in a way pointed in our [issue template](https://github.com/microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md)? This will help us to find out what is happening in your specific case much faster. Thank you.

[2020-11-26 07:24] SounD120 commented on #692
Hi @FabriceFR and thanks for your question. Right now Cordova for Windows apps can be debugged by only the VS 2017, and under the hood they use the deprecated EdgeHTML engine backend. EdgeHTML Edge [support will end on March 9 2021](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666). Currently the VS 2019 and the most

[2020-11-26 07:24] #692 closed

[2020-11-26 09:55] SounD120 commented on #694
@huangfeihong1860 Your software configuration looks deprecated and not supported at the moment. Could you please update Node.js up to version 10, Cordova Tools and VS Code up to latest versions and let us know if this resolved problems for you?

[2020-11-27 08:33] huangfeihong1860 commented on #694
Hi sound120，
I resolved the problems，because of  only  up VS Code to latest version1.51.1，thank you very much

[2020-11-27 08:34] SounD120 commented on #694
@huangfeihong1860 Glad to hear that. Can I close the issue?

[2020-11-30 09:34] SounD120 commented on #694
@huangfeihong1860 It seems that the issue has been resolved, so I am closing this issue.

[2020-11-30 09:34] #694 closed

[2020-12-15 12:28] SounD120 opened #696 "[Feature] Update contributing guide for the extension"
Update contributing guide to describe how to debug the latest version of the extension based on js-debug

[2020-12-16 14:45] #696 closed

[2020-12-23 10:27] #510 closed

[2020-12-25 09:46] RedMickey opened #700 "Replace Q package with native promises"
As for now extension uses Q promise package for async operations. Migration to async/await API will allow to remove redundant dependencies from the code base and also make it more consistent and reliable.
Since there are a lot of usages of Q in the extension, I think we can try to divide the work by the folders in the extension code base as pointed below.
Progress:
- [x] Replace all Q usages
  - [

[2021-01-18 11:03] iulian0512 commented on #586
worked for me on
 ProductName:	Mac OS X
ProductVersion:	10.15.7
BuildVersion:	19H2
AND
Android Studio 4.1.1
Build #AI-201.8743.12.41.6953283, built on November 5, 2020
Runtime version: 1.8.0_242-release-1644-b3-6915495 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2021-02-28 09:34] steho opened #705 "Cannot install in code on Manjaro linux"
## Actual Behavior
1. Enter cordova in extensions search field does not show up the extension
2. Enter ctrl-P and "ext install msjsdiag.cordova-tools" does nothing
3. Enter "code --install-extension msjsdiag.cordova-tools" ín the terminal shows:
        $ code --install-extension msjsdiag.cordova-tools
        Installing extensions...
        Extension 'msjsdiag.cordova-tools' not found.
        M

[2021-02-28 12:55] steho commented on #705
Sorry to have bothered you, I found out that Arch Linux uses another marketplace (OpenVSX).

[2021-02-28 12:55] #705 closed

[2021-03-05 22:51] bonjourjoel opened #706 "Cordova Client + Node Server debugging ->Debugger is mixed up"
Hi,

I am reporting a very anoying bug in vscode's debugger while using "Cordova Tools" extension, which makes it difficult to debug a server/client configuration.

I run/debug a node.js server opening a server websocket. Then i run/debug a cordova client connecting to the server with a websocket of its own. When i close Chrome's window, the server process crashes with exit(1) and no other explana

[2021-03-19 00:24] ChristianKuhn opened #708 "Why is -UseModernBuildSystem=0 added by default (fixed)?"
Hi!
My Cordova app does not build, when -UseModernBuildSystem=0 is set. Building/running from command line without this flag works.
Is there a reason, why this build flag is fixed in the plugin? This way it cannot be overriden, even when adding -UseModernBuildSystem=1 manually using runArguments.
https://github.com/microsoft/vscode-cordova/blob/860b1d787d0c6957abc61db3596443e30deaa168/src/debugger

[2021-03-19 13:49] etatanova commented on #706
Hi @bonjourjoel, thanks for reaching us. We've investigated this issue and opened the [PR](https://github.com/microsoft/vscode-cordova/pull/709) with a fix. Could you please check if this fix works for you?

You can install the extension with this fix by following these steps:
1. Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/6171471/cordova-tools-2.

[2021-03-19 18:01] bonjourjoel commented on #706
Hi @etatanova,
Thanks for your message.
I have done as you said and I can tell you this:

1) when i installed the extension and started my websocket server, i had the following message in "Output > Cordova" : "cordova-simulate dependency not present. Installing it...
......"
2) It works whatever you fixed and now I can work normally.
3) During the quick test I did, one thing didn't work perfectly

[2021-03-23 07:23] etatanova commented on #706
Hi @bonjourjoel, thanks for your help.

[Cordova-Simulate](https://github.com/microsoft/cordova-simulate) package is used in the extension to run and simulate Cordova applications in the browser. The package is installed automatically when `Simulate in browser` or `Run Browser` debugging scenario is launched for the first time. [The message in the output shows the downloading](https://github.com/m

[2021-03-23 07:32] bonjourjoel commented on #706
Ok great thanks a lot!

[2021-03-23 07:32] #706 closed

[2021-03-26 15:51] etatanova commented on #708
Hi @ChristianKuhn, thanks for reaching us. We've investigated this issue and opened the [PR](https://github.com/microsoft/vscode-cordova/pull/710) with a fix. Could you please check if this fix works for you?

You can install the extension with this fix by following these steps:

1. Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/6212802/cordova-tools

[2021-03-31 10:16] etatanova commented on #708
Hi @ChristianKuhn, do you have a chance to look at this?

[2021-03-31 11:02] ChristianKuhn commented on #708
Hi! Sorry but I haven't had time to work on this project. But I will get to this either today or tomorrow.

[2021-04-05 12:08] etatanova commented on #708
Hi @ChristianKuhn, do you have any updates?

[2021-04-15 10:21] etatanova commented on #708
Hi @ChristianKuhn, we are closing this issue since it's fixed. Changes will be available in the nearest release of Cordova Tools extension.

[2021-04-15 10:21] #708 closed

[2021-05-04 16:54] lszomoru opened #715 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-07 11:53] lszomoru opened #716 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-17 11:19] #715 closed

[2021-05-17 11:24] RedMickey commented on #716
Since the extension provides debugging functionality and depends on [vscode-js-debug](https://github.com/microsoft/vscode-js-debug) debugger, it doesn't support virtual workspaces.

[2021-05-17 11:24] #716 closed

[2021-05-26 14:33] aeschli commented on #716
Thanks for adopting the `virtualWorkspaces` capability!

It's now also possible to give a description why the capability is enabled or disabled:
[code]
[code]

This message can be seen in the extensions view:
![image](https://user-images.githubusercontent.com/6461412/119677934-6b755200-be3f-11eb-8db9-d8fbca6f8e67.png)

[2021-05-27 11:48] aeschli commented on #716
I forgot to mention that the new format requires 1.57 insiders.

[2021-07-22 09:51] RedMickey commented on #498
Hi @gaspachoandalus, I tested `cordovaExecutable` parameter usage on Windows 10 (VS Code v1.58.2, Cordova Tools v2.2.3) and could successfully run Cordova and Ionic applications via the extension. Below are my reproducing steps:
- Cordova project
    - Added `cordova` package to dev dependencies using `npm i cordova --save-dev`
    - Added `"cordovaExecutable": ".\\node_modules\\.bin\\cordova.cmd"

[2021-07-29 12:16] RedMickey commented on #498
We've updated the extension documentation for debugging scenarios parameters. I'm closing this issue.

[2021-07-29 12:16] #498 closed

[2021-08-19 14:02] #700 closed

[2021-09-02 12:30] brunolau opened #737 "cordova-android 10.1.0 - When running simulator, error Error: Project does not include the specified platform: android"
## Actual Behavior
1. Android (Simulate Android in browser) should start the simulator browser

## Expected Behavior
1. Error: Project does not include the specified platform: android

## Software versions
- Cordova VS Code extension version: 2.3.0
- VSCode version: 1.59.1
- OS platform and version: Win 10
- NodeJS version: v14.17.5
- Cordova version: 10.0.0
- Cordova-Android version: 10.1.0

## O

[2021-09-03 10:05] RedMickey commented on #737
Hi @brunolau and thanks for reaching us. Under the hood the extension uses the [`cordova-simulate` tool](https://github.com/microsoft/cordova-simulate) to simulate Cordova apps in the browser. While investigating we found out that [the original issue](https://github.com/apache/cordova-serve/issues/43) is in the `cordova-serve` package, which is used in the `cordova-simulate` tool. [The issue](http

[2021-09-09 08:23] DaanSchuitmaker commented on #737
Same issue here.

Cordova VS Code extension version: 2.3.0
VSCode version: 1.60.0
OS platform and version: Win 10
NodeJS version: v12.18.4
Cordova version: 10.0.0
Cordova-Android version: 10.1.0

launch command:
`{
            "name": "Simulate Android in browser",
            "type": "cordova",
            "request": "launch",
            "platform": "android",
            "target": "chrome",

[2021-09-15 14:21] #490 closed

[2021-09-15 17:55] RedMickey opened #738 "Simplify Cordova debugging session class"
We need to refactor [Cordova debugging session class](https://github.com/microsoft/vscode-cordova/blob/master/src/debugger/cordovaDebugSession.ts) to simplify this overloaded class and move application platform-specific code to specific platform classes. We believe this will improve code maintainability and readability.

[2021-09-17 15:38] RedMickey commented on #737
@brunolau, @DaanSchuitmaker
Until a new stable version of the `cordova-serve` package with the fix is released, as a workaround, you can try to manually install the nightly version of the `cordova-serve` package, which already contains the fix for this issue.
**_Please keep in mind that if the extension will be reinstalled or updated, `cordova-serve` will be replaced by its latest version again, s

[2021-09-17 21:33] faelv opened #739 "Simulate Android in Browser not working"
## Actual Behavior
1. Select **Cordova: Simulate Android in Browser**
2. Extensions outputs **cordova-simulate dependency not present. Installing it...**

**cordova-simulate** is installed, if I run `simulate --target=chrome` manually, it works

## Expected Behavior
1. Select **Cordova: Simulate Android in Browser**
2. App opens in browser

## Software versions
- Cordova VS Code extension version:

[2021-09-21 08:45] RedMickey commented on #739
Hi @faelv and thanks for reaching us.
The extension downloads and installs `cordova-simulate` package locally to the extension's folder and then uses the package for simulating in the browser. Under the hood the extension uses the `npm` command to install this package. So, the problem could be related to use of binaries from the PATH.
Could you please tell us how you installed Node.js (using NVM,

[2021-09-28 16:04] faelv commented on #739
Sorry for the delay, I installed npm through nvm, but launching code from terminal actually worked.

[2021-09-29 13:54] RedMickey commented on #739
@faelv If VS Code is launched from the terminal, it inherits all environment variables declared in the `.bashrc` (or `.zshrc`) file.  If VS Code is launched by means of the UI launcher, [it inherits environment variables from your profile file instead of rc](https://github.com/microsoft/vscode/issues/53529#issuecomment-402798173).
Could you please check if there is Node.js path in the VS Code proc

[2021-09-29 14:21] faelv commented on #739
Node was indeed missing from `process.env.PATH`, nvm was being loaded in `.bashrc`, which in turn is being included via `.profile`. Having been using node for quite a while and never had this problem, odd. Anyway, now `cordova-simulate` works when launching vscode via UI launcher. Thanks for the help.

[2021-09-30 13:17] RedMickey commented on #739
@faelv I was glad to help you! I’m closing this issue, please feel free to open new ones if needed.

[2021-09-30 13:17] #739 closed

[2021-10-08 13:09] RedMickey commented on #588
Hi @EOussama, now Cordova Tools extension supports Edge Chromium browser for the `Serve to the browser (Ionic Serve)` debugging scenario. Simulate debugging scenarios (e.g. `"Simulate Android in browser`, `Run Browser`) haven't supported Edge Chromium yet, because they use the [`cordova-serve`](https://github.com/apache/cordova-serve) package, which doesn't support Edge Chromium, to run Cordova ap

[2021-10-20 07:27] RedMickey opened #742 "Add Prettier formatter to the project"
We need to integrate Prettier formatter to the project and synchronize ESLint rules with Prettier in order to make autofix scripts work together. This will help to bring the code to a single style, and fix some style inconsistencies. This will improve maintainability and readability.

[2021-10-26 13:58] Franco-Alejandro opened #744 "Having issues while trying to debug android device"
## Actual Behavior
1. Tried to debug my Cordova-Angular project on an android device and placed a breakpoint
2. Breakpoint is greyed out
3. A breakpoint hits on the native js code generated, and not the actual typescript code i have

## Expected Behavior
1. Place a breakpoint after running "Run Android on device"
2. Breakpoint should hit on the ts code

## Software versions
- Cordova VS Code exten

[2021-11-01 13:56] RedMickey commented on #744
Hi @Franco-Alejandro and thanks for reaching us. We've investigated the issue and proposed the fix for it in the [PR](https://github.com/microsoft/vscode-cordova/pull/741). Could you please check if this fix works for you by following these steps?

- Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/7453712/cordova-tools-2.3.0.vsix.zip)
- Uninstall the

[2021-11-01 14:12] Franco-Alejandro commented on #744
Okay! I'll try it in a few hours and get back to you, thanks!!!!

[2021-11-01 17:34] Franco-Alejandro commented on #744
okay so, breakpoints are NOT hitting the js code, which is nice and fixes my issue... but they are greyed out when placing them so each time i place a breakpoint i need to restart the debugger

[2021-11-03 15:02] RedMickey commented on #744
@Franco-Alejandro We improved debugger behavior in this [VSIX](https://github.com/microsoft/vscode-cordova/files/7468388/cordova-tools-2.3.0.vsix.zip). Could you please try it out?
If the problem with breakpoints remains, could you please create and send us a minimal demo project with this problem? It will help us to reproduce the problem and investigate it faster. Thanks.

[2021-11-08 18:48] Franco-Alejandro commented on #744
On it

[2021-11-09 17:11] Franco-Alejandro commented on #744
The latest VSIX you sent is working amazingly on my device. It for sure works better than before and it has made my life easier.

[2021-11-10 11:12] RedMickey commented on #744
@Franco-Alejandro Glad to hear that and thanks for your assistance! Then I'm closing this issue. We'll release a new version of the extension with this fix soon.

[2021-11-10 11:12] #744 closed

[2021-11-10 11:12] #681 closed

[2021-11-17 22:33] jhubsharp opened #747 "Google Chrome not found on WSL / Windows 11"
## Actual Behavior
1. Simulating Android in the browser fails to find Google Chrome

## Expected Behavior
1. The browser starts and routes to the application

## Software versions
- Cordova VS Code extension version: 2.4.0
- VSCode version: 1.62.2
- OS platform and version: Windows 11 running WSL2 Ubuntu 20.04
- NodeJS version: v12.22.7
- Cordova version: 10.0.0

## Outputs (Include if relevant)
-

[2021-11-18 15:50] RedMickey commented on #747
Hi @jhubsharp and thanks for reaching us. Could you please tell us if you're using [VS Code Remote Development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack) and [Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) extensions to develop your Cordova app in Linux environment on Windows?

[2021-11-21 14:34] jhubsharp commented on #747
I have Remote WSL and Remote Containers installed.

[2021-11-21 18:57] rgilsimoes commented on #737
This fix is not working for me.

[2021-11-22 07:14] DaanSchuitmaker commented on #737
It is for me, but add some more information maybe it's something else.
Like:
-  VS Code Version
-  Cordova Extension Version
-  NodeJS version
-  Cordova Version

Add "trace" : true to your launch config to get a debug screen and add it to this thread.

[2021-11-22 11:48] rgilsimoes commented on #737
Sure, just didn't knew how-to help:

VS Code version: 1.62.3
Cordova Extension Version: 2.4.0
NodeJS Version: 14.16.1
Cordova Version: 10.0.0

Trace Console Output:

[code]

[2021-11-22 13:07] RedMickey commented on #737
Hi @rgilsimoes, could you please check the version of the `cordova-serve` package used in the extension?
To do this you can follow the steps below:
1. Open VS Code `extensions`  folder:
   * **Windows:** `cd %USERPROFILE%\.vscode\extensions`
   * **macOS:** `cd ~/.vscode/extensions`
   * **Linux:** `cd ~/.vscode/extensions`
 2. Go to `msjsdiag.cordova-tools-2.4.0/node_modules/cordova-simulate/node

[2021-11-22 13:34] RedMickey commented on #747
@jhubsharp we investigated the issue and found out that the current version of the extension doesn't support development (apps simulating) in Docker containers or via WSL. The extension and the external package for simulating Cordova apps in the browser require some modifications to work correctly in containers. We have added the issue to our backlog and will pick it up in order of priorities.

[2021-11-22 20:46] rgilsimoes commented on #737
Before:
"_from": "cordova-serve@4.0.0",
"version": "4.0.0"

After:
 "_from": "cordova-serve@nightly",
  "version": "4.0.1-nightly.2021.11.22.4f03d377"

After VS Code restart same problem and same output:

[code]

[2021-11-23 08:47] RedMickey commented on #737
@rgilsimoes I tried to reproduce the error on fresh Cordova and Ionic 5 applications the following way:

- Pure Cordova
    1. Created a Cordova app
[code]
    2. Installed Cordova Tools extension and started the `Simulate Android in browser` debugging scenario
    3. The extension installed the `cordova-simulate` dependency with the `cordova-serve` package version `4.0.0`
    4. Got the error `Pr

[2021-11-23 10:04] rgilsimoes commented on #737
Hi there,
I'm using Ionic 1 applications and android platform version was 7.4.
I removed the platform and added again with the current version and now it works.

So I did:
[code]
It works now.

[2022-02-03 08:09] brunolau commented on #737
Isn't there a possibility to include this nightly in the extension itself? The issue to release the patch is opened here https://github.com/apache/cordova-serve/issues/47 , but it seems to be lacking attention and it's really annoying to must go through all these steps each time the extension is updated

[2022-02-07 21:50] ajck commented on #438
@ruslan-bikkinin Was there ever a solution to this that I could apply manually? I am running the latest version of VSCode 1.63.2 with the latest version of Cordova Tools extension 2.4.1 on Windows 10, and have it set to "Simulate Android in the browser" but when clicking the Start Debugging icon, I still get the "Error: Project does not include the specified platform: android" in the Debug Console

[2022-02-07 22:21] ajck opened #755 "Use Brave browser instead of Chrome, when simulating Android in the browser?"
Is it possible to somehow have the Brave browser as the target for browser simulation of Android, rather than Chrome? Reason being that Brave is lighter weight and I already have it open for many things, so would prefer to open it in that rather than also load Chrome (my PC is resource limited). Thanks.

I opened launch.json and changed
` "target": "chrome",`
to
`"target": "brave",`
but got this o

[2022-02-08 07:18] RedMickey commented on #438
Hi @ajck, [this issue](https://github.com/microsoft/vscode-cordova/issues/737) could be related the `"Error: Project does not include the specified platform: android"`. [Here](https://github.com/microsoft/vscode-cordova/issues/737#issuecomment-921894375) you can find steps to fix this problem manually.

[2022-02-11 13:04] RedMickey commented on #755
Hi @ajck and thanks for your feedback, currently the extension doesn't support the Brave browser. We'll consider adding support for it and manage in order of priorities.

[2022-02-18 16:33] brunolau opened #756 "Unable to get device OS version. Details: Command failed: ideviceinfo -s -k ProductVersion"
## Actual Behavior
1. Unable to debug on iOS device on Mac

## Expected Behavior
1. Debugger attaches and works

## Software versions
- Cordova VS Code extension version:2.4.1
- VSCode version: 1.64.2
- OS platform and version: Mac
- NodeJS version: 16.14.0
- Cordova version: 10.0.0
- Cordova-Android/iOS/Windows version: iOS, 6.2.0

## Outputs (Include if relevant)
- Output of the Debug Console (V

[2022-02-21 11:43] RedMickey commented on #756
Hi @brunolau and thanks for reaching us. Currently the extension doesn't support iOS simulators due to this https://github.com/microsoft/vscode-cordova/pull/485. We'll investigate whether the [IWDP library](https://github.com/google/ios-webkit-debug-proxy) used under the hood in the extension supports iOS simulators now.

With respect to the error `Unable to find developer disk image` with an iOS

[2022-02-22 09:06] brunolau commented on #756
Hi, thanks for help. As of time of opening the issue I couldn't find the developer image for 15.3.1, but found it today, so I've moved one step ahead. Now the app launches, but my breakpoints are not hit. Last 3 lines I see in the output are

Process 1578 detached
Attaching to ios
Configuring debugging proxy

[2022-02-22 12:19] RedMickey commented on #756
@brunolau, could you please check if the `Safari Web Inspector` option is enabled on your device?
To reach the `Web Inspector` option you can do the following:
[code]

If the option is disabled, activate it and try to debug the app again.

If this option is enabled, could you please try to open the URL `http://localhost:9220/json` (port 9220 is the default port specified in the debug configuration

[2022-02-22 13:57] brunolau commented on #756
Hope I got your instructions correct, I'm unable to connect

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/15102770/155146682-7518501c-970e-4847-9e7c-07070b039346.png">

[2022-02-22 13:58] brunolau commented on #756
Also the part "Attaching to iOS"takes considerably long time (1-2 min)

[2022-02-22 15:42] RedMickey commented on #756
@brunolau It seems that the issue could be in launching iOS WebKit Debug Proxy, which is used by the extension to interact with applications running on iOS devices. Could you please try to do the following steps to check iOS WebKit Debug Proxy work:

1. In the terminal launch your application on an iOS device, the extension uses this command `cordova run ios --device --buildFlag=-UseModernBuildSys

[2022-02-22 20:31] brunolau commented on #756
This is what I got

Listing devices on :9220
Connected :9223 to xxx iPhone (xxx)
ssl recv failed: Undefined error: 0
Disconnected :9223 from xxx iPhone (xxx)

[2022-02-24 15:36] RedMickey commented on #756
@brunolau, It seems that there is a problem with establishing secure ssl connection to an iOS device. Since the problem is reproduced in the terminal, this could be an issue of [iOS WebKit Debug Proxy](https://github.com/google/ios-webkit-debug-proxy) library. We tried to reproduce the problem on several devices, but IWDP worked fine on our side.
Could you please open an issue in [iOS WebKit Debug

[2022-02-24 15:36] RedMickey commented on #756
@brunolau, It seems that there is a problem with establishing secure ssl connection to an iOS device. Since the problem is reproduced in the terminal, this could be an issue of [iOS WebKit Debug Proxy](https://github.com/google/ios-webkit-debug-proxy) library. We tried to reproduce the problem on several devices, but IWDP worked fine on our side.
Could you please open an issue in [iOS WebKit Debug

[2022-02-24 15:36] RedMickey commented on #756
@brunolau, It seems that there is a problem with establishing secure ssl connection to an iOS device. Since the problem is reproduced in the terminal, this could be an issue of [iOS WebKit Debug Proxy](https://github.com/google/ios-webkit-debug-proxy) library. We tried to reproduce the problem on several devices, but IWDP worked fine on our side.
Could you please open an issue in [iOS WebKit Debug

[2022-03-02 11:35] RedMickey opened #757 "Add support for iOS simulators"
We need to investigate whether it's possible to implement debugging of Cordova apps on iOS simulators using [iOS WebKit Debug Proxy](https://github.com/google/ios-webkit-debug-proxy) library. It seems that now we can [connect to an iOS simulator via a specific unix socket](https://github.com/google/ios-webkit-debug-proxy/issues/335#issuecomment-548358754).
If IWDP works with iOS simulators properl

[2022-03-09 09:00] bengrah-miller opened #759 "Ionic 3 / Cordova 10 - getting 'Error running android' error when using Run Android on Device, unable to set breakpoints"
## Actual Behavior
1. Create a cordova `launch.json` with two default configurations, _Run Android on device_ and _Attach to running Android on device_
2. Start _Run Android on device_ routine
3. App successfully builds, deploys onto device
4. VSCode then displays an alert message with the message 'Error running Android' with a button to open `launch.json`, doesn't attach to the app
5. I try to se

[2022-03-09 12:17] RedMickey commented on #759
Hi @bengrah-miller and thanks for reaching us. Could you please check the build output in the Debug Console for this error?
[code]

If you have a similar error to the message above in your build logs, it seems to be an Ionic issue related to Cordova 10. We've already opened [the issue about this error](https://github.com/ionic-team/ionic-cli/issues/4809) in the `ionic-cli` repository.
As a workaro

[2022-03-10 15:29] bengrah-miller commented on #759
@RedMickey Hi there - thanks for the quick response.

I was getting the error you described, so i created the `output.json` file and that's prevented the `Error running android` alert box. But breakpoints are still not being hit, not greyed out just circles. Here's the entire log:

[code]

[2022-03-11 13:57] RedMickey commented on #759
@bengrah-miller Could you please check if the problem is reproduced in a plain Ionic 3 project? You can create the project using this command `ionic start ionic3_app tabs --cordova --type=ionic-angular --no-link` in the terminal.

If the issue isn't reproduced in the plain Ionic 3 project, could you please create and send us a demo project with this problem, so that we can reproduce it? It could b

[2022-03-14 08:35] bengrah-miller commented on #759
@RedMickey Sure. I created a plain Ionic 3 starter project this morning, updated to `cordova-android@10.1.0` with a new `launch.json` - if I use the **Run Android on device** command I get the same alert box error _Error running android_, however the breakpoints do work. I've attached the **Debug Console** output for when you use the **Run Android on device** command below.

I think the project th

[2022-03-14 16:17] BMO568 commented on #759
Hi @bengrah-miller Could you please try out the patched extension with a probable fix for this issue by following these steps?

- Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/8246633/cordova-tools-2.4.1.vsix.zip)
- Uninstall the extension
- Close VS Code
- Open VS Code
- Click `Extensions -> ... -> Install from VSIX...` and select downloaded VSIX
-

[2022-03-15 14:31] bengrah-miller commented on #759
Hi @BMO568

I tried your patched version of the plugin - using the _Run Android on Device_ command worked fine, no 'Error running Android' alert box, but still not able to set breakpoints. I was still getting a lot of the `Could not read source map...` error. Here is the output from build to startup.

[code]

[2022-03-17 11:24] BMO568 commented on #759
@bengrah-miller Could you please add the `"trace": true` property to your debug scenario, set a breakpoint in the `main.ts` file, start debugging and send us logs from the `Cordova Chrome Proxy` output channel?

Source map URls with `file:///android_asset/...` are specific to pure Cordova projects(without Ionic). It would be helpful for us to investigate the issue faster if you could describe some

[2022-03-28 07:22] bengrah-miller commented on #759
Hi @BMO568 - sorry, I was on annual leave last week, I'll have a look at your response and come back to you

[2022-03-28 07:29] bengrah-miller commented on #759
Hi @BMO568

1. It's likely we initialised it using `ionic cordova start` - so I guess a combination of the two
2.  `"@angular/core": "^5.2.11", "ionic-angular": "3.9.2" - I'm not sure if there are any others that are relevant
3. We do use the following plugins:

[code]
4.

`ts.config.json`

[code]

`ionic.config.json`

[code]

We don't really have much config outside of adjusting the SplashScreen

[2022-03-30 16:03] BMO568 commented on #759
@bengrah-miller Thanks for the information. I tried to install all the provided plugins to a fresh Ionic 3 project, but couldn't reproduce the issue. We proposed an improvement for handling source map URLs for pure Cordova projects with Typescript in this [PR](https://github.com/microsoft/vscode-cordova/pull/761). Since source map URLs for Cordova projects are similar to you case, could you please

[2022-04-04 14:16] bengrah-miller commented on #759
Hi @BMO568 - just did this on the project we've been running into problems with.

[20220404-1514-cordova-chrome-proxy.txt](https://github.com/microsoft/vscode-cordova/files/8410403/20220404-1514-cordova-chrome-proxy.txt)

[20220404-1514-debug-console-with-trace.txt](https://github.com/microsoft/vscode-cordova/files/8410419/20220404-1514-debug-console-with-trace.txt)

[2022-04-04 16:23] JiglioNero commented on #759
Hi @bengrah-miller , so this [VSIX](https://github.com/microsoft/vscode-cordova/files/8381930/cordova-tools-2.4.1.vsix.zip) doesn't work for you?

[2022-04-05 06:47] bengrah-miller commented on #759
Sorry @JiglioNero - I should've mentioned, no it didn't work. Breakpoints still "greyed" out.

[2022-04-08 17:07] JiglioNero commented on #759
Hi @bengrah-miller , we've checked your CDP logs and tried to reproduce the file mappings you have, and we didn't have any problems with the VSIX mentioned above. I think that in order to continue working on this problem, we need a basic demo project on which this error will be reproduced.

[2022-04-14 15:56] JiglioNero commented on #759
Closing this issue due to inactivity, if the problem still occurs, and you can help us reproduce this error, then feel free to open this issue again

[2022-04-14 15:56] #759 closed

[2022-04-17 05:51] bonjourjoel opened #765 "Launch cordova -> Uncaught exceptions is auto-unchecked"
## Actual Behavior
1. In vscode, in the "Run and debug" / "Breakpoints" panel, I have "Uncaught exceptions" == checked.
2. When I run anything with cordova tools, it gets automatically unchecked.
3. Then I re-check it manually.

This is clearly non-blocking. It could even be a feature that I fail to understand. But as far as I'm concerned, it's quite annoying, and i may have re-checked this box on

[2022-04-17 06:09] bonjourjoel opened #766 "Launch cordova browser chrome after hard stop -> Chrome did not shut down correctly"
## Actual Behavior
1. During a browser/chrome debug session, i stop the program using vscode interface instead of closing the chrome window.
2. Next time i run the same debug configuration, i get a boring popup in chrome: "Chrome did not shut down correctly".
3. I have to dismiss it everytime. And I always do.

Like my previous issue, this is non-blocking. But it's annoying, and I have to repeat t

[2022-04-18 17:10] JiglioNero commented on #766
Hi @bonjourjoel and thanks for reaching us. We implemented a small workaround to this problem and created a test VSIX.
You can install it by following these steps:

1. Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/8507026/cordova-tools-2.4.1.vsix.zip)
2. Uninstall the extension
3. Close VS Code
4. Open VS Code
5. Click Extensions -> ... -> Install f

[2022-04-18 20:58] bonjourjoel commented on #766
Hi @JiglioNero. The prompt is gone, indeed. It works fine. Thanks.

[2022-04-18 20:58] #766 closed

[2022-04-19 10:45] JiglioNero commented on #766
Great, then these changes will appear in the next version of Cordova Tools

[2022-04-28 10:23] JiglioNero commented on #765
Hi @bonjourjoel  and we're sorry for the long response. We have fixed this error and created a test VSIX. You can install it by following these steps:

1. Download and unzip compiled extension [VSIX](https://github.com/microsoft/vscode-cordova/files/8581804/cordova-tools-2.4.1.vsix.zip)
2. Uninstall the extension
3. Close VS Code
4. Open VS Code
5. Click Extensions -> ... -> Install from VSIX... a

[2022-04-28 12:23] bonjourjoel commented on #765
Thanks a lot! It works. You just saved another 100.000 x 2 seconds of my life!

[2022-04-28 12:26] JiglioNero commented on #765
LoL, you are welcome ;D. These changes will appear in the next version of Cordova Tools

[2022-05-23 13:39] microsoft-github-policy-service[bot] opened #772 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-23 14:17] #772 closed

[2022-06-02 04:52] a51095 opened #777 "Unable to Debug on iOS Device"
- Node: 10.16.2
- nvm: 0.39.1
- Cordova: 9.0.0 (cordova-lib@9.0.1)
- Xcode: 13.4 (13F17a)
- Cordova Tools: 2.4.12022

[code]
`Run iOS on device` in VSCode, and the console reports the following error information
<img width="931" alt="error" src="https://user-images.githubusercontent.com/29021369/171555213-ac1afe9b-9849-43a4-b39e-7ef588e4ebc4.png">

Can you help me, thank you!

[2022-06-08 21:45] JiglioNero commented on #777
Hi @a51095 and sorry for the long response. This error does not reproduce for me for a project created in the following way:

1. Create Cordova app with command `cordova create cordova_app`
2. Add iOS platform via command `cordova platform add ios`
3. Run following debug config:
[code]
Could you please indicate what type of project you are using (Cordova/Ionic) and the steps to reproduce this erro

[2022-06-09 03:36] a51095 commented on #777
Hi, @JiglioNero
Think for review, This is a `Cordova` project, not ionic.
`cordova run ios --device --buildFlag=-UseModernBuildSystem=0 --no-update-notifier` and `Info.plist file not found`, Looks suspicious,  `Info.Plist` has been modified to `KapselLogin-Info.Plist`, so do I need to specify it again?
I think this error seems to be related to the `runArguments` key value pair. I only see that it

[2022-06-09 12:11] JiglioNero commented on #777
I'm not sure if this is related to `runArguments`, most likely a problem with connecting to your iOS device, because judging by the logs you provided, the app is trying to run on the simulator. This happens when there is no access to the connected device.

[2022-06-21 16:51] AndreiLobanovich commented on #777
@a51095 did you have a chance to check?

[2022-06-21 16:53] #756 closed

[2022-06-21 16:57] #606 closed

[2022-06-21 16:59] AndreiLobanovich commented on #511
Implemented in https://github.com/microsoft/vscode-cordova/pull/749.

[2022-06-21 16:59] #511 closed

[2022-06-21 17:02] #433 closed

[2022-06-22 12:35] AndreiLobanovich commented on #742
Completed in https://github.com/microsoft/vscode-cordova/pull/774

[2022-06-22 12:35] #742 closed, assigned to Samriel

[2022-07-20 06:42] EzioLi01 commented on #777
@a51095 Close inactive issue, please reopen and let me know if you still blocking by this issue.

[2022-07-20 06:42] #777 closed

[2022-07-21 10:05] EzioLi01 opened #779 "Cordova iOS debugger is not working on some high version iOS devices"

[2022-07-21 22:57] mkormendy commented on #346
This is not working anymore again.
Using extension v2.4.1

[2022-07-22 03:16] #738 closed

[2022-07-22 03:16] #779 closed

[2022-07-22 03:18] EzioLi01 opened #780 "Monitor iOS debugger stability"

[2022-07-28 02:50] EzioLi01 commented on #500
Close this inactive issue, follow the comment, we can use runtimeAtgs to setup chrome parameter. Please let me know if you still need this update.

[2022-07-28 02:50] #500 closed

[2022-08-08 06:54] EzioLi01 commented on #780
Complete this issue since iOS debugger is working fine currently, please create another issue if it have new bug. Thanks.

[2022-08-08 06:54] #780 closed

[2022-09-05 07:35] EzioLi01 commented on #755
Checked in [Apache Cordova Serve](https://github.com/apache/cordova-serve), the brave browser or chromiun browser is not in support list. We need to push some updates for the new support for cordova-serve firstly.

[2022-09-05 11:43] EzioLi01 opened #781 "Replace tasks in gulpfile.js with exports"
Replace tasks in gulpfile.js with exports

[2022-09-08 02:21] BimaDitya opened #782 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `2.4.1`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/IDEAPA~1/AppData/Local/Temp/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vsc

[2022-09-08 03:32] EzioLi01 commented on #782
@BimaDitya Thanks for reaching us, will investigate this and any found will update here.

[2022-09-09 02:58] EzioLi01 commented on #782
Hi @BimaDitya, I cannot get your profile file, could you please drag file to upload it directly?

[2022-09-14 02:05] EzioLi01 commented on #782
Hey @BimaDitya, could you please provide your profile file again? I cannot repro this from my side.

[2022-09-19 08:38] EzioLi01 opened #783 "[Bug] Could not find the task 'gulp: prepare-integration-tests'"

[2022-09-19 08:58] EzioLi01 commented on #782
Close this issue since customer have no further updates. Please reopen this or create a new one if you still need help. Thanks!

[2022-09-19 08:58] #782 closed

[2022-09-19 11:55] EzioLi01 opened #784 "[Bug] Do not delete Cordova project file in test resource when execute gulp clean"

[2022-09-20 02:36] EzioLi01 commented on #755
No further updates from cordova-serve owner to add other chromium browsers. Will close this issue for now, and if we can start to work on this, will create new issue for it.

[2022-09-20 02:36] #755 closed

[2022-09-20 08:24] #783 closed

[2022-09-20 08:24] #784 closed

[2022-09-22 06:03] #781 closed

[2022-09-23 08:11] EzioLi01 opened #789 "[Bug] Some parameter name in gulpfiles.js need to update"
Some strings in gulpfiles.js are incorrect, seems they're copied from RNT gulp task. We need to correct them.

[2022-09-27 06:20] EzioLi01 opened #790 "Add husky pre-commit to verify code format"
Add husky pre-push to verify code format

[2022-09-28 01:39] #790 closed, assigned to EzioLi01

[2022-09-30 06:47] #789 closed

[2022-10-10 06:28] benjaminbi opened #794 "Simplify gulfile.js by moving the scripts to separate files per function"
## Actual Behavior
1. Now all functions are sitting in one while making it very hard to read and maintain

## Expected Behavior
1. Simplify the gulp file as stated in the title to make it easier to maintain

[2022-10-11 10:20] #550 closed

[2022-10-13 11:05] EzioLi01 opened #797 "Go through and check incorrect string in source code"

[2022-10-18 02:27] EzioLi01 opened #798 "Prepare for 2.6.0"

[2022-10-20 03:01] #798 closed

[2022-10-24 03:21] EzioLi01 opened #801 "Extension debugging failed caused by missing package module"

[2022-10-24 05:59] #801 closed

[2022-10-26 09:39] EzioLi01 opened #804 "Update .gitignore file and gulp format task ignore list"

[2022-10-27 07:37] #794 closed

[2022-11-01 18:15] brunolau opened #807 "Typescript + Android simulator - breakpoints not binding outside of cordova directory"
Maybe I'm just missing something, but when I reference a typescript file that is one level above my cordova project folder, I cannot bind a breakpoint to it.

Is there a way to tell the debugger to also look one level up for the .ts file ?

[2022-11-02 10:09] EzioLi01 commented on #807
Hey @brunolau , now we're not supporting that, but we'd like to plan to add this in the future. Could you please share a sample to describe your request?

[2022-11-07 07:29] #804 closed

[2022-11-08 07:11] toldo-app commented on #807
Hi, here it goes

[cdv-repro.zip](https://github.com/microsoft/vscode-cordova/files/9958597/cdv-repro.zip)

[2022-11-08 07:12] brunolau commented on #807
Hi, here it goes

[cdv-repro.zip](https://github.com/microsoft/vscode-cordova/files/9958602/cdv-repro.zip)

[2022-11-08 07:37] brunolau opened #810 "Prevent some sourcemaps from loading"
Anytime my app iframes an youtube video with js enabled I receive message like mentioned below causing the app to hang. Is there a way to omit specific source maps from loading ?

The message:
WARNING: Processing source-maps of 1904 took longer than 11000 ms so we continued execution without waiting for all the breakpoints for the script to be set.WARNING: Processing source-maps of 1906 took longe

[2022-11-08 08:20] brunolau commented on #810
Or maybe to add - it would be sufficient if no sourcemaps from iframe were loaded

[2022-11-09 02:46] EzioLi01 commented on #810
Hey @brunolau , we had `sourceMaps` in config to disable it, but not support to ignore specific sourcemap, did you try this way in your application?

[2022-11-09 02:49] EzioLi01 commented on #807
Looking into this, maybe we can add some parameters in debugger setup to help user debug out of cordova root folder, investigating...

[2022-11-10 02:14] EzioLi01 opened #811 "[Feature] Enable CodeQL for ADO pipeline"

[2022-11-11 09:23] #811 closed

[2022-11-11 09:23] EzioLi01 opened #815 "[Bug] CodeQL: Disabling certificate validation is strongly discouraged"
https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Fvscode-cordova%2Ftree%2Fmaster?mode=list&severity=error

[2022-11-11 09:24] EzioLi01 opened #816 "[Bug] CodeQL: Weak hash algorithms are banned by the SDL. Switch to a SHA2 based cryptographic hash instead"
https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Fvscode-cordova%2Ftree%2Fmaster?mode=list&severity=error

[2022-11-11 09:24] EzioLi01 opened #817 "[Bug] CodeQL: This replaces only the first occurrence of "../""
https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Fvscode-cordova%2Ftree%2Fmaster?mode=list&severity=warning

[2022-11-15 04:25] EzioLi01 opened #818 "[Feature] Improve unit test and test report"

[2022-11-17 01:57] #816 closed

[2022-11-18 03:20] #797 closed

[2022-11-18 09:51] #818 closed

[2022-11-23 03:11] #817 closed

[2022-11-23 03:11] #815 closed

[2022-11-29 11:39] EzioLi01 opened #825 "[Feature] Using CodeQL alert suppressions rather than LGTM alert suppressions"