[2018-02-26 19:56] lordneru commented on #371
Same happens here.

[2018-03-04 05:33] danieltorrecillas commented on #204
Is this still correct? That is, does v1.3.5 work with apps using Crosswalk?

[2018-03-05 10:58] max-mironov commented on #368
Closing this item for now as the upper issue is investigated and not related to the original one.
However regarding the last issue - we will release new version as soon as the new version of `cordova-simulate` will be released.
Please let us know if you see any issues or have any questions.

[2018-03-05 10:58] #368 closed

[2018-03-05 10:59] max-mironov commented on #353
Closing this at the meantime, please let us know when you get a chance to revisit this issue.

[2018-03-05 10:59] #353 closed

[2018-03-05 15:47] swindex opened #380 "v1.3.6 Debug adapter process has terminated unexpectedly"
## Actual Behavior
1. When Trying to launch Debug on any configuration it fails with error: Debug adapter process has terminated unexpectedly

After rolling back to version 1.3.4 everything works

## Expected Behavior
1. Expect it to work

## Software versions
- Cordova VS Code extension version: 1.3.6
- VSCode version: 1.2.0.1
- OS platform and version: Win 10
- NodeJS version: latest
- Cordova v

[2018-03-05 16:09] #125 closed

[2018-03-05 17:23] GitStorageOne opened #381 "Option to hide "Login to App Center""
## Actual Behavior
1. "Login to App Center" always visible at the left bottom of vscode editor.

## Expected Behavior
1. Option to hide login button.

## Software versions
- Cordova VS Code extension version: 1.3.6
- VSCode version: 1.20.1

[2018-03-05 17:49] max-mironov commented on #380
Hey there @swindex, thanks for feedback, could you please try new version [1.3.7](https://github.com/Microsoft/vscode-cordova/releases/tag/1.3.7) and let us know how it works?

[2018-03-05 18:11] swindex commented on #380
Hi, Thanks for quick response.
Don't know what to do with the link you provided (don't have time to figure out either)
I downloaded from https://marketplace.visualstudio.com/_apis/public/gallery/publishers/vsmobile/vsextensions/cordova-tools/1.3.7/vspackage

And it works.

[2018-03-05 18:38] sergey-akhalkov commented on #380
Hi @swindex, so I'm closing this, please feel free to reopen if you have any questions or see any issues.

[2018-03-05 18:38] #380 closed

[2018-03-06 10:15] max-mironov commented on #381
Hi @GitStorageOne and thanks for feedback. That really make sense to show this only when needed, so we've added logic to show appcenter statusbar only in case you have `cordova-plugin-code-push` installed.
Here is the relative PR: https://github.com/Microsoft/vscode-cordova/pull/382
We are planning to release new update for extension soon.

Thanks again and let is know if you see any issues or hav

[2018-03-06 13:03] max-mironov commented on #381
Released new version for vscode cordova extension, so closing the issue for now, please feel free to reach us if you have more questions.

[2018-03-06 13:03] #381 closed

[2018-03-11 21:54] swindex opened #386 "Error launching simulation After updating android platform to 7.0.0"
## Actual Behavior
1. Launch Simulate Android in Browser throws error: ([cordova-tools] Error processing "launch": Error: Error starting the simulation)

## Expected Behavior
1. Expect it to not throw exception

android platfrom is installed cleanly and is present in platfroms.json and config.xml

## Software versions
- Cordova VS Code extension version: 1.3.8
- VSCode version: 1.21.0
- OS platfor

[2018-03-19 23:38] rmeske opened #388 "Support building all Cordova supported platforms"
Currently you only have the option to build & debug a Cordova project for the iOS or Android platform.  Cordova support many other platforms including Windows Universal Apps.  To build for these other platforms you have to open a terminal window and use the CLI to build them.

At a minimum I would expect that building a Windows Universal App when running on the Windows platform would be a priority

[2018-03-24 23:17] gedw99 commented on #388
i also would liek this to be better supported.
If its only at CLI level, then more docs on that woudl be great to get going.

[2018-03-24 23:24] gedw99 opened #389 "how to sign the apps"
is there any info on how to sign the apps for IOS and Android anywhere ?

[2018-03-25 12:12] gedw99 opened #390 "How to build for MaCOS or WIndows"
How can i build a MaxOS Cordova app ?

At the moment i am using VS2017 in order to build WIndows apps.
But to Build MacOS apps i see nothing...

Can you point me in the right direction. If MS dont support his then let me know rather than push me to some other forum please. I really need to get this working.

[2018-03-27 09:29] wolfuma opened #391 "platfomr add android"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- Cordova VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- Cordova version:
- Cordova-Android/iOS/Windows version:

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the Cordova output channel (View -> Toggle Output ->

[2018-03-27 09:29] #391 closed

[2018-04-03 12:53] jmesa-sistel commented on #368
'ionic cordova platform add android ' command is not creating www folder, I think this is the problem.

[2018-04-07 14:35] xProgrammer-007 commented on #294
If you get message platform exists even after removing it ,
Make sure you don't have the folder platforms or any file inside it open in code editor .

[2018-04-10 07:52] annakocheshkova commented on #386
Hi @swindex, thank you for your request. The issue itself appears to be in `cordova-serve` plugin.
They detect the platform `www` root wrong: in android@7.0 it has moved from `assets/www` to `app/src/main/assets/www`. I suggest you open an issue in their repository.

[2018-04-12 20:47] MolallaComm opened #392 "ionic serve option only works if you include cordova"
When creating ionic projects, newer versions of "ionic start" default to not including cordova (it ask you if you want to include cordova and defaults to no).  If you accept the default to not include cordova and later setup the project for debugging with this extension using the "Serve to the browser (ionic serve)" option - when you click the Debug button, vscode just hangs and never kicks off an

[2018-04-16 08:28] #386 closed

[2018-04-16 12:12] SpellCraft opened #393 "Endless loop when running on android"
## Actual Behavior
1. Press "Run Android on Emulator (AppName)" Hotkey (F5)
2. Emulator starts, and an endless loop of:
[code]
occurs until I run the command "adb kill-server"

## Expected Behavior
1. Press "Run Android on Emulator (AppName)" Hotkey (F5)
2. Wait for the emulator to launch and vscode to attach to the app

## Software versions
- Cordova VS Code extension version: 1.3.8
- VSCode vers

[2018-04-22 12:52] Refs commented on #337
I just encountered same error.   the ${workspaceRoot} should be ionic project root directory which is generated by 'ionic start project '. so the .vscode/lanuch.json  should in the directory which contain 'platforms/' directory

[code]

just try!

[2018-04-22 21:58] ultimatetag commented on #371
Same issue here. For me, it looks like Cordova is putting the Android www build here:

My Ionic app scripts is putting Android platform here:

@ionic/app-scripts/dist/dev-server/serve-config.js:
exports.ANDROID_PLATFORM_PATH = path.join('platforms', 'android', 'app', 'src', 'main', 'assets', 'www');

But I think the simulator expects the folder to be here:
platforms/android/assets/www

Is there an

[2018-04-24 10:15] benshabatnoam opened #396 "Separate output window on each Cordova:Run command"
## Actual Behavior
Running command Cordova:Run is lunching new output window

## Expected Behavior
Running the command will overwrite the current output window if exists

## Software versions
- Cordova VS Code extension version: 1.3.9
- VSCode version: 1.22.2
- OS platform and version: Windows 10 Enterprise 2016 LTSB
- NodeJS version: v8.9.4
- Cordova version: 8.0.0
- Cordova-Android version: 7.0.

[2018-04-24 19:47] caferosco opened #397 "Simulate Android in browser Debug option not working"
## Actual Behavior
Attempt to simulate app, but Visual Studio Code error appears:
[cordova-tools] Error processing "launch": Error: Error starting the simulation at Socket. <anonymous>

## Expected Behavior
Google Chrome should launch showing app simulated in browser with cordova-simulate tools appearing in VSCode.
If "Run Browser" is selected and the browser is added as a platform, browser launch

[2018-04-25 12:08] caferosco commented on #397
UPDATE:  Have opened a ticket with Apache's Cordova team: https://issues.apache.org/jira/browse/CB-14054

[2018-04-25 12:08] #397 closed

[2018-05-01 02:52] eddskt commented on #368
Hello, I'm using vs code 1.22 and I'm having the same problem on console.
![image](https://user-images.githubusercontent.com/6931017/39459389-7e2c8cca-4cd1-11e8-899a-2355926a656d.png)

[2018-05-01 18:09] MathewLC commented on #368
I having the same issue but in windows OS. Do you have any answer????

[2018-05-02 04:40] eddskt commented on #368
I solved the problem just by doing the following:

**1** - cordova platform rm android
**2** - Removing a platform I went into the Visual Studio Community and did a compilation in debug mode in the browser.
**3** - Without platform, he asked to add. I clicked Yes

I do not know if it was incompatibility on the platform or in the dependencies yet.
But adding the platform by visual studio, he correc

[2018-05-03 13:08] ruslan-bikkinin commented on #389
Hi @gedw99
Please refer to the following guidelines:
https://developer.android.com/studio/publish/app-signing
https://developer.apple.com/support/code-signing

[2018-05-03 13:08] #389 closed

[2018-05-08 13:36] nightwolf13 commented on #337
Have similar problem...
Debug Console trying again and again:

Command finished with error code 0: C:\Users\ATkachenko\AppData\Local\Android\sdk\platform-tools\adb.exe -s,emulator-5554,shell,ps
.Running adb shell command "ps" on target emulator-5554...

[2018-05-09 20:09] Amosss opened #398 "Automatic reload of ionic changes when simulate Androind in browser"
Hi

My launch.json section for simulating Android in browser looks like this:
{
            "name": "Simulate Android in browser",
            "type": "cordova",
            "request": "launch",
            "platform": "android",
            "target": "chrome",
            "simulatePort": 8000,
            **"livereload": true,**
            "sourceMaps": true,
            "cwd": "${workspaceRoot}

[2018-05-10 13:35] iTOYS commented on #396
Hi @benshabatnoam, thank you for reaching us!
Fix already in PR :)

[2018-05-10 14:00] iTOYS commented on #390
Hi @gedw99
You can build osx apps only on MacOS system. Please see [requirements](https://cordova.apache.org/docs/en/latest/guide/platforms/osx/#requirements-and-support)
You cant build it on a Windows.

Thanks!

[2018-05-10 14:00] #390 closed

[2018-05-10 14:57] iTOYS commented on #393
Hi @SpellCraft
Could you please check if `cordova run android --emulator` works from command line?

[2018-05-10 17:55] iTOYS commented on #392
Hi @MolallaComm, thanks for reaching us!
This issue fixed in #401
Will be available when new version of a extension will be released!

[2018-05-10 18:15] #396 closed

[2018-05-11 10:43] #392 closed

[2018-05-11 12:11] iTOYS commented on #371
Hi there,
We use `cordova-serve` under the hood to run simulation.
It has [PR](https://github.com/apache/cordova-serve/pull/6) to fix this issue.
We will update our dependency as soon as this PR will be merged and new release will be published.

As a workaround you can manually apply patch from a PR in your `node_modules`

Thanks!

[2018-05-11 12:30] iTOYS commented on #398
Hi @Amosss
Could you please fill issue by [template](https://github.com/Microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md)

Thanks!

[2018-05-11 12:38] iTOYS commented on #372
Hi @rlam3
Could you please describe a problem that you have faced?

[2018-05-11 12:43] iTOYS commented on #191
Hi there, sorry for delay.
Are you still faced this issue?

[2018-05-11 12:50] iTOYS commented on #82
VSCode install typings automatically

[2018-05-11 12:50] #82 closed

[2018-05-11 12:59] iTOYS commented on #337
Hi @nightwolf13
Could you please share example project with us to reproduce?

Thanks!

[2018-05-11 13:01] iTOYS commented on #339
Hi there, sorry for delay!
Are you still facing this issue?

[2018-05-11 13:14] iTOYS opened #402 "Could not create 'local-storage.json' when run simulate configuration on MacOS"

[2018-05-11 13:19] #402 closed

[2018-05-15 11:02] iTOYS commented on #337
@nightwolf13
For clarification, you already have Android 8.0 emulator run when you launch `Run Android on emulator` configuration?

[2018-05-15 11:09] nightwolf13 commented on #337
@iTOYS
Yes.. The full scenario:
1) I start android emulator
2) Run app on android emulator, usually after very first run it works..
3) After some time (probably reason is that i remove and add android platform) it stop launching app on emulator... Debug out shows error which i wrote previously..
When this bug occurs, even restarting of VS Code didn't work.. Only complete machine reboot could help.

[2018-05-15 13:47] iTOYS commented on #337
@nightwolf13
I've been tried your case, sorry but all works fine for me.
Can you try if this works when you run `cordova run android --emulator` in your terminal?

Thanks!

[2018-05-15 13:49] nightwolf13 commented on #337
@iTOYS
It also doesn't work.. But it didn't show any message.. just stack at one moment..

[2018-05-15 14:04] nightwolf13 commented on #337
@iTOYS
I will try and let you know.. I switched to Android 5 emulator (which as i said works fine on my machine).. so i need some time to reuse and reproduce this bug with Android 8..

[2018-05-16 10:50] nightwolf13 commented on #337
@iTOYS
Reproduced this bug again..
But tried to run cordova run android --emulator, and it works.. (maybe last times i stopped earlier then necessary, because there is a moment of building apk, when points are showing progress, and it continued very long)..
After that trying to run app on emulator using VS Code again, and it stacked on the message i wrote above..

[2018-05-16 11:59] iTOYS commented on #337
@nightwolf13
Finally caught this on Windows 10 and Android 8 Emulator.
Also could not run with `cordova run android --emulator`, the same behaviour.

[2018-05-16 12:25] iTOYS commented on #337
Tried on another Android 8 Emulator(Pixel XL) and all works fine.

[2018-05-16 13:28] iTOYS commented on #339
Closing now! Feel free to reopen if you still have this issue

[2018-05-16 13:28] #339 closed

[2018-05-16 13:32] #190 closed

[2018-05-16 13:36] iTOYS commented on #191
Closing now! Feel free to reopen if you still have this issue

[2018-05-16 13:36] #191 closed

[2018-05-16 13:43] iTOYS commented on #225
Checked with default `ionic start IonicApp1 tabs --type=ionic1`
All works fine.
Closing now! Feel free to reopen if you still have this issue

[2018-05-16 13:43] #225 closed

[2018-05-21 01:53] jkristia commented on #87
I know this issue is closed, but I'm seeing similar issue when I use 'Attach to running iOS on device'.
I have not been able to get 'Run iOS on device' working, so instead I tried to run 'ionic cordova run ios --device --livereload' in a console and hoped I would be able to simply attach.

I get this error:
[cordova-tools] Error processing "attach": Error: Unable to find webview at retry (/Users/<

[2018-05-21 07:51] iTOYS commented on #87
Hi @jkristia
We are using https://github.com/google/ios-webkit-debug-proxy/ under the hood to detect webview's.
Your issue related to this https://github.com/google/ios-webkit-debug-proxy/issues/250

Thanks!

[2018-05-22 14:09] SpellCraft commented on #393
Hello!

Sorry for not replying sooner. I can run android just fine from the CLI, but this tends to happen when the emulator is already running and having been idle for a little while or the first time I start it.

What seems to work for me though if the emulator is running is to delete my app from the android emulator, then it suddenly loads the app again.

[2018-05-24 09:26] ruslan-bikkinin commented on #372
Hi @rlam3 just a friendly ping on this.

[2018-05-25 14:50] iTOYS commented on #388
Hi there,
Sorry for delay! Cordova tools support build for all available platforms with commands from command palette. In #407 added selection of specific target platform for commands prepare, build and run.

Unfortunately Cordova tools haven't support debug for platforms other than Android, iOS and Browser.

[2018-05-25 18:19] redwolf2 commented on #368
I solved my problem by killing all `Code.exe` tasks using the task manager.

[2018-05-28 11:01] #250 closed

[2018-05-28 15:14] iTOYS commented on #388
You can use VS2017 for debug windows platform
https://cordova.apache.org/docs/en/latest/guide/platforms/windows/

[2018-05-28 15:14] #388 closed

[2018-05-28 15:16] iTOYS commented on #398
Closing now! Feel free to reopen and fill by [template](https://github.com/Microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md) if you still have this issue!

Thanks!

[2018-05-28 15:16] #398 closed

[2018-05-28 15:20] iTOYS commented on #371
upd. Fixed there https://github.com/apache/cordova-serve/pull/7

[2018-05-31 11:21] #372 closed

[2018-05-31 12:07] iTOYS commented on #393
Sorry, but I can't reproduce this issue, all works wine with already run emulator. Some issue may occurs while emulator starting, we have timeout to emulator start to prevent stuck!

Thanks!

[2018-05-31 12:07] #393 closed

[2018-05-31 12:11] iTOYS commented on #337
Please try to re-create your emulators to prevent this issue.
Closing for now, feel free to reopen if you still have this issue after re-create!

Thanks.

[2018-05-31 12:11] #337 closed

[2018-06-04 09:59] Mowzey123 commented on #355
hello
vsmobile.cordova-tools-1.3.1\out\src\debugger\cordovaDebugAdapter.js this path doesn't exist on my side.
Any Help

[2018-06-05 17:11] daraul opened #415 "Add support for environment variables"
If this is already implemented, please let me know.

Currently, I can run an ionic project with the following commands to change environment:

`ENV=staging ionic serve -l`
`ENV=dev ionic cordova run android -l`
`ENV=production ionic cordova build android`

I want to be able to do this using the debugger, but I can't figure out how to pass that variable in when starting the debugger. Any help?

[2018-06-05 17:16] daraul commented on #415
May be useful to note that this is not default ionic behavior as of posting this issue. I used a solution written by @writer0713 here: https://github.com/writer0713/ionic-environment-setting/blob/master/README.md

[2018-06-08 15:55] Takkuz opened #416 "Add support for local installation of Cordova/Ionic"
I'm actually  not using global version of Ionic and Cordova and it would be great if (I'm not using global packages at all), before running the command for the "launch" request it should be great adding `node_modules/.bin` as first element on local PATH, as NPM does when running `npm run something`.

## Actual Behavior
1. Not having Cordova or Ionic installed as `--global` but as a project modules

[2018-06-13 08:10] iTOYS commented on #416
Hi @Takkuz
We already have the same issue#181! I'm close this issue as a duplicated.
Thanks!

[2018-06-13 08:10] #416 closed

[2018-06-21 07:54] #371 closed

[2018-06-27 01:50] ph55 opened #420 "Any way to specify folder ?"
I have mono-repository project where cordova `www` folder compiled inside nested directory.
So the project structure is something like this:

[code]

Any way to specify in `launch.json` too "look" inside `cordova-builds/app-ono-mobile` folder ?
This one doesn't work:
[code]

[2018-06-27 07:39] iTOYS commented on #420
Hi @ph55,
Unfortunately it's impossible for now. VSCode Cordova extension requires the workspace root to be your Cordova project's root.

[2018-06-27 15:18] #420 closed

[2018-07-10 20:03] ghanendrapiplani commented on #126
starting vscode from terminal using cmd: `code nameofFolder` solves the problem of adb not found on path.

[2018-08-06 18:32] antcasq opened #422 "Ionic 4 debug not working"
## Actual Behavior
When launching an Ionic 4 project with the "Serve to the browser (ionic serve)" configuration it shows an error with the following message "Error: Serving to the browser is currently only supported for Ionic projects".
The other options to launch the project also fail.

## Expected Behavior
It should work like it does in Ionic 3.9.2

## Software versions
- Cordova VS Code extens

[2018-08-07 12:59] #181 closed

[2018-08-07 12:59] #415 closed

[2018-08-07 13:58] iTOYS commented on #422
Hi @antcasq
Thanks for reaching us! Unfortunately I couldn't reproduce this issue.
Could you please provide to us reproducing steps, e.g.:
[code]

Thanks!

[2018-08-08 14:50] antcasq commented on #422
Hi!

In order to create an ionic 4 version project you must pass the option "--type=angular"
(see: https://beta.ionicframework.com/docs/installation/cli)

So if you create a project like
`ionic start myApp tabs --type=angular`
you will be able to reproduce the error.

Check if the following file exists to make sure you have created the project correctly: src/app/app-routing.module.ts

Thanks for t

[2018-08-13 12:56] #422 closed

[2018-08-15 16:09] allanpoppe opened #424 "Ionic 3 breakpoint highlight on wrong line"
## Actual Behavior
1. Set a breakpoint on a line
2. Code stops with the highlight 2 lines above (sometimes 3, 4)

## Expected Behavior
1. Set a breakpoint on a line
2. Code stops with the highlight at that line

## Software versions
- Cordova VS Code extension version: 1.4.0
- VSCode version: 1.26.0
- OS platform and version: MacOS 10.13.6
- NodeJS version: 8.9.3
- Cordova version: 8.0.0
- Cordova

[2018-08-17 15:38] jmorelos96 opened #425 "Can't debug well"
Issue Type: <b>Bug</b>

When i start running in my android through the plugin of cordova tools i cant debug, but if i choose attach android it can debug just in that way, this error happens when i update my visual code version to a newest

Extension version: 1.4.0
VS Code version: Code 1.25.1 (1dfc5e557209371715f655691b1235b6b26a06be, 2018-07-11T15:43:53.668Z)
OS version: Windows_NT x64 10.0.17134

[2018-08-19 15:58] dinana opened #426 "Ionic v4 breakpoints are unverified"
## Actual Behavior
1. Select 'Simulate iOS in browser' in VS Code
2. Set breakpoint
3. breakpoint is unverified

## Expected Behavior
1. breakpoint is verified
2. breakpoint is hit

## Software versions
- Cordova VS Code extension version: 1.4.0
- VSCode version: 1.26.1
- OS platform and version: MacOS 10.13.2
- NodeJS version: 10.6.0
- Cordova version: 8.0.0
- Cordova-Android/iOS/Windows version:

[2018-08-19 16:08] dinana commented on #426
Worth mentioning, that if I enable developer tools in chrome and set a breakpoint there it is hit and VS Code is focused with the breakpoint hit, this is how it shows in the breakpoints panel:
<img width="529" alt="image" src="https://user-images.githubusercontent.com/1944157/44310690-c948f580-a3da-11e8-8f03-999c4311daaa.png">

U can see the old breakpoint set in my source shown as unverified and

[2018-08-21 15:04] JosepAlacid commented on #424
On each and every update of VSCode, Ionic 3 breakpoints work wronger than in previous version...
As 3 teams are involved (VSCode, Ionic and Cordova) they send responsibility to the other two.

[2018-09-11 12:13] redwolf2 commented on #422
I still get this issue with release 1.4.0

[2018-09-11 13:10] redwolf2 commented on #422
When will there be a release version with the fixes?

[2018-09-11 20:32] bidwej commented on #426
How did you hit breakpoints in Chrome? Did you set typescript mapping paths in "tsconfig.json"? Thank you!

[2018-09-14 13:28] realivanjx opened #427 "Error Debugging on Any Configurations"
Hi,

When im trying to run cordova app (android device or browser), this error message comes up:

![screenshot_10](https://user-images.githubusercontent.com/12814796/45552720-109c9780-b85c-11e8-8598-f69fe7effe1c.png)

Also here is my project structure:

![screenshot_8](https://user-images.githubusercontent.com/12814796/45552777-3164ed00-b85c-11e8-82aa-45dde8fdbc21.png)

available options:

![scree

[2018-09-14 13:39] redwolf2 commented on #427
This is a dublicate of https://github.com/Microsoft/vscode-cordova/issues/422, which is already resolved.

But sadly there is no current release (1.4.0 is the current), that has the fix.

[2018-09-14 13:41] realivanjx commented on #427
Thanks for the quick reply but he uses ionic. In this case I don't use anything yet just plain html file.

[2018-09-14 13:43] realivanjx commented on #427
is that matter?

[2018-09-14 14:10] redwolf2 commented on #427
Sry, I deleted my answer, because it was missleading. What happens if you try "cordova run android" from console.

Make sure you have cordova and android installed

`npm install -g cordova`
`cordova platforms add android@7.1.1`

[2018-09-14 14:13] realivanjx commented on #427
`cordova run android` returns `LAUNCH SUCCESS` at the end but the debugger wont start. Only the app on the android that runs automatically. The error still persist when I hit `F5`.

[2018-09-14 14:17] realivanjx commented on #427
here is my `config.xml`:

'''
<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test</name>
    <description>
        Test
    </description>
    <author email="me@mail.com">
        Test
    </author>
    <content src="index.html" />
    <access origin="*" />

[2018-09-14 14:26] realivanjx commented on #427
but is there any way to automate cordova run android and the attachement process?

[2018-09-14 14:45] redwolf2 commented on #427
Yes, "Run Android on device" is the way to do it and it should've worked. So this issue is fine with me.

If nothing goes, another option is to use Chrome. Open it, go into the Developer Tools. Press "More Tools", "Remote Devices". Look for your device (Developer Mode and ADB Debugging must be enabled on the device and it must be attached to the PC via USB and `adb devices` must list the device as

[2018-09-14 14:48] realivanjx commented on #427
well `Run Android on device` still throwing the same error

[2018-09-14 14:48] realivanjx commented on #427
only the attaching that works

[2018-09-14 14:53] redwolf2 commented on #427
Also check out if this helps:

https://github.com/Microsoft/vscode-cordova/issues/368#issuecomment-385862862
https://github.com/Microsoft/vscode-cordova/issues/368#issuecomment-392140576

[2018-09-18 05:55] realivanjx commented on #427
all fixed. I just moved all `src` folder content into the folder's root folder.

[2018-09-18 05:55] #427 closed

[2018-09-18 09:21] blondie63 opened #428 "error using Simulate IOS in browser"
## Actual Behavior
1. i've installed plugin vscode-cordova and configured it
2. i choosed Simulate IOS in browser and Run

## Expected Behavior
1.
2.

## Software versions
- Cordova VS Code extension version: 1.4.0
- VSCode version: 1.27.2
- OS platform and version: OSX 10.13.6
- NodeJS version: 8.11.4
- Cordova version: 8.0.0
- Cordova-Android/iOS/Windows version:
android 7.0.0
browser 5.0.4
ios

[2018-09-19 13:41] shahramSo opened #429 "ionic 4"
## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- Cordova VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- Cordova version:
- Cordova-Android/iOS/Windows version:

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the Cordova output channel (View -> Toggle Output ->

[2018-10-01 21:47] bidwej commented on #422
I am still running into the same issue with Ionic 4. Any suggestions? Thank you

[2018-10-02 01:19] redwolf2 commented on #422
@bidwej That's because the current version 1.4.0 does not have this fix.

[2018-10-02 12:17] bidwej commented on #422
Super. How did I install from source? I tried "npm run postinstall", but I
am not seeing a vsix file for a manual install.

On Mon, Oct 1, 2018, 9:19 PM redwolf2 <notifications@github.com> wrote:

[2018-10-02 14:06] redwolf2 commented on #422
I currently do:
Use `ionic serve` with the Crome Debugger extension for debugging and use this launch.json configuration,

[code]

[2018-10-02 14:12] redwolf2 commented on #425
See this post: https://github.com/Microsoft/vscode-cordova/issues/422
In short: It is fixed, but there is no new release.

[2018-10-02 14:48] bidwej commented on #422
How would we get a version that's more recent than version 1.4.0 as you
mentioned? I am assuming we would download the source to the
".vscode-insiders/extensions" folder and then run "npm install" and "npm
run compile". Is that right?

On Tue, 2 Oct 2018 at 10:06, redwolf2 <notifications@github.com> wrote:

--
Jon Bidwell, PhD
School of Interactive Computing
Georgia Institute of Technology
bidwej@

[2018-10-02 14:53] bidwej commented on #422
Thank you. It works. Here's what I did.

[code]

I still receive an error when setting breakpoints. Everything seems to work ok.
[code]

[2018-10-08 08:58] SounD120 commented on #429
Hi @shahramSo and thanks for reaching us. I'm closing this issue for now, but you free to reopen it and adding some details about your question using our [issue template](https://github.com/Microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md).

[2018-10-08 08:58] #429 closed

[2018-10-08 09:15] SounD120 commented on #425
Hi @jmorelos96. Could you please describe error you facing?

[2018-10-08 15:02] jmorelos96 commented on #425
I haven't seen that issue anymore.
El lun., 8 oct. 2018 a las 4:15, Yuri Skorokhodov (<notifications@github.com>)
escribió:

[2018-10-08 15:05] SounD120 commented on #425
Closing now! Feel free to reopen and fill by [template](https://github.com/Microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md) if you still have this issue!

Thanks!

[2018-10-08 15:05] #425 closed

[2018-10-15 07:17] SounD120 commented on #428
Hi @blondie63. I tested this case on cordova 8.1.2, but it's not reproducing. Are you using pure cordova without ionic? Also check access rights for global cordova library. It may be purely problem of insufficient rights.

[2018-10-15 08:08] blondie63 commented on #428
Hi, no, i'm using with ionic prj..

[2018-10-15 08:10] SounD120 commented on #428
@blondie63 Then can you add exact ionic version you using?

[2018-10-15 09:34] blondie63 commented on #428
✔ Gathering environment info - done!

Ionic:

   ionic (Ionic CLI)  : 4.1.2 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.0

Cordova:

   cordova (Cordova CLI) : 8.0.0
   Cordova Platforms     : android 7.0.0, browser 5.0.4, ios 4.5.5
   Cordova Plugins       : cordova-plugin-ionic 5.2.4, cordova-plugin-ionic-keyboard 2.1.2, cordova-plu

[2018-10-15 10:02] SounD120 commented on #428
Hi @blondi, thanks for reaching us, I was able to reproduce your issue and we’ve added it to our backlog. We’ll update you as soon as possible.

[2018-10-16 14:43] SounD120 commented on #424
@allanpoppe In extension we using [vscode-debug-adapter ](https://github.com/Microsoft/vscode-debugadapter-node)and [vscode-chrome-debug-core](https://github.com/Microsoft/vscode-chrome-debug-core). We are to update this dependencies in new version, so this behaviour must gone. If it's not we will create new issue on this repos for this problem.

[2018-10-16 14:45] allanpoppe commented on #424
@SounD120 you mean last version or next version? If next version, when it's schedule to come?

[2018-10-16 14:50] SounD120 commented on #424
@allanpoppe We are going to test and verify everything before new release, unfortunately I don’t have the exact date but hopefully it will be done in the nearest weeks. We’ll update you as soon as new version will be released.

[2018-10-16 15:12] allanpoppe commented on #424
@SounD120 cool, ty.

[2018-10-18 14:51] ruslan-bikkinin opened #433 "Reloading web pages causes Not Found error in browser for ionic 4 simulate scenarios"
## Steps to reproduce
1. Generate tabs application and start "Simulate iOS/Android in Browser" debug configuration
2. Wait for default page `http://localhost:8000` opening
3. Open Contacts page or any other page like `http://localhost:8000/tabs/(home:home)`
4. Reload page

## Actual Behavior
1. Not Found error are being rendered on a page

## Expected Behavior
1. Page reloads with out any errors

[2018-10-19 12:26] ruslan-bikkinin opened #438 "Error: Project does not include the specified platform: android occurs during Android simulation scenario"
## Steps to reproduce
1. Use machine with case-sensitive file system like ext4 (Ubuntu 16.04 uses it by default)
2. Start "Simulate Android in browser" on working project

## Actual Behavior
1. `Error: Project does not include the specified platform: android` appears in Debug Console

## Expected Behavior
1. No error appeared

## Explanation
Error caused by bug in [cordova-serve](https://github.co

[2018-10-29 13:26] #428 closed, assigned to ruslan-bikkinin

[2018-10-29 13:45] bidwej commented on #426
Thank you! The suggested solution worked for me.

On Mon, Oct 29, 2018, 9:27 AM Ruslan Bikkinin <notifications@github.com>
wrote:

[2018-10-29 16:44] allanpoppe commented on #424
This is still an issue.

![image](https://user-images.githubusercontent.com/19921033/47665714-847ecf00-db80-11e8-8ad2-896462b41c16.png)

[2018-10-29 16:55] allanpoppe commented on #424
Inside services everything works as expected (this was the behavior before 1.5.0 too).

![image](https://user-images.githubusercontent.com/19921033/47666392-34087100-db82-11e8-90bf-a9bac148deac.png)

[2018-10-30 07:55] SounD120 commented on #424
Hi @allanpoppe , can you please give us a minimal application demo with instruction to reproduce this behaviour?

[2018-11-01 18:24] toaoman opened #446 "Cannot connect to runtime process, timeout after 10000ms - (reason: Can't attach to this target that may have Chrome DevTools attached:file://android_asset/www/index.html)."
## Actual Behavior
1.Cannot connect to runtime process, timeout after 10000ms - (reason: Can't attach to this target that may have Chrome DevTools attached:file://android_asset/www/index.html).

## Expected Behavior
1. Attach to running android on device

## Software versions
- Cordova VS Code extension version: Ionic and Cordova Tools 1.5.0
- VSCode version: 1.28.2(user setup)
- OS platform and v

[2018-11-01 18:32] toaoman commented on #446
launch.json

{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Run Android on device",
            "type": "cordova",
            "request": "launch",
            "plat

[2018-11-02 11:57] SounD120 commented on #424
Hi @allanpoppe , do you have a chance to look at my comment? Also if it would be more convinient to you, you can give us a short video where you reproducing this behaviour for our clearer understanding of the situation.

[2018-11-05 17:06] allanpoppe commented on #424
@SounD120 give me 2 days

[2018-11-06 05:14] SounD120 commented on #424
@allanpoppe Yes, sure.

[2018-11-06 23:05] mjbvz opened #447 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-10 05:56] toaoman commented on #446
I solved this problem, first run"Run Android on device",then close runing App on android emulator and clean cache, next open this APP again,run "Attach to running android on device",this time no error message。

[2018-11-10 05:58] #446 closed

[2018-11-12 05:33] SounD120 commented on #446
@toaoman Glad to hear that your issue was solved, and thanks for describing your solution.

[2018-11-14 15:07] SounD120 commented on #424
Hi @allanpoppe , just a friendly ping on this.

[2018-11-19 19:54] mjbvz commented on #447
1. Can you provide some example paths? `file://` resources definitely will not work using the webview api but local resources generally should inside an iframe

2. Unsure. We don't explicitly block this but we have better isolated webview content

[2018-11-20 11:04] SounD120 commented on #447
Hi @mjbvz , thanks for your reply. Seems to be that WebView API breaks us completely, but, fortunately, we have a workaround for this scenario and we are going to propose a PR for it soon. We will keep you posted about the progress.

[2018-11-21 10:09] SounD120 commented on #447
Hi @mjbvz, we [removed previewHtml from our code](https://github.com/Microsoft/vscode-cordova/pull/452), but we couldn't use Webview API instead due to incompatibility with the specific scenario we have. We used previewHtml for rendering localhost server page, but it is not allowed by WebView API, so we had to launch it in a browser instead. We are going to include this change in the mext major re

[2018-11-21 10:09] #447 closed

[2018-11-28 07:51] ruslan-bikkinin commented on #438
Hi @chuanner, we are waiting for cordova team to release a patch for this, so we could update it in our package.json. Unless they release a new version we can't propose a fix, unfortunately. We will get in touch with cordova folks to ask them to get hurry.

[2018-11-29 09:11] angel1st opened #458 "[cordova-tools] Error processing "launch" error... prevents from debugging Android app"
Hi there, I am using the plugin quite a while and recently, I have received the issue, described below. There are two environmental changes made, which might cause the bug - I have updated VS Code and cordova. The current versions are described below.

## Actual Behavior
While trying to debug Android app, I see nothing in debug console during the build process. At the end, I have the following err

[2018-11-29 10:07] angel1st commented on #458
Thanks for the answer, @ruslan-bikkinin. Yes indeed, once

command is executed, I can see the log. Here  it is:
[code]

So it seems, the issue is related to `adb.exe -s localhost:5555 shell cat /proc/cpuinfo` command. In addition - I can see following warning, reported into emulator log:
[code]

However, when I try `adb.exe -s localhost:5555 shell cat /proc/cpuinfo` into a terminal, I can see its

[2018-11-29 15:18] angel1st commented on #458
@ruslan-bikkinin, yes, I am facing this when running on emulator, however, I was able to face this, when running on actual device, connected via USB cable.
Here is the debug config:
[code]
since, I am using **Run Android on device** config, this is what I am sharing with you, Let me know, shall you need the entire config file.

[2018-11-30 14:43] ruslan-bikkinin commented on #458
@angel1st seems to be that your problem relates to known cordova emulate issue. We are using `cordova emulate` command under the hood to build and run app on Android emulator. In some cases, this command works unstable and error like yours is appeared. The origin of the error is coming from `cordova-lib`: https://github.com/apache/cordova-lib/blob/da4b4b371203777d1f951ee9580c1348ddb36659/spec/plug

[2018-12-01 15:27] srishmawi opened #459 "Ionic 4 debug not working with version 1.6.0"
## Actual Behavior
1. Click on debug "Serve to browser"
2. After couple of seconds a popup message appears "The ionic live reload server existed unexpectedly"

## Expected Behavior
1. Browser should start and open the app

## Software versions
- Cordova VS Code extension version: 1.6.0
- VSCode version: 1.29.1
- OS platform and version: Windows 10
- NodeJS version: v10.13.0
- Cordova version: 6.4.

[2018-12-01 15:46] mingdong88 opened #460 "Yesterday, suddenly can not debug!"
## Actual Behavior
1.I have a project where I was debugging in the browser and it worked great. Yesterday, suddenly can not debug!
2.Pressing the debug button will not pop up the chrome window

## Expected Behavior
1.
2.

## Software versions
- Cordova VS Code extension version: 1.6.0
- VSCode version: 1.29.1
- OS platform and version: windows 10
- NodeJS version: 10.14.1
- Cordova version: 8.1.2

[2018-12-01 17:18] srishmawi commented on #459
I did these steps and now it works again

1. npm update -g

2. Got error
    npm ERR! 404 Not found : vs-tac
    npm ERR! 404
     npm ERR! 404  'vs-tac' is not in the npm registry.

3. npm uninstall -g vs-tac
4. npm update -g

[2018-12-02 06:11] mingdong88 opened #461 "I want an old version 1.5.1"
I want an old version 1.5.1

My Email: mingdong88@163.com

Best Regards
Ming dong

## Actual Behavior
1.
2.

## Expected Behavior
1.
2.

## Software versions
- Cordova VS Code extension version:
- VSCode version:
- OS platform and version:
- NodeJS version:
- Cordova version:
- Cordova-Android/iOS/Windows version:

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debu

[2018-12-02 06:33] mingdong88 commented on #459
How to previous version ( 1.5.1 )

[2018-12-02 08:13] mingdong88 commented on #459
Please give me previous version ( 1.5.1 ) vsix. Thanks!
Email:mingdong88@163.com

Best Regards
Ming dong

[2018-12-03 06:10] angel1st commented on #458
@ruslan-bikkinin - thanks for the feedback. Unfortunately none of the above fixed the issue. In fact I even created a completely new project and added debug configuration for it and yet the error persists.

I can confirm however `cordova` is installed correctly and I have no issue to compile the project using it as well as to debug it via Chrome dev. console.
Hence my understanding is the issue is

[2018-12-03 08:36] SounD120 commented on #459
Hi @srishmawi . Thanks for reaching us, I'm glad to hear that you found a core of the problem, but I want to clarify, is the issue were solved completely? Maybe you have some questions to ask?

Hi @mingdong88. Thanks for contacting us. Looks like you already created an issue connected to [your request](https://github.com/Microsoft/vscode-cordova/issues/461) so we can move our conversation there.

[2018-12-03 08:39] srishmawi commented on #459
It might be a separate, but in version 1.5.1 and 1.6.0 I have an issue where starting debug once works and the next fails and so on, with same error as in this ticket.

thanks

[2018-12-03 08:47] ruslan-bikkinin commented on #458
@angel1st just in case, are you trying to run it on emulator from the Android Studio, not on the external emulator like Genymotion? If so, then you should use `Run Android on emulator` debug configuration:
[code]

[2018-12-03 09:09] SounD120 commented on #461
Hi @mingdong88 . You can download Cordova Tools 1.5.1 using [this link](https://ms-vscode.gallery.vsassets.io/_apis/public/gallery/publisher/vsmobile/extension/cordova-tools/1.5.1/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage). Add `.vsix` extension to the file just downloaded, then toggle extensions tab in VS Code, delete installed Cordova Tools version and reload VS Code. After that op

[2018-12-03 09:09] #461 closed

[2018-12-03 10:02] srishmawi commented on #459
@SounD120 Ok thanks
See screenshot as requested

<img width="489" alt="debug-issue" src="https://user-images.githubusercontent.com/45515895/49366921-39ae2500-f6f3-11e8-85cc-0e9b0bc9d0fd.PNG">

[2018-12-03 10:19] SounD120 commented on #459
Thanks @srishmawi . Could you please try to increase Ionic dev server timeout and let us know does it works for you?

[2018-12-03 10:21] srishmawi commented on #459
I already did that..
I will keep you updated.

[2018-12-04 05:46] srishmawi commented on #459
@SounD120 I'm unable to reproduce anymore.
thanks for help.

[2018-12-04 07:13] SounD120 commented on #459
@srishmawi , glad to hear it. I'm closing this issue now. If you still have some questions, feel free to reopen it.

[2018-12-04 07:13] #459 closed

[2018-12-04 08:36] SounD120 commented on #460
@mingdong88 do you have any error messages? The lack of outputs it is unfortunately a VS Code 1.29 bug, and it were fixed already in [VS Code Insiders version](https://code.visualstudio.com/insiders/). It would be very helpful for us if you try to run your debug scenario via VS Code Insiders and fill the outputs. It would help to understand the situation from our side.

[2018-12-04 17:47] krombipils commented on #460
Today I noticed the same bug. I don't know what was changed on my system, debug was working fine yesterday and suddenly it was broken.
This is the message I see in the log after I installed vs code insider version:

[2018-12-04 18:39:07.351] [renderer1] [error] Cannot read property '2' of null: TypeError: Cannot read property '2' of null
	at C:\Users\andre\.vscode-insiders\extensions\vsmobile.cord

[2018-12-05 00:47] mingdong88 commented on #460
@SounD120
Tested in ad, the problem still exists and there is no output. It should be because it has not entered the debugging stage.

Testing in another Windows 10 system, the problem still exists

The previous version (1.5.1) had no problem. Chrome can start debugging normally

No problem in Mac. Chrome can start debugging normally

Chrome will not start in Windows 10.

After I try to start chro

[2018-12-05 07:21] krombipils commented on #460
@ mingdong88

Have you tried to apply the patch from [https://github.com/apache/cordova-serve/pull/11/commits](https://github.com/apache/cordova-serve/pull/11/commits)?
I guess you are also running a non-US version of windows and this patch fixes an issue on these versions. Just replace `var regItemPattern = /\s*\(Default\)\s+(REG_SZ)\s+([^\s].*)\s*/;` with `var regItemPattern = /\s*\(.*\)\s+(REG_

[2018-12-05 11:06] angel1st commented on #458
@ruslan-bikkinin - I am running the emulator from the command prompt, by executing:

[2018-12-05 11:40] ruslan-bikkinin commented on #458
@angel1st thanks for clarification, you should use `Run Android on emulator` instead of `Run Android on device` then. Please try it and let us know if it works for you.

[2018-12-05 13:33] angel1st commented on #458
@ruslan-bikkinin - thanks, mate, the last suggestion did the trick! I can recall when I started using cordova-tools, `run Android on emulator` didn't work. Now it seems it works.
The only minor issue left is - during the compile, I am not able to see the output into the debug console - instead I see it, once the debug starts.
I don't consider this as a critical by any means, hence you can close th

[2018-12-06 09:07] jprinsloo opened #463 "Debugger output delayed in debug console"
## Actual Behavior
1. The debugger console output does not display during build. All output is then shown after application deployment.

## Expected Behavior
1. Debug console output must show during the build.

## Software versions
- Cordova VS Code extension version: 1.6.0
- VSCode version: 1.29.1
- OS platform and version: Windows 10
- NodeJS version:
- Cordova version: 8
- Cordova-Android/iOS/W

[2018-12-06 09:33] ruslan-bikkinin commented on #458
@angel1st glad to hear your issue is resolved. As for logging issue - it seems to be a VS Code one since they started to add multi output for Debug Console in 1.29. We checked the latest Insiders build and we saw no problem with Debug Console there, so I assume in 1.30 the issue will be resolved automatically.

Don't hesitate to turn to us the next time if you have any questions.

[2018-12-06 09:33] #458 closed

[2018-12-06 10:15] SounD120 commented on #463
Hi @jprinsloo . Looks like this behaviour is related to a [recent changes in Debug console in version 1.29](https://code.visualstudio.com/updates/v1_29#_multiple-debug-consoles). We have checked [Insiders build](https://code.visualstudio.com/insiders/) and the problem is gone in there, so when the VS Code 1.30 will be released this issue will be solved automatically. As a workaround you can use In

[2018-12-06 10:17] jprinsloo commented on #463
@SounD120 thanks for the feedback.

[2018-12-07 01:08] mingdong88 commented on #460
Hi,@SounD120
 It works. Thank you very much.

Best Regards
Ming dong

[2018-12-07 07:47] SounD120 commented on #460
@mingdong88 , @krombipils looks like this is an external issue for us caused by our dependency from `cordova-serve`. We'll contact it's team and let you know when we will release a new version with this fix.

[2018-12-11 08:32] felaray commented on #126
it's work!

[2018-12-11 15:12] Diminuss commented on #126
Hello

I have the same problem. I'm new in programing, can you please tell me how you do your solution please ?

Thanks a lot

[2018-12-12 02:16] felaray commented on #126
use command to open project
cmd: code {Project Folder}

[2018-12-16 13:18] Sampath-Lokuge opened #464 "dyld: Library not loaded"
Hi,

This is the error:

## Software versions
- Cordova VS Code extension version: `1.6.0`
- VSCode version: `1.30`
- OS platform and version: `MacOS High Sierra 10.13.6`
- NodeJS version: `v8.11.3`
- Cordova version: `8.0.0`
- Cordova-iOS version: `4.5.5`

Ionic info:

[2018-12-16 14:24] Sampath-Lokuge opened #465 "Unable to mount developer disk image"
Hi,

config

**Software versions**

Cordova VS Code extension version: 1.6.0
VSCode version: 1.30
OS platform and version: MacOS High Sierra 10.13.6
NodeJS version: v10.14.2
Cordova version: 8.0.0
Cordova-iOS version: 4.5.5

Ionic:

Iphone `6` with `iOS 12.1.1`

[2018-12-16 14:49] #464 closed

[2018-12-16 16:41] Sampath-Lokuge commented on #87
I have the same issues as like you @jkristia on my Ionic 3 project. Have you found the solution? Thanks.

[2018-12-17 09:07] ruslan-bikkinin commented on #465
Also, please try to update libimobiledevice: `brew update && brew upgrade libimobiledevice --HEAD && brew upgrade ideviceinstaller ios-webkit-debug-proxy`

[2018-12-17 10:03] Sampath-Lokuge commented on #465
Hi @ruslan-bikkinin

Yes, I did that. But no luck. I have followed this too. But the same error.  https://github.com/Microsoft/vscode-cordova/issues/192#issuecomment-250055677

So what else I can do that? I use `Ionic 3` app on `iPhone 6 12.1.1 device`.

[2018-12-17 11:23] SounD120 commented on #465
Hi @Sampath-Lokuge . I just tested this config and it works without any problems. In your configuration I found `ios-deploy 2.0.0`, I think it may cause some problems. Try to install `ios-deploy@1.9.4` via command `npm i -g ios-deploy@1.9.4`

[code]

[2018-12-17 12:16] Sampath-Lokuge commented on #465
Hi @SounD120

I have done that. But now it shows this error:

Ionic:

I have another question too. Can you tell me how can I find out the port number? I have typed this on bash and it gives this error. Any clue?

[2018-12-17 12:34] SounD120 commented on #465
@Sampath-Lokuge Looks like ios-webkit-debug-proxy is broken or not installed. Could you please try commands from [IWDP troubleshooting](https://github.com/google/ios-webkit-debug-proxy#troubleshooting)?

[2018-12-17 12:54] Sampath-Lokuge commented on #465
@SounD120 I tried this

But it asked to remove `--HEAD`. I did on both above occasions. Then it installed. But same error for this:

I have restarted the MAC too. But still the same error above. Any clue?

[2018-12-17 12:58] Sampath-Lokuge commented on #465
@SounD120  This is the exact error there:

[2018-12-17 15:38] SounD120 commented on #465
Hi @Sampath-Lokuge . I have fully reinstalled the Homebrew and all it's packages and and, eventually, I was able to reproduce the problem. Now we are invesgatng what might caused this, cause it worked just before the reinstallation. This may be due to updates/changes in any of the components in this bundle : `ios-webkit-debug-proxy`, `libimobiledevice`, or the `Homebrew` itself. We'll let you know

[2018-12-17 17:44] Sampath-Lokuge commented on #465
Hi @SounD120
Thanks a lot. This is a great extension for Ionic developers. I have successfully configured it for Android device on Win 10 Pro PC and working fine there. I really need this to work on MAC/iPhone too. If you need any help from my side please let me know. Good Luck!

[2018-12-18 09:35] SounD120 commented on #465
Hi @Sampath-Lokuge . We found the core of the problem, looks like `--HEAD` argument for `reinstall` command [is not supported by Homebrew anymore](https://github.com/Homebrew/brew/issues/4793#issuecomment-417915766). So this is the solution: at first, you need to uninstall `ios-webkit-debug-proxy` and `ideviceinstaller`.
[code]
Then run these commands that uninstall your current `usbmuxd` and `lib

[2018-12-18 10:36] Sampath-Lokuge commented on #465
Hi @SounD120

[2018-12-18 10:39] Sampath-Lokuge commented on #465
Hi @SounD120

This is working like a charm. Thanks a lot for the great support. I hope this extension will rock the Ionic developers' world in the future. Thank you again and have a great day ahead!

[2018-12-18 10:39] #465 closed

[2018-12-18 10:44] SounD120 commented on #465
@Sampath-Lokuge Glad to hear it. Feel free to create new issues if you have any questions and thanks for feedback.

[2018-12-26 10:16] creator1134 opened #466 "screencast support ?"
Do we have access to screencast option like in chrome devtools where we can see the android screen and interact with the UI.

[2018-12-28 08:44] #438 closed

[2018-12-28 08:44] #460 closed

[2018-12-28 15:11] SounD120 commented on #466
Hi @creator1134 . Thanks for reaching us. We have no plans implementing this feature in the nearest future but you can use our simulate debug configurations for Android and iOS that allows to interact with UI in the browser.

[2018-12-28 15:11] #466 closed

[2019-01-02 10:22] chibisuke commented on #458
I'm having nearly the same issue, but with a real device, so swiching to "Run on Emulator" does not work.

And hints on how to troubleshoot this?
[code]

[2019-01-02 11:28] ozzyjr opened #469 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.6.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.30.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/$user/vsmobile.cordova-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cp

[2019-01-02 14:31] chibisuke commented on #458
after digging into the code, this seams to be a cordova issue. Increasing in the timeout in platforms/android/cordova/lib/build.js:175 resolves the issue.

[2019-01-02 15:07] soyjuanmedina opened #470 "Error when trying to launch Simulate Android in browser"
## Actual Behavior
1. From debug tab click in Simulate Android in Browser
2. In console debug: Launching for android (This may take a while)...

## Expected Behavior
1. Google Chrome should launch showing app simulated in browser with cordova-simulate tools appearing in VSCode.

## Software versions
- Cordova VS Code extension version: Don't know where see it
- VSCode version: 1.30.1
- OS platform

[2019-01-02 21:20] Sampath-Lokuge opened #471 "Support for the capacitor apps"
Hi,

I'm a big fan of your this extension. But now Ionic has Ionic 4 with a capacitor. One of capacitor dev told this `vscode-cordova is for Cordova apps, it won't work on Capacitor apps.` So do you have any plan to support capacitor apps? Thanks in advance.

[2019-01-04 09:05] ruslan-bikkinin commented on #470
hi @soyjuanmedina and thanks for submitting the issue. Could you please clarify a bit more about your environment:
* **Cordova VS Code extension version:** Open Extensions tab, then find there Cordova Tools and version will be on the right side:
![image](https://user-images.githubusercontent.com/30265843/50680100-75504d80-1017-11e9-8e74-182dc0500d70.png)

* Your operational system (Windows version

[2019-01-04 09:11] ruslan-bikkinin commented on #469
Hi @ozzyjr and thanks for reaching us. Could you please attach `vsmobile.cordova-tools-unresponsive.cpuprofile.txt` as it said in [VS Code documentation](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#dealing-with-high-cpu-load-issues) and in your issue description? We can't do much about it without this info.

[2019-01-04 10:06] soyjuanmedina commented on #470
Thanks a lot @ruslan-bikkinin

Cordova VS Code extension version: 1.6.0
Operational system: Windows 7 64 bits
Cordova cli version: 8.0.0

The projet it's an Angular proyect I convert to Cordova project following this tutorial:

https://medium.com/@nacojohn/convert-your-angular-project-to-mobile-app-using-cordova-f0384a7711a6

The debug console only show: "Launching for android (This may take a whi

[2019-01-09 09:02] qkdreyer opened #472 "Extension Host Crash"
## Actual Behavior
1. Extension Host Crash

## Expected Behavior
1. Prevent Extension Host Crash

## Software versions
- Cordova VS Code extension version: 1.6.1 from Marketplace
- VSCode version: 1.31.0-insider
- OS platform and version: macOS 10.14.1 (18B45d)
- NodeJS version: v10.13
- Cordova version: 8.1.2 (cordova-lib@8.1.1)
- Cordova-Android/iOS/Windows version: Irrelevant

## Outputs (Inclu

[2019-01-09 10:44] SounD120 commented on #472
Hi @qkdreyer . I faced the same error just now on Insiders build `1.31.0-insider` with 1.6.1, but on `1.30.2` VS Code version extension works stable. We'll investigate the situation on Insiders build and let you know what might cause this.

[2019-01-09 14:31] qkdreyer commented on #472
The bug has been introduced somewhere here then : https://github.com/Microsoft/vscode/compare/1.30.2...e44801f2b3ab00c26c742aa0ef473824469fad02

[2019-01-09 14:35] qkdreyer commented on #472
Looks like node version has been upgraded from 8.9.3 to 10.2.0

[2019-01-10 11:02] bluearth opened #473 "Debug adapter process has terminated unexpectedly (read error)"
## Actual Behavior
1. Open an existing cordova project (with config.xml on the root and the usual folder layout)
2.  Open debug panel, choose 'Simulate Android in browser' and hit debug button
3. Popup shown telling "Debug adapter process has terminated unexpectedly (read error)"
4. Debug session not started
5. Nothing is shown in Debug Console

## Expected Behavior
1. Two Chrome window opens show

[2019-01-10 11:08] bluearth commented on #473
Reproduce using another cordova project. A bare cordova project (from doing ```cordova create myApp id.co.myapp myApp```).

The same problem repeats.

FYI what changes, my Windows 10 just recently updated (by it's own volition :( ) if this is relevant

[2019-01-10 11:46] SounD120 commented on #460
Hey @mingdong88, @krombipils version 1.6.1 that includes fix for this just have been released, so this issue is not actual anymore.

[2019-01-10 14:34] SounD120 commented on #472
Hi @qkdreyer . We found the problem core, it's connected to our `cordova-simulate` `chokidar@2.0.4` dependency. You can find more information in [this issue](https://github.com/Microsoft/vscode/issues/64981#issuecomment-447880936). We’ll update you as soon as release new version with fix on this.

[2019-01-14 06:40] bluearth commented on #473
I solved the problem by completely removing vsmobile.cordova-tools-1.6.1 dir from extension dir (HOME/.vscode/extensions) and then reinstalled.

All works now.

[2019-01-14 06:40] #473 closed

[2019-01-14 10:48] ruslan-bikkinin commented on #469
@ozzyjr just a friendly ping on this

[2019-01-14 11:06] #472 closed

[2019-01-14 11:32] qkdreyer commented on #472
Are you planning to release v1.6.2 soon ?

[2019-01-14 11:34] SounD120 commented on #472
@qkdreyer We are performing prerelease testing right now, so as soon as we finish it a new version will be released.

[2019-01-15 12:17] SpellCraft opened #477 "Unable to communicate with target"
## Actual Behavior
1. Spams the console with "Unable to communicate with target" before ending with "unable to find webview"

## Expected Behavior
1. Be able to debug cordova project through vscode when "Run iOS on device" is selected.

## Software versions
- Cordova VS Code extension version: 1.6.1
- VSCode version: 1.30.2
- OS platform and version: iOS 10.0+
- NodeJS version: 11.6.0
- Cordova ve

[2019-01-15 12:54] SounD120 commented on #477
Hi @SpellCraft . Thanks for contacting us. This error means that `ios-webkit-debug-proxy` is not being ran or being worked with errors, so extension is unable to perform get request to proxy server. You mentioned that you have tried some of the steps from https://github.com/Microsoft/vscode-cordova/issues/465#issuecomment-448156409 , but in order to get it work you need to do them all. Please do t

[2019-01-15 13:02] SpellCraft commented on #477
Hello!
Yeah, I followed the comment in its entirety.

[code]

That´s the output I´m getting right now.

[2019-01-15 13:08] SounD120 commented on #477
@SpellCraft Sorry for confusing a bit, `ios_webkit_debug_proxy` is the command for IWDP.

[2019-01-15 13:50] SpellCraft commented on #477
Excuse the late reply. I went off to lunch right before the message!

Using the command you provided above, I apparently had to go into Safari's advance settings and enable network inspection.

Doing that seems to have solved my problem! Thank you for your guidance. :)

[2019-01-15 13:50] #477 closed

[2019-01-15 16:00] SounD120 commented on #470
Hi @soyjuanmedina . I just created a fresh angular 7 app and then converted it to cordova 8 app using the instructions you provided and it worked for me without any troubles, so could you please make sure that you are not missing anything from this migration instructions? Also did you try to run your application on device or emulator? How it runs there - if not, please, try it and let us know abou

[2019-01-15 17:13] SounD120 commented on #472
@qkdreyer , version 1.6.2 that includes fix for this just have been released.

[2019-01-15 17:14] qkdreyer commented on #472
Thanks @SounD120 !

[2019-01-18 13:15] ruslan-bikkinin commented on #469
I am closing this for now due to inactivity and lack of needed information. Please feel free to reopen when you are ready to give us cpuprofile.txt file.

[2019-01-18 13:15] #469 closed

[2019-01-18 16:05] Sampath-Lokuge commented on #471
It would be great if you'll put this as an `open issue` under the tag `enhancement`. Otherwise, how will others see this to `vote` ? @dhanvikapila

[2019-01-22 08:11] SounD120 commented on #470
Hi, @soyjuanmedina . Do you have a chance to look on my reply?

[2019-01-22 11:05] soyjuanmedina commented on #470
Sorry @SounD120 ... I was looking for freetime to check it.....

I'm trying to reproduce the error with a version both can check.

I wrote all the steps I did because maybe I do something wrong.

My software is in Spanish... and the options are traslate by myself, sorry in advance.

I use Visual Studio Code to do this.

Download https://github.com/soyjuanmedina/patientportal-angular5

go into fold

[2019-01-22 12:01] SounD120 commented on #470
@soyjuanmedina I migrated application you provided to Cordova using your guide, it worked great for me - could you please download it and try to use it in VS Code? [Here is the link](https://github.com/SounD120/hello). With respect to Visual Studio errors I recommend to reach out [Visual Studio support](https://visualstudio.microsoft.com/vs/support/), because it's the better place for managing suc

[2019-01-22 13:43] soyjuanmedina commented on #470
You are right.... Thanks a lot.... now works!!

[2019-01-30 09:04] sclMAX opened #488 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.7.0`
- OS Version: `Linux x64 4.18.0-13-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/max/vsmobile.cordova-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-

[2019-01-30 09:09] ruslan-bikkinin commented on #488
Hi @sclMAX and thanks for reaching us. Could you please attach `vsmobile.cordova-tools-unresponsive.cpuprofile.txt` as it said in [VS Code documentation](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#dealing-with-high-cpu-load-issues) and in your issue description? We can't do much about it without this info.

[2019-01-30 10:09] sertal70 opened #489 "Error processing "launch": Unable to find target"
## Actual Behavior
When running the following configuration:
[code]
All tasks execute successfully, Android emulator named `Pixel_XL_API_25` starts and the app is loaded and run into, but in the debug console I have the following error:
[code]
Also VSC shows a dialog with the following error message:

`[cordova-tools] Error processing "launch": Unable to find target Pixel_XL_API_25`

and the debug

[2019-01-30 10:16] ruslan-bikkinin commented on #489
Hi @sertal70 and thanks for reaching us. You should use `emulator-5584` instead of `Pixel_XL_API_25` as it's a device id in your case.

[2019-01-30 10:18] sertal70 commented on #489
Thanks @ruslan-bikkinin, actually I did it but I forgot to mention in the issue description. I tried both `emulator-5584` and `emulator` but none of them worked.

[2019-01-30 10:30] ruslan-bikkinin commented on #489
@sertal70 did you try to debug your app using Chrome inspector? To do so you need to follow these steps:
* Run `cordova run android`
* Open `chrome://inspect/#devices` url in Chrome and click `inspect`.

Please, try it and let us know if it works for you.

[2019-01-30 10:39] sertal70 commented on #489
@ruslan-bikkinin yes, that has been the way I debugged my apps up to now, when I started trying to use this extension. The complete command line I used to execute is:

`ionic cordova run android -lcs --target=Pixel_XL_API_25`

Note that I use more that one Android emulator, so the option to specify its name is a requirement for me.

[2019-01-30 11:35] ruslan-bikkinin commented on #489
@sertal70 you are facing multiple issues:

* Extension interprets target value as device id taken from `adb devices --list` output, so for now you need to manually run needed emulator before running debug in VSC and use it's id (`emulator-5584` in your case) as `target` value in debug configuration. Then you can use `Run android on emulator` configuration and it should work. I think we should prov

[2019-01-30 11:48] ruslan-bikkinin opened #490 "Add parameter for running specific AVD emulator by name"
Cordova supports running avd emulator by image name, e.g. for example `Pixel_XL_API_25`, but `target` value doesn't consider it. It leads to problem that in case when emulator is not been ran yet and avd image name is used as `target` value extension runs `cordova run --target image_name` and it succeeded, but then tries to find emulator among the list of emulator ids provided by `adb devices` com

[2019-01-30 11:56] ruslan-bikkinin opened #491 "Debug Console output is not cleared in some cases"
In some cases Debug Console output isn't cleared after running debug:
* Run debug once, stop it, then run debug configuration which is intentionally should succeed. Between starting debug configuration and attaching to app debug console won't be cleared.
* Run debug once, stop it, then run debug configuration which is intentionally should fail. No new output will be shown in Debug Console.

#489

[2019-01-30 13:43] sertal70 commented on #489
@ruslan-bikkinin I confirm that starting manually the emulator and then running the launch configuration works, it is a workaround for now.

I confirm also that the debug console doesn't get cleared on subsequent launch after the first, I have to clear it manually to see what's going on.

Doing these test I run into another issue: using the emulator launch configuration, if I set `ionicLiveReload:

[2019-01-30 13:48] ruslan-bikkinin commented on #489
@sertal70 :+1: yes, let's move it to another discussion, so I could close this one.

[2019-01-30 13:48] #489 closed

[2019-01-30 14:00] sertal70 opened #492 "Cannot run on emulator with ionicLiveReload: true"
## Actual Behavior
When running the following configuration:
[code]

VSC shows the message:

![image](https://user-images.githubusercontent.com/25665841/51985748-ecee8c80-249e-11e9-800c-e43a62717b62.png)

and the debug session doesn't start.

## Expected Behavior
VSC starts the debug session with ionic livereload option active.

## Software versions
- Cordova VS Code extension version: 1.7.0
- VSC

[2019-01-30 21:51] tranquocbaodev commented on #337
before run "cordova run android --verbose"
after re-debug

[2019-01-31 11:50] ruslan-bikkinin commented on #492
Hi @sertal70 JFYI i was able to reproduce it on my side, so I'm digging into it right now.

[2019-01-31 17:19] sertal70 commented on #492
Hi @ruslan-bikkinin , good to know! Let me know if I can help in some way.

[2019-02-01 09:07] ruslan-bikkinin commented on #492
@sertal70 Most likely ionic process is complaining about multiple network adapters found on your machine. The solution for this is to `run ionic cordova run android --livereload`, wait until prompt for choosing IP address is appeared, copy the one that fits, and add it to your debug configuration as `devServerAddress` parameter. We have this check in our code but for some reason it hasn't worked i

[2019-02-01 17:36] CodeDoctor34 commented on #492
@ruslan-bikkinin I can confirm this seemed to fix things for me. However, with that said I had a lot of issues trying to get things to run right when I first set this up. Ultimately, I had to uninstall the extension altogether. Re-install, and then I had the "The Ionic live to reload server exited unexpectedly" error. I was using the "run arguments" to set my dev server address and live to reload.

[2019-02-01 17:45] CodeDoctor34 commented on #492
@ruslan-bikkinin Scratch that, spoke too soon. Looks like it worked because it never actually started the live reload server..... the following configuration is what I used and while it does start up and deploy to my device, the live reload is not running.
        {
            "name": "Run Android on device",
            "type": "cordova",
            "request": "launch",
            "platform":

[2019-02-01 20:44] sertal70 commented on #492
@ruslan-bikkinin actually my computer has two network interfaces, so I picked the right one and added it to the launch configuration in the `devServerAddress` parameter, then I started the debug session which showed a little bit of progress but then ended with the error:

![image](https://user-images.githubusercontent.com/25665841/52148528-45be5080-266a-11e9-8f1c-a9f1e33c1095.png)

Also the debug

[2019-02-01 21:15] hsusyh commented on #492
I have the same issue when I try to **run iOS on device**
[code]
got an error message `The Ionic live reload server exited unexpectedly`

[2019-02-01 21:24] hsusyh opened #493 "Build error after update Ionic CLI to 4.10.1"
## Actual Behavior
when running the debugger, it shows
[code]

## Expected Behavior
1. build the ionic app

## Software versions
- Ionic (Ionic CLI)  : 4.10.1
- Ionic Framework : ionic-angular 3.9.2
- @ionic/app-scripts : 3.2.0
- Cordova VS Code extension version: 1.7.0
- VSCode version: 1.30.2
- OS platform and version: macOS Mojave
- NodeJS version: V10.9.0
- Cordova version: 8.1.2
- Cordova-And

[2019-02-03 09:45] ruslan-bikkinin commented on #492
Thanks for the feedback guys, looks like a bug to me. I am working on a fix now, so as soon I get more news I'll let you know.

[2019-02-04 10:42] Lertis commented on #458
Try to allow developer mode on your device. Find the point smth like "USB setup" and toggle the button to add permission for your PC. After that, I saw the notification on the PC display and success connection.

[2019-02-04 11:32] SounD120 commented on #493
Hi @hsusyh . Just tested a fresh Ionic app created with `Ionic CLI 4.10.1` and it builds without errors on iOS. Please make sure that `Ionic CLI` and `Node.js` are installed correctly and are present in your `PATH` environment.
Here is my configuration:
[code]

[2019-02-04 15:46] ruslan-bikkinin commented on #492
@CodeDoctor34 could you please create separated issue with the description of your specific case because seems to be that your problem doesn't relate to this one.

[2019-02-04 18:18] CodeDoctor34 opened #495 "Ionic live reload not working."
## Actual Behavior
1. Live reload is not working when enabled in the config, using the "livereload": true configuration.
2. Live reload fails when trying to override configuration arguments with:
{
            "name": "Run Android on device",
            "type": "cordova",
            "request": "launch",
            "platform": "android",
            "target": "device",
            "port": 9222,

[2019-02-04 18:20] CodeDoctor34 commented on #492
@ruslan-bikkinin Sure, I have created a separate issue #495

[2019-02-05 07:06] ruslan-bikkinin commented on #495
Hi @CodeDoctor34 and thanks for creating separate issue. To make it work you need to wait until new version of Cordova Tools is released with changes from this PR: #494 and then update your configuration like this:
 ``
[code]
Please, be aware that by using `runArguments` you completely overrides all predefined run arguments for ionic dev server run command via extension code like `--verbose`, `--l

[2019-02-05 11:14] ruslan-bikkinin commented on #488
@sclMAX just a friendly ping on this

[2019-02-05 13:17] ozzyjr opened #496 "Simulate inside panel column"
I have a doubt.
When I debug, the simulator would open in a window / panel inside the VS Code and is now opening in a new Chrome window. That is, it's opening two Chrome windows, one with the simulator and another with the app project.
I would like to know how to reopen the simulator in VS Code and not in a browser.

![image](https://user-images.githubusercontent.com/12512993/52275596-2740a980-293

[2019-02-05 16:03] CodeDoctor34 commented on #495
@ruslan-bikkinin Okay, thanks for the update. I did originally try it by doing without the run arguments, but I found that for some reason it wouldn't start with live reloading, it almost seemed like it was ignoring the configuration properties I had set. Looking forward to the new release.

[2019-02-05 16:51] Takkuz opened #498 "Launch command from local modules (lack of documentation)"
Developing many different project could resolve on vary different Cordova and Ionic version installed, so it's very useful to have it installed locally and runned throught npm scripts. But it's not working with this plugin.

## Actual Behavior
1. Installing `ionic` and `cordova` as local dependencies (without `-g` flag)
2. Trying to run "On device", or anything else, won't work because of `spawn i

[2019-02-06 00:20] hsusyh commented on #493
Hi @SounD120 this issue only happens when I try to build inside vscode-cordova tool, but when I tried to build in terminal it's fine. Here's my config:

[code]

[2019-02-06 08:41] ruslan-bikkinin commented on #493
Hi @hsusyh you are using nvm and node executable is located in your home directory, but there is still a link to `/usr/local/bin/node`. Try to run `which node` and see what output you'd get. If there are more than one link removes other ones that are not relate to nvm. Please let us know if it helps.

[2019-02-06 09:31] ruslan-bikkinin commented on #498
Hi @Takkuz and thanks for reaching us. We already have `cordovaExecutable` parameter for `launch.json`: set it to `node_modules/.bin/ionic` if your project is Ionic one or to `node_modules/.bin/cordova` if your project is just a Cordova one.

Please let us know if it helps you.

[2019-02-06 09:47] ruslan-bikkinin commented on #496
Hi @ozzyjr and thanks for questioning. To render web pages such as simulator page inside VS Code window `vscode.previewHtml` API method had been used, but due to [upcoming deprecation](https://github.com/Microsoft/vscode/issues/62630) of this method starting with Cordova Tools [v1.6.0](https://github.com/Microsoft/vscode-cordova/releases/tag/1.6.0) this method usage has been dropped. VS Code team

[2019-02-06 09:47] #496 closed

[2019-02-06 10:40] ruslan-bikkinin opened #499 "Investigate a way to open simulate and app pages in one browser window"
Currently, extension opens simulate and app pages in different browser windows during Simulate scenarios. We need to investigate possible ways to open them in one browser window like in cordova-simulate.

[2019-02-06 14:36] MaximeLimone opened #500 "Rename parameter runtimeArgs to chromeArgs and expose it to public"
Hello,

This is not an issue but a fix or feature

I need a way to add parameter to chrome when run Serve to the browser. To handle CORS expection for example.

I make a fix :
I add this line 1373 in cordovaDebugAdapter.ts : chromeArgs.push(...args.chromeArgs);
just after the chromeArgs object initialization.

And in my launch.json i'm now able to push some arguments to chrome.

"chromeArgs": ["--

[2019-02-06 15:38] Takkuz commented on #498
It works like a charm... Thank you! My issue now should be "feature `cordovaExecutable` needs to be documented". :D

[2019-02-06 19:50] ruslan-bikkinin commented on #500
Hi @MaximeLimone and thanks for reaching us. Extension have an undocumented way to pass arguments to Chrome via `runtimeArgs` parameter in `launch.json`, but I'd agree with you that It should be made more transparently to end user like providing `chromeArgs` parameter. We've added it to our backlog and pick it up in order of priorities. As for now you can use `runtimeArgs` parameter as workaround.

[2019-02-06 19:59] ruslan-bikkinin commented on #498
@Takkuz absolutely agree :+1: I'll keep it open until docs is updated.

[2019-02-08 10:17] gaspachoandalus commented on #498
Hi,
I'm using Windows 10, VS Code extension version 1.7.0, VSCode 1.31
I also have `ionic` and `cordova `as local dependencies, so I tested this `cordovaExecutable` feature.

### case 1
With `"cordovaExecutable": "node_modules/.bin/cordova"`
The output is
`spawn node_modules/.bin/cordova ENOENT`

### case 2
With `"cordovaExecutable": "node_modules\\.bin\\cordova.cmd"`
The output is
[code]
Looks li

[2019-02-08 20:00] hsusyh commented on #493
Hey @ruslan-bikkinin when I run `which node`, it returns only one link  `/Users/cindytan/.nvm/versions/node/v10.9.0/bin/node`

[2019-02-10 10:51] Helder32 opened #506 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.7.0`
- OS Version: `Linux x64 4.15.0-45-generic`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/helder/vsmobile.cordova-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-caus

[2019-02-11 08:09] ruslan-bikkinin commented on #488
I am closing this due to lack of additional information. Please feel free to re-open when you are ready to provide `vsmobile.cordova-tools-unresponsive.cpuprofile.txt` file.

[2019-02-11 08:09] #488 closed

[2019-02-11 08:19] ruslan-bikkinin commented on #506
Hi @sclMAX and thanks for reaching us. Could you please attach `vsmobile.cordova-tools-unresponsive.cpuprofile.txt` as it said in [VS Code documentation](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#dealing-with-high-cpu-load-issues) and in your issue description? We can't do much about it without this info.

[2019-02-11 08:36] ruslan-bikkinin commented on #506
BTW can it be related to https://github.com/Microsoft/vscode-cordova/issues/491?

[2019-02-11 14:53] ruslan-bikkinin commented on #493
@hsusyh well, you still need to find out why global node is pointing to `/usr/local/bin/node`. It could be a broken symlink, remains of previous node installations etc. Extension itself doesn't try to use some specific node executable locations. You can try to run `which node`, `which ionic` in VS Code terminal and compare it with the output produced in system terminal. Nevertheless, if you use nv

[2019-02-11 21:28] hsusyh commented on #493
@ruslan-bikkinin thanks I will take a look and get back to you

[2019-02-13 12:53] ruslan-bikkinin opened #510 "Refactor Ionic palette commands"
Since Ionic 3 && 4, `Ionic: Build`, `Ionic: Run` and `Ionic: Prepare` run ionic commands using outdated syntax. These commands should be reviewed and refactored, also new ones may be added if needed.

[2019-02-13 13:50] ruslan-bikkinin opened #511 "The --nobrowser option has been deprecated. Please use --no-open"
Since Ionic 4, `The --nobrowser option has been deprecated. Please use --no-open` warning is shown while running `Serve to the browser` configuration.

[2019-02-14 12:34] ruslan-bikkinin commented on #424
@allanpoppe do you use `ionicLiveReload: true` in your debug configuration?

[2019-02-14 12:37] ruslan-bikkinin commented on #495
Guys, v1.8.0 with fixes for livereload cases has just been released, so I'm closing this. Please feel free to create a new one if needed.

[2019-02-14 12:37] #495 closed

[2019-02-14 12:38] ruslan-bikkinin commented on #492
Guys, v1.8.0 with fixes for livereload cases has just been released, so I'm closing this. Please feel free to create a new one if needed.

[2019-02-14 12:38] #492 closed

[2019-02-14 13:10] allanpoppe commented on #424
Most of times yes, I do.

Em qui, 14 de fev de 2019 10:34, Ruslan Bikkinin <notifications@github.com>
escreveu:

--
[image: Allan Poppe | GUni] <allan.poppe@guni.com.br>Allan Poppe
Chief Technology Officer
(11) 96224 0642
allan.poppe@guni.com.br
www.guni.com.br <http://www.guni.com.br/app/>

[2019-02-14 13:22] ruslan-bikkinin commented on #424
@allanpoppe Please, try 1.8.0 and let us know if issue is still persist. Also, please be aware about this:
https://github.com/Microsoft/vscode-cordova#i-try-to-attach-to-ionic-4-app-running-with-livereload-but-breakpoints-are-not-being-hit-or-being-placed-to-incorrect-positions

[2019-02-18 14:20] allanpoppe commented on #424
Still the same. This is a page example:
![image](https://user-images.githubusercontent.com/19921033/52956499-16982680-336e-11e9-974f-2a44c89f589e.png)

The biggest problem happens when I want to set a breakpoint, I need to set 2 lines above. But sometimes even this doesn't work. For example, the screenshot below shows a breakpoint hit when `irSobre()` method is called. This is a page example.
![im

[2019-02-18 14:24] ruslan-bikkinin commented on #424
@allanpoppe okay. Then could you please still give us demo application so we could try to reproduce it on our side?

[2019-02-18 17:04] allanpoppe commented on #424
I can't share my project because of data privacy. And I don't think generating a blank project will cause this issue.
I can, however, share any configurations of my project, starting here with my dependencies. I put myself completely willing to help. What else do you wanna know?

[code]

[2019-02-18 22:06] hsusyh commented on #493
@ruslan-bikkinin so the node pointing to `/usr/local/bin/node` was a VS Code issue. But somehow my issue was fixed after the new release v1.8.0 of vscode-cordova. My node is still pointing to `/usr/local/bin/node` but I no longer have the error.

[2019-02-19 09:32] ruslan-bikkinin commented on #493
@hsusyh I had similar issue and I could solve it by calling `nvm alias default v10.15.1`, where v10.15.1 is your nvm node version. The one only thing is that every time you are going to switch to another node version like `nvm use v8.0.0` you need to call this command again to make it work in VS Code. Anyway, I'm glad that your issue is resolved, so I'm closing it. Feel free to re-open if needed.

[2019-02-19 09:32] #493 closed

[2019-02-19 15:18] ruslan-bikkinin commented on #424
@allanpoppe thanks but it's not enough for us, because we need to have a working project to start our investigation. Could you please create a clone of your project, remove it's main content and leave only it's structure, configuration parts, rename all private fields like app name, company etc and leave one or two basic functional parts of your app like services, data containers and so on. Then m

[2019-02-26 07:11] SounD120 commented on #506
Hi @Helder32 . Do you have a chance to look at this?

[2019-02-28 13:02] SounD120 commented on #506
Hi @Helder32 . I'm closing this due to inactivity. Please feel free to re-open if needed.

[2019-02-28 13:02] #506 closed

[2019-03-28 12:59] PDostalek opened #513 "[loc][Query][vscode_extensions ] Localizability of 0; "./src/extension/android/androidPlatform.DeviceSupportsOnlyAPILevel""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Device {0} supports only API Level {1}. \r\n Level {2} is needed t

[2019-03-28 13:07] ruslan-bikkinin commented on #513
Hi @PDostalek, our team haven't started any work on adding translations to Cordova extension. The string you are asking for help with is from React Native extension.

[2019-03-28 13:12] ruslan-bikkinin commented on #513
@PDostalek with the respect to your question: answer is no.

[2019-03-28 14:33] #513 closed

[2019-04-05 11:09] PDostalek opened #514 "[loc][Query][vscode_extensions ] Localizability of :0; "./src/common/error/errorStrings.CouldntImportScriptAt""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question to Core team.
Please re-assign back to use in case you are not the right contact person or you can´t assign to a proper person.
Can you help please?
Thanks!

Source:
Couldn't import script at &lt;{0}&gt;

File Name:
Src\vscode-exten

[2019-04-05 17:39] dinsairbnb opened #515 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.15.0-47-generic`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/miquel/vsmobile.cordova-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-caus

[2019-04-08 03:06] MetalxD117 opened #516 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.0`
- OS Version: `Windows_NT x64 6.3.9600`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\JuanSebastian\vsmobile.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension

[2019-04-08 13:58] ruslan-bikkinin opened #517 "Bundle extension code to decrease its loading time"
We have started to get a lot of "Extension causes high cpu load" issues and, as VS Code team [suggested](https://github.com/Microsoft/vscode/issues/71449), we need to bundle extension code into one .js file to avoid performance problems.

[2019-04-08 13:59] ruslan-bikkinin commented on #516
Closed as duplicate of #517

[2019-04-08 13:59] #516 closed

[2019-04-08 14:00] ruslan-bikkinin commented on #515
Closed as duplicate of #517

[2019-04-08 14:00] #515 closed

[2019-04-08 14:01] ruslan-bikkinin commented on #506
Related issue #517

[2019-04-08 14:01] ruslan-bikkinin commented on #488
Related issue #517

[2019-04-08 14:01] ruslan-bikkinin commented on #469
Related issue #517

[2019-04-11 00:02] brunoffraga opened #519 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.33.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Bruno Fraga\vsmobile.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension

[2019-04-11 07:39] SounD120 commented on #519
Closed as duplicate of #517

[2019-04-11 07:39] #519 closed

[2019-04-11 13:07] SounD120 commented on #514
Hi @PDostalek . Cordova Tools extension is not yet supports i18n. The string you are asking for help with is from [React Native extension](https://github.com/Microsoft/vscode-react-native).
With respect to your question {0} is an URL from which we trying to import some script.

[2019-04-11 13:07] #514 closed

[2019-04-11 13:58] ruslan-bikkinin opened #521 "Error "Application not installed on the device" while debugging Cordova 9 iOS apps"
Error "Application not installed on the device" occurred while debugging Cordova 9 iOS apps. The cause of issue is change in cordova-ios@5.0.0: instead of using plain CFBundleIdentifier value in .plist, `$(PRODUCT_BUNDLE_IDENTIFIER)` is used now.

[2019-04-11 17:14] marco-sampaiopereira commented on #215
The way that I resolved it was: In your device cell phone, go to configurations, aplication, find your aplication... in my case it was as unable.. so, I desinstalled it... after I tryied to run again in vscode in debug and it worked

[2019-04-12 14:34] #521 closed

[2019-04-15 04:29] TaylorDale opened #523 "Extension fails to work at all"
This involves a project where the directory open in VSCode is parent of the Cordova folder, rather than the Cordova folder itself.

## Actual Behavior
1. Install ext, add Cordova config to debugger
2. Run any of the options

## Expected Behavior
1. Something to happen (launch browser, launch app, connect to app)

## Software versions
- Cordova VS Code extension version: 1.8
- VSCode version: 1.33

[2019-04-15 07:01] ruslan-bikkinin commented on #523
Hi @TaylorDale and thanks for reaching us. Could you please give an example of what directory you are trying to open?

[2019-04-15 08:49] TaylorDale commented on #523
Thanks for the quick response Ruslan, the extension does not seem to be able to work if the folder I have open in VSCode is not the direct parent of the Cordova ext. There does not seem to be a way to configure this either.

My setup is
|_Project <- This is open in VSCode
  |_Source
  |_Cordova

[2019-04-15 14:53] ruslan-bikkinin commented on #523
@TaylorDale what's in _Cordova and in _Source directories? Do you have any application demo that we could take a look at?

[2019-04-15 21:49] TaylorDale commented on #523
Cordova is the Cordova project and source is the source code for said
project which is compiled into the Cordova www directory

On Tue, 16 Apr 2019 at 00:53, Ruslan Bikkinin <notifications@github.com>
wrote:

[2019-04-16 11:19] ruslan-bikkinin commented on #523
@TaylorDale thanks for clarifications, to make it work you need to open not just `_Project` directory, but open `_Source` and then add `_Cordova` by `File->Add Folder to workspace`. After that debugging should work. Also, be aware that you need to manually update `_Cordova/www` directory before running debug configuration, but you can make it even simpler by [adding task](https://code.visualstudio

[2019-04-16 21:36] TaylorDale commented on #523
Hi there, thanks for you response and advice. That sounds good to me - I
just wanted to clarify that you can't just simply open the parent directory
of my Cordova and Project source and find some way to make it work. I've
already got the rest of the configuration sorted out in regards to updating
the correct folders etc. - it was just running it through VSCode that was
an issue.

Cheers

On Tue, 1

[2019-04-17 09:45] ruslan-bikkinin commented on #523
@TaylorDale glad to hear that your issue is resolved, then I am closing it. Please feel free to reopen if needed.

[2019-04-17 09:45] #523 closed

[2019-04-18 02:58] coloz opened #526 "In debug, too many compatibility-related exceptions were thrown"
I use angular 7 and ionic 4 for development, probably because in some newer ways, debuger throws a lot of exceptions.But it's normal to use ionic cli.

## Actual Behavior
1. core-js constantly throws exceptions

## Expected Behavior
1. do not throw insignificant exceptions

## Software versions
[code]

## Outputs (Include if relevant)
![image](https://github.com/coloz/images/blob/master/cordova-de

[2019-04-18 08:46] ruslan-bikkinin commented on #526
Hi @coloz and thanks for reaching us. I believe, your question should be addressed to [vscode-chrome-debug-core](https://github.com/Microsoft/vscode-chrome-debug-core) repo, because we don't control this behaviour on extension side.

[2019-04-18 08:46] #526 closed

[2019-04-21 16:01] newtonmunene99 commented on #339
I'm still facing this issue.

[2019-04-22 09:08] ruslan-bikkinin commented on #339
Hi @newtonmunene99 please create separate issue then.

[2019-04-22 10:48] newtonmunene99 commented on #339
Okay Thanks

[2019-04-22 11:10] newtonmunene99 opened #527 "Starting the Ionic dev server timed out"
## Actual Behavior

Serving to the browser(Iionic Serve) timeouts.

Trying to debug my Ionic 4 app on VS Code but shows error: **Starting the Ionic dev server timed out (120000ms)**

Sometimes it gives a different error: **Cannot connect to runtime process,timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:9222).**

 I've even tried increasing `devServer

[2019-04-22 11:52] SounD120 commented on #527
Hi @newtonmunene99 . It similar like there are some problems with Ionic dev server. Could you please try to run `ionic serve` command from command line and let us know how it works for you and give us an outputs from this command. Also could you please attach your debug configurations file `launch.json`?

[2019-04-22 12:55] newtonmunene99 commented on #527
Ionic serve works fine. Although of late it has been taking a bit longer than normal.
### ionic serve
[code]

### Launch.json
[code]

[2019-04-22 13:56] SounD120 commented on #527
@newtonmunene99 Could you please try to run command `ionic cordova run android`, then add `"ionicLiveReload": true` to your `Attach to running android on emulator/device`, run it and let us know does it work for you?

[2019-04-22 14:32] newtonmunene99 commented on #527
@SounD120 Attaching to an already running app works fine. It seems the problem is serving to the browser.

[2019-04-22 14:47] SounD120 commented on #527
@newtonmunene99 Could you please try how `serve` works on fresh Ionic 4 tabs app? You can create it with that command `ionic start ionic4_app tabs --cordova --type=angular --no-link`

[2019-04-22 15:27] newtonmunene99 commented on #527
@SounD120 Makes no difference

[2019-04-23 10:40] SounD120 commented on #527
Hi @newtonmunene99 . I have added a configuration parameter `attachTimeout` that you can use to increase increase attach timeout for debug session,  so it should fix `Cannot connect to runtime process,timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:9222).` error. Could you please download VSIX with this update by the link below(change `.zip` to `.vsix

[2019-04-24 07:50] newtonmunene99 commented on #527
@SounD120 I used it together with devServerTimeout and now it's fine. I had to increase both timeouts. Thanks for the help.

[2019-04-24 07:52] SounD120 commented on #527
@newtonmunene99 Glad to hear it. This feature will be released in the next extension version.

[2019-04-24 08:47] #527 closed

[2019-04-25 05:24] mr-m0nst3r opened #529 "can't attach to running android device"
## Actual Behavior
1. After installed `cordora` and `cordora tools on vscode`, I'm trying to `attach to running android deivce`, but it seems always loading forever.
2. Chrome DevTool `chrome://inspect/#devices` could see the app running the target app on android.

## Expected Behavior
1. First time to cordora, and our test is legal. We just have the apk and don't have the cordora source. I'm expe

[2019-04-25 08:46] SounD120 commented on #529
Hi @mr-m0nst3r , and thanks for questionning . Cordova Tools is intended for debugging Cordova source code while development and **don't provide** Chrome DevTools WebView inspection functions.

[2019-04-25 08:46] #529 closed

[2019-04-25 08:47] mr-m0nst3r commented on #529
@SounD120 I see. Thank you.

[2019-05-03 03:57] prolightHub commented on #134
Same issue still.

[2019-05-05 17:41] julientype opened #530 "reg error to boot with chrome"
## Actual Behavior
An error occurred while attaching to the debugger. Error: Command failed: reg QUERY "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\chrome.EXE" /v ""
'reg' is not recognized as an internal or external command,

## Expected Behavior
bad registry call.............. i'm on windows 8.1

cordova simulate android in browser......

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Window

[2019-05-06 07:31] SounD120 commented on #134
Hi @prolightHub . Please try to add `devServerTimeout` variable to your serve debug scenario, and let us know if it works for you. Otherwise, please create a new issue describing your specific case.

[2019-05-06 08:20] SounD120 commented on #530
Hi @julientype . This behaviour is connected with external package [cordova-serve](https://github.com/apache/cordova-serve). You can propose a fix for that in [that line](https://github.com/apache/cordova-serve/blob/18ace76f16667ebf2ec5bc2125c100a199fb8f44/src/browser.js#L213), or at least fix it locally in the extension folder:
[code]
The exact change for line 213 is:
[code]

[2019-05-06 11:53] SounD120 commented on #530
@julientype I checked both variants of registry queries:
[code]
and
[code]
They are both works on Windows 8.1.
Error `'reg' is not recognized as an internal or external command,` is looks like `reg` executable is absent in your PATH variable.
To add it you need:
* Open
[code]
* Double click on Path variable
* In the window that appears add `%SystemRoot%\System32;` at the start of the `Variable val

[2019-05-07 17:10] julientype commented on #530
Yes it worked... it now boots....
how do you flag cordova to compile with no debug option for the app....
or if i wanted to just grant an iframe  to debug....
like let say im a user and want add an insert to the app yet you need to debug its page insert...
currently it wide open ........chrome:// inspect will dig into cordova.js and my app files and plugins....
their must be a way to flag android

[2019-05-07 22:12] julientype commented on #530
here is what i mean by your app turns into an activeX type app....
like one could build yet the user cant access the system files or code mush like an activeX component so when you use chrome:// inspect on pak file you flag before compiling  what you wish and not wish to grant to isolate the app features.....
now you can fully inspect or part inspect your app that feature do not destroy the app or

[2019-05-08 08:47] SounD120 commented on #530
@julientype Could you please describe in more detailed and structured way what you want to implement?

[2019-05-10 22:43] julientype commented on #530
a plugin  iframe component ..... i create a button and insert logic to the user ..... as the developer of the app
it could pop-into a new div tag window..... in design view ..... save
in JavaScript   it supports events  ..... onload on change for the user.....
this iframe is debug-able...... like you can expose your objects this way.....
iframe.name.setproperties = "foo"
your app is the  store<---

[2019-05-11 02:04] julientype commented on #530
cordova will create it self in run time as dom object... wrong way
you use an object tag to create cordova....
like java runs in a web page.... can chromoe// intersep load it... no
you add a base tag...... and run cordova as object load event.....
you need cordova to fix this.... you dont load cordova as dom like you do you let dom load cordova as an isolated object.....  its how java works in htm

[2019-05-11 02:21] julientype commented on #530
i dont load cordova as a script i load as cordova java object in html page that page let me pay with cordova object and is isolated form dom like regular java app in web page

[2019-05-11 02:45] julientype commented on #530
when don index it self from file reads  over to the debuger its object its not something chrome can debug its in app object
you load cordova this way... its not a link its an object..... cordove inject it self as a script into dom and the debugger pick up all

[2019-05-11 03:22] julientype commented on #530
no joke you make a plugin an i insert its object tag in html  and i now play with camera... its that simple...
its not you creating a dom object for me its me creating a dom object of you in html
your the store im the client in html ....  you dont control dom i do your an object java i call up in dom from an iframe

[2019-05-11 04:12] julientype commented on #530
here is what i mean when i load cordova as an object  not a script... it stays constant..
ifrme1 and to 2 are both the same in the app  .. the store is the store as a store as its object regrades of treads i the user  operas off....

[2019-05-13 16:48] dhanvikapila commented on #530
@julientype  Thank you for the details. Maybe I'm misunderstanding your "plugin iframe component" so maybe you could help me by clarifying few things -

1. Why you would want to restrict access to dom, objects in your app when debugging?
1. Who will be consumers for your component (and view) and how would they use it?
1. What problem are you trying to solve with this component and view?

Thanks.

[2019-05-14 04:36] 1housand opened #531 "[cordova-tools] nothing happens after installing extension"
## Actual Behavior
1. In the VS Code Extensions: Marketplace, click install
2. Reload required
3. Cordova tools is nowhere to be found
4. the files exist in ~/.vscode/extensions though
5. When I force quit VS Code, Cordova tools shows up, but says reload required and nothing happens after reload

## Expected Behavior
1. Install the extension
2. extension appears in the extensions section functioni

[2019-05-14 07:27] SounD120 commented on #531
Hi @1housand . It might be connected with recent extension publisher change. Could you please try to change publisher from `vsmobile` to `msjsdiag` in extension's `package.json` file? To do that please do the following:
* Run `code ~/.vscode/extensions/msjsdiag.cordova-tools-1.8.1/package.json` command in your terminal to open extension's `package.json` file.
* Find `publisher` field and replace i

[2019-05-14 08:34] julientype commented on #530
dom digs into everything.... so the best thing is to just do it in as a  java plug in
the debug console lets you execute what ever you want....
 .....really it digs in deep into the app....  you don want people knowing private stuff or the the ability to retrieve info  or hack in to it as a co worker on software you use to damage it....

[2019-05-14 17:54] dhanvikapila commented on #530
@julientype if you are looking to prevent others from looking into your code, you are not going to be able to use JavaScript for achieving that.

Closing this thread as this is not something that can be done in the Cordova extension.

[2019-05-14 17:54] #530 closed

[2019-05-15 01:54] 1housand commented on #531
thank you @SounD120! it worked!
now i can start coding away!

[2019-05-15 01:54] #531 closed

[2019-05-15 03:59] 1housand opened #532 "[cordova-tools] Debugging "Simulate iOS in browser" not live reloading on code change"
## Actual Behavior
1. Start debugging in VS Code with configuration "Simulate iOS in browser" from Cordova Tools
2. App launches, but does not live reload on code change or when restart debug
3. But app updates when I run "ionic cordova build ios" and restart the debug

## Expected Behavior
1. Live reloads on code changes

## Software versions
- Cordova VS Code extension version: 1.8.1
- VSCode ve

[2019-05-16 14:57] LycheeHe opened #533 "[cordova-tools]Bug occurs when I running android on device set ionicLiveReload to false"
## Actual Behavior
1. I can't debug using cordova-tools of vscode when i set ionicLiveReload=false
2. But i can debug success when i set ionicLiveReload=true

## Expected Behavior
1. You know

## Software versions
- Cordova VS Code extension version: 1.8.1
- VSCode version:1.33.1
- OS platform and version:Window_NT x64 10.0.17763
- NodeJS version:10.2.0
- Cordova version:9.0.1
- Cordova-Android/iO

[2019-05-21 14:18] ruslan-bikkinin commented on #532
Hi @1housand and thanks for reach us. What ionic version does your project use? What is your type of your app (angular, ionic-angular, ionic1, custom)?

[2019-05-21 14:19] ruslan-bikkinin commented on #533
Hi @LycheeHe and thanks for reaching us. What ionic version does your project use? What is your type of your app (angular, ionic-angular, ionic1, custom)?

[2019-05-23 00:42] 1housand commented on #532
Hi @ruslan-bikkinin. thank you for your help and sorry that I forgot to add that information.
I updated my post with the information you asked. Thanks!

[2019-05-23 22:39] rustedwizard opened #535 "Cordova Tool fails to activate after VSCode Reload"
## Actual Behavior
When VSCode reload (when an extension update and require me to reload), Cordova Tool fails to activate (Look at the following screen capture): and I have to close VSCode and reopen again. (seems that only reload cause this extension fails to reload)
![Capture](https://user-images.githubusercontent.com/6314177/58290740-910e8300-7d6f-11e9-8aa0-388e6fcf15ce.PNG)

## Expected Behavi

[2019-05-24 07:43] SounD120 commented on #535
Hi @rustedwizard . It might be connected with recent extension's publisher change. Could you please try to change publisher from `vsmobile` to `msjsdiag` in extension's `package.json` file? To do that please do the following:
* Delete the extension and reload VS Code
* Install the extension
* Run `code %USERPROFILE%\.vscode\extensions\msjsdiag.cordova-tools-1.8.1\package.json` command in your term

[2019-05-24 20:00] rustedwizard commented on #535
It works now, thanks!

[2019-05-27 07:49] SounD120 commented on #535
@rustedwizard Glad to hear it. Then I'll close this issue, feel free to reopen if you have any questions. Happy coding!
Related issue: #531

[2019-05-27 07:49] #535 closed

[2019-05-28 15:19] ruslan-bikkinin commented on #532
@1housand we have two configuration parameters: `ionicLiveReload` and `livereload`.
The first one is intended for enabling live reload for ionic server while running `Run on device/emulator` and `Ionic serve` scenarios (e.g. it passes "--livereload" option to `ionic serve` and `ionic cordova run` command), the second one is intended for enabling livereload for "Simulate ..." debug scenarios (e.g.

[2019-05-28 15:19] #532 closed

[2019-05-29 08:30] ruslan-bikkinin commented on #533
@LycheeHe just a friendly ping on this.

[2019-05-29 08:32] ruslan-bikkinin commented on #424
I am closing this due to long inactivity. Feel free to re-open if needed.

[2019-05-29 08:32] #424 closed

[2019-05-29 12:58] SounD120 commented on #491
Issue to track: https://github.com/microsoft/vscode/issues/74551

[2019-06-03 01:18] zhengzheli opened #538 "Unable to find localabstract name of cordova app"
## Actual Behavior
When I try to run and attach to my Android Device (Samsung Galaxy Tab A) I get the error "Unable to find localabstract name of cordova app"

## Software versions
- Cordova VS Code extension version: 1.8.2
- VSCode version: 1.34.0
- OS platform and version: Windows 10 x64
- NodeJS version: 10.2.0
- Cordova version: 9.0.0 (cordova-lib@9.0.1)
- Cordova-Android/iOS/Windows version:

[2019-06-03 01:20] zhengzheli commented on #538
I have read the other issues that were opened for this error message. It seems like this code in cordovaDebugAdapter.js should find it
[code]

[2019-06-03 01:36] zhengzheli commented on #538
Actually, strangely enough, I was able to debug in VS code using the "Run Android on device" configuration; looks like I don't need to "Attach to running android on device"?

[2019-06-03 01:36] #538 closed

[2019-06-05 12:32] brunohonda-outcenter opened #539 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.2`
- OS Version: `Linux x64 5.1.6-300.fc30.x86_64`
- VSCode version: `1.34.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/brunoah/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-

[2019-06-05 12:40] ruslan-bikkinin commented on #539
Hi @brunohonda-outcenter and thanks for reaching us. Please attach `/home/brunoah/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt` so we could analyze it and get more information about your case.

[2019-06-06 08:35] SounD120 commented on #491
Bug has been fixed by VS Code team. Fix will be released as a part of new VS Code versions.

[2019-06-06 08:35] #491 closed

[2019-06-11 07:51] SounD120 commented on #539
Hi @brunohonda-outcenter do you have a chance to look at this? CPU profiling file `/home/brunoah/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt` is needed to analyze your case, so could you please attach it?

[2019-06-12 14:45] brunohonda-outcenter commented on #539
Sorry, I did not know what this file was and delete it before I got your message.

[2019-06-13 06:27] ruslan-bikkinin commented on #539
@brunohonda-outcenter unfortunately, we can't do much about it then, because the information from this file is crucial for understanding what is slowing extension down. If you face this issue again, please, submit the file.

[2019-06-13 06:27] #539 closed

[2019-06-17 07:10] sandy081 opened #541 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-24 13:53] ruslan-bikkinin opened #543 "Optimize activationEvents in package.json"
Current ones is quite outdated, so they should be changed to something similar to the ones we use in React Native extension, **if possible**:
https://github.com/microsoft/vscode-react-native/blob/master/package.json#L30

[2019-06-27 13:34] ruslan-bikkinin commented on #533
Closing this due to a long inactivity. Feel free to re-open of needed.

[2019-06-27 13:34] #533 closed

[2019-07-02 20:18] francescodoffizi opened #546 "Unable to attach to Ionic app running on iOS 12.3.1 real device"
## Actual Behavior
1. Attach to running iOS on device
2. Output:
Attaching to ios
Configuring debugging proxy
Unable to find target app webview, trying to fallback to the only running webview
Attaching to app.
'Runtime' domain was not foundError processing "attach": 'Runtime' domain was not found: [object Object] or 'Debugger' domain was not foundError processing "attach": 'Debugger' domain was no

[2019-07-02 20:23] francescodoffizi opened #547 "Unable to run "Run iOS on device""
## Actual Behavior
1. Run iOS on device
2.[cordova-tools] Error processing "launch": {_stack}

## Expected Behavior
1. Run iOS on device
2. Debug working

## Software versions
Latest stable

## Outputs (Include if relevant)
- Output of the Debug Console (View -> Toggle Debug Console):

2019-07-02 22:22:28.223 xcodebuild[32694:1970819] [MT] IDEDistribution: -[IDEDistributionLogging _createLoggingBu

[2019-07-03 06:21] francescodoffizi commented on #547
Not Cordova-tools issue, XCode was missing 12.3.1 developer image in /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/DeviceSupport

[2019-07-03 06:21] #547 closed

[2019-07-03 09:30] SounD120 commented on #546
Hi @francescodoffizi and thanks for reaching us. Could you please describe your specific software versions? This information will be very helpful for us. Also could you please clarify what kind of application do you use: Cordova or Ionic? Also it will be helpful if you add information about iOS version that installed on your device.
You can use the following template:
[code]

[2019-07-03 14:22] francescodoffizi commented on #546
Ionic projects (3 or 4 makes no difference as far as I can see)
Cordova 8.1.2 (cordova-lib@8.1.1)
VSCode: Versione 1.35.1 (1.35.1)
MacOS: 10.14.5 (18F132)
Node: v10.14.2
Cordova Tools: 1.8.3
iOS: 12.3.1

[2019-07-03 15:53] francescodoffizi commented on #546
@SounD120 I did a test with a older Ionic 3.2 app and it works... so maybe the issue is ionic 4 related...

[2019-07-04 10:51] ruslan-bikkinin opened #550 "Add error code to the telemetry events"
Currently, telemetry doesn't send any error codes to us so it's hard to understand what is going on with the extension when something fails. We need to add error codes as we already did on the RN side.

[2019-07-05 08:57] ntgpsn opened #551 "Error: Set breakpoints request timed out"
## Actual Behavior
debug on andriod device , error like this :
Error: Set breakpoints request timed out
    at Timeout.setTimeout [as _onTimeout] (c:\Users\Administrator\.vscode\extensions\msjsdiag.cordova-tools-1.8.3\node_modules\vscode-chrome-debug-core\out\src\utils.js:96:24)
    at ontimeout (timers.js:425:11)
    at tryOnTimeout (timers.js:289:5)
    at listOnTimeout (timers.js:252:5)

## Out

[2019-07-09 12:17] ruslan-bikkinin commented on #546
@francescodoffizi looks like this is Ionic bug, because I couldn't even inspect Ionic app using Chrome. I've created [an issue](https://github.com/ionic-team/ionic/issues/18733) in Ionic tracker, so, I'd suggest you to subscribe to it to be posted as to it.

[2019-07-09 12:19] #546 closed

[2019-07-09 12:27] ruslan-bikkinin commented on #551
Hi @ntgpsn and sorry for delayed response. Could you please fill [issue template](https://github.com/microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md) so we could get more details about your specific case?

[2019-07-23 15:32] Iar0 opened #558 "Android: device not found when debugging through emulator"
## Actual Behavior
1. Do a fresh installation of the plugin in a ionic project
2. Open the android emulator
3. run configuration "Run Android on device" (as described in the README for android emulator)
4. Process fails to deploy

## Expected Behavior
1. "Run android on device" should run the app on the android emulator

## Software versions
- Cordova VS Code extension version: 1.8.5
- VSCode vers

[2019-07-23 15:41] ruslan-bikkinin commented on #558
Hi @Iar0 and thanks for questioning. If you are targeting Android Studio emulator please use `Run Android on emulator` debug scenario instead. The documentation page you are referring to is for Visual Studio Emulator for Android users.

Please let me know if it works for you.

[2019-07-24 08:56] Iar0 commented on #558
hey @ruslan-bikkinin thanks for the clarification! I managed to have it working by running the `Run Android on emulator` command ✌️

[2019-07-24 08:56] #558 closed

[2019-07-24 13:47] ruslan-bikkinin commented on #551
@ntgpsn do you have a chance to look at this?

[2019-07-30 08:40] SounD120 commented on #551
Hi @ntgpsn . I'm closing this due to inactivity. Please feel free to reopen if needed.

[2019-07-30 08:40] #551 closed

[2019-07-31 10:14] SounD120 commented on #543
I am closing this as this was released as a part of Cordova Tools v1.8.4

[2019-07-31 10:14] #543 closed

[2019-08-09 19:17] lqrz opened #559 "'Debugger' domain was not foundError processing "attach""
## Actual Behavior
1. I'm trying to debug an ionic app via VSCode by attaching to a running app on my iphone, and I get the following error:
[code]

I'm running ios_webkit_debug_proxy:
[code]

Here is my launch.json config:
[code]

I've found [this issue](https://github.com/ionic-team/ionic/issues/18733). Does it mean there is no way to go about this? It used to work in the past, what has changed?

[2019-08-12 02:50] michaelleepow90 opened #560 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.5`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.37.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\micha\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-08-12 07:38] SounD120 commented on #560
Hi @michaelleepow90 and thanks for reaching us. Could you please attach `vsmobile.cordova-tools-unresponsive.cpuprofile.txt` as it said in [VS Code documentation](https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#dealing-with-high-cpu-load-issues) and in your issue description? We can't do much about it without this info.

[2019-08-14 08:07] SounD120 commented on #560
Hi @michaelleepow90 . Unfortunately, we can't do much without CPU profiling file, because the information from this file is crucial for understanding what is slowing extension down. If you face this issue again, please, submit the file.

[2019-08-14 08:07] #560 closed

[2019-08-16 08:30] francescodoffizi commented on #559
I think this is related to https://github.com/microsoft/vscode-cordova/issues/546 that has been closed after this comment and as far as I can see nothing happened on cordova-plugin-ionic-webview

I would recommend posting a feature request in the Ionic WebView Plugin repo. The code required to make this happen probably needs to come from there: https://github.com/ionic-team/cordova-plugin-ionic-we

[2019-08-16 11:03] ruslan-bikkinin commented on #559
Hi guys, yes, this is Ionic Web View issue, here is the related feature request for bringing back support for inspecting on iOS 12.3+ devices: https://github.com/ionic-team/cordova-plugin-ionic-webview/issues/417.

Closing this as duplicate: https://github.com/microsoft/vscode-cordova/issues/546

[2019-08-16 11:03] #559 closed

[2019-08-22 13:32] fortinmike opened #561 "Debugger does nothing when attaching to iOS device"
## Actual Behavior
1. Start debugging using the default "Attach to iOS on device" build config
2. Nothing happens
    - The "debug starting" indicator animates indefinitely
    - There is no error nor any kind of output that I could find

## Expected Behavior
1. The debugger attaches to the running app

## Additional information

Trying to find the cause of this, I made sure that `ios-webkit-debug

[2019-08-22 14:55] youlc commented on #337
Debug Console trying again and again:(Loop)

Command finished with error code 0: C:\Users\UserID\AppData\Local\Android\sdk\platform-tools\adb.exe -s,emulator-5554,shell,ps
.Running adb shell command "ps" on target emulator-5554...

You just need adjust emulator's System Datetime for your TimeZone and Real Time of your PC.
Then reboot emulator debug again. ok ... ^^

[2019-08-28 07:23] SounD120 commented on #561
Hi @fortinmike and thanks for reaching us. Сould you please try to debug fresh created Сordova application and let us know how it works in your case? Also it would be very helpful for us if you can share a configured demo application where this behavior is reproduced.

I tested such configuration and it works without any problems:
- `rootFolder`
    - `.vscode/launch.json`
    - `cordova_app` (fre

[2019-08-30 12:15] SounD120 opened #564 "Cordova and Ionic applications debugging not working on iOS 12.3.1+ if WKWebView is used"
Since iOS 12.3.1 debugging of Ionic 3 and 4 apps and Cordova apps with `cordova-plugin-wkwebview-engine` doesn't work.
Under the hood this extension uses Chrome DevTools Protocol for debugging, but iOS devices require Webkit Remote Debugging Protocol. [Ios-webkit-debug-proxy](https://github.com/google/ios-webkit-debug-proxy) (IWDP) allows to transform Webkit Protocol to Chrome DevTools Protocol. A

[2019-09-03 10:45] superandrew opened #565 "Node version mismatch"
## Actual Behavior
1. When launched, ionic-app-scripts halts with an error because the selected node version isn't the same as the ionic project requirements (8.9.4)
2. I have a .nvmrc file with `v8.9.4` in it, and vs code terminal switches to that version.
 (the same command executed `node_modules/.bin/ionic-app-scripts build --target cordova --platform android` works in vs code's terminal)

## E

[2019-09-03 16:40] dhanvikapila commented on #564
@SounD120 Can you also investigate why our automated tests failed to catch this ?

[2019-09-04 14:15] SounD120 commented on #561
Hi @fortinmike . Do you have a chance to look at this?

[2019-09-04 15:33] fortinmike commented on #561
Sorry for the delay, I was on vacation.

I successfully ran the debugger and stopped at a breakpoint in a freshly-generated Cordova app, made as you suggested.

I'm still trying to figure out what might be different in our project, apart from the obvious peculiarities I mentioned in my initial post:

Do you have any checklist of troubleshooting steps to try and figure out where the extension is ge

[2019-09-09 01:22] jing-zhou opened #567 "Extension causes high cpu load"
[msjsdiag.cordova-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cordova/files/3588318/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.5`
- OS Version: `Linux x64 5.0.0-27-generic`
- VSCode version: `1.38.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:wa

[2019-09-09 06:08] lubo08 opened #568 "Please add support for electron"
## Actual Behavior
No electron support.

## Expected Behavior
Please add support for electron

## Software versions
latest

[2019-09-09 12:12] SounD120 commented on #568
Hi @lubo08 and thanks for reaching us. Cordova Tools extension was developed for debugging Cordova applications. For debugging Electron applications I recommend to try [VS Code Debugger for Chrome](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome).

[2019-09-09 12:12] #568 closed

[2019-09-11 07:40] RedMickey commented on #565
Hi @superandrew and thanks for reaching us.
[code]
After that debug sessions inside VS Code should use the default version.
Please let us know if this works for you.

[2019-09-15 11:37] fortinmike commented on #561
Good catch, @newdaveespionage ! I can confirm that the debugger does try to start and produces output when I open a new VS Code window with the Cordova app's root as the workspace root. I get the following output:

[code]

I don't know why it doesn't connect in the end, but it wouldn't do much good as the source files aren't located in my `www` directory at dev time (the Cordova app loads the webp

[2019-09-16 08:14] RedMickey commented on #565
Hi @superandrew. Do you have a chance to look at this?

[2019-09-16 13:14] superandrew commented on #565
@RedMickey yes, it seems to be working, however I find difficult to understand that I need to change a system wide setting such as the default version of node specified in nvm to use that particular version in a debugging configuration. Is this the only way?

[2019-09-17 10:23] RedMickey commented on #561
Hi @fortinmike, It seems that the debugger couldn't attach because WKWebView plugin is used. We already have similar issue for Ionic. Such a problem arises because of existing [IWDP issues](https://github.com/microsoft/vscode-cordova/issues/564) with WKWebView since iOS 12.3.
With respect to the project root problem: could you please send us a minimal configured demo project, so we can reproduce a

[2019-09-17 13:17] RedMickey commented on #565
Hi @superandrew. NVM uses a shell function (instead of an environment variable) to configure the path to the Node.js. Unfortunately this is not supported in VS Code on macOS, according to official [VS Code issue](https://github.com/Microsoft/vscode/issues/19951).

[2019-09-17 13:28] superandrew commented on #565
I see. To your knowledge the `runtimeVersion` attribute is appliable to workspace? That would be a nice workaround instead of a VS Code-wide setting.

[2019-09-17 14:25] SounD120 commented on #567
Hi @jing-zhou . As seen from your cpu profile extension activation caused the high cpu load. Do you remember what did you do in VS Code when this message showed up?

[2019-09-18 06:46] dotupNET commented on #527
It's still not solved!

**What I've done:**

1. ionic start testapp tabs
2. Activate VSCode Cordova Plugin (Version 1.8.6)
3. Select 'Serve to the browser (Ionic serve)'
4. Hit F5

**Debug console output:**

- Parameter target is not set - emulator will be used
- Launching for serve (This may take a while)...
- Starting Ionic dev server (live reload: true)
- [WARN] The --nobrowser option has been

[2019-09-18 06:54] SounD120 commented on #527
Hi @dotupNET . Could you please create a new issue for your specific case and fill it according to our [issue template](https://github.com/microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md)?

[2019-09-18 07:29] dotupNET opened #570 "Starting the Ionic dev server timed out"
## Actual Behavior
1. Create new project (ionic start testapp tabs)
2. Activate VSCode Cordova Plugin (Version 1.8.6)
3. Select 'Serve to the browser (Ionic serve)'
4. Hit F5.
5. Error Message: Starting the Ionic dev server timed out

**Same behaviour with "Run Android on emulator" and "ionicLiveReload": true**

## Expected Behavior
1. Create new project (ionic start testapp tabs)
2. Activate VSCo

[2019-09-18 07:30] dotupNET commented on #527
Hi @SounD120 you can find it here:

[https://github.com/microsoft/vscode-cordova/issues/570]

[2019-09-18 07:33] SounD120 commented on #570
@dotupNET Could you please try to run `ionic serve` command from your application folder and ley us know how it works for you and also send us the command output?

[2019-09-18 07:35] dotupNET commented on #570
`ionic serve`  and `ionic cordova run android -l` works fine

[2019-09-18 08:08] SounD120 commented on #570
@dotupNET As seen from your logs, basic application was launched in 66761 ms on your configuration with `ionic serve` command, but your `launch.json` initialized `devServerTimeout` variable with value 50000 ms. Application is most likely did not finished build after 50000 ms. Could you please try to increase this value and let us know if that worked?

[2019-09-18 08:58] SounD120 opened #571 "Add NVM Node.js version support"
As for now VS Code [doesn't support debugging with NVM on macOS](https://github.com/Microsoft/vscode/issues/19951#issuecomment-422077768). But there is a [`runtimeVersion`](https://github.com/microsoft/vscode-node-debug/blob/fc36cb94a3a556803f5284a0e86a1e1564059076/package.nls.json#L48) debug configuration variable exists in [`vscode-node-debug`](https://github.com/microsoft/vscode-node-debug) to

[2019-09-18 09:02] RedMickey commented on #565
Hi @superandrew. At the moment this parameter is not supported by the extension. But we [added this enhancement](https://github.com/microsoft/vscode-cordova/issues/571) to our backlog and consider it in order of priorities.

[2019-09-18 09:02] #565 closed

[2019-09-18 09:10] superandrew commented on #571
I think this is a really nice enhancement for developers that have more than 1 project/node/cordova version.

[2019-09-20 05:12] dotupNET commented on #570
It works for 'Serve to the browser (Ionic serve)'.

When I use 'Run Android on emulator' the app is launching but after the specified timeout the error occurs again.

[code]

[2019-09-24 06:33] SounD120 commented on #570
Hi @dotupNET . I was able to reproduce this behavior. I am working on a fix now.

[2019-09-24 06:34] SounD120 commented on #567
Hi @jing-zhou . Do you have a chance to look at this?

[2019-09-24 11:56] SounD120 commented on #570
@dotupNET I proposed a fix for that. Could you please try it and let us know how it works for you? To do that please do the following:
* Download and unzip compiled extension VSIX from `output-verifier-fix`
branch: [cordova-tools-1.8.6.vsix.zip](https://github.com/microsoft/vscode-cordova/files/3646984/cordova-tools-1.8.6.vsix.zip)
* Uninstall extension
* Close VS Code
* Open VS Code
* Click `Exte

[2019-09-24 15:17] fortinmike commented on #561
@RedMickey I'm swamped by other work ATM but as soon as I can I'll try to make a minimal demo project to reproduce the issue. I'd really like this to get fixed so I'll definitely get to it ASAP. Most likely on or after Oct. 3.

Did you try to open a parent folder of the Cordova project as the workspace root instead of the project directory itself? Seems like that *might* cause the issue to occur,

[2019-09-24 20:16] newdaveespionage commented on #561
Added a [basic repo with the ionic tabs app here](https://github.com/newdaveespionage/vscode-cordova-561)

Debugger runs, but does nothing even when left for several minutes:
<img width="1440" alt="Screen Shot 2019-09-24 at 1 07 56 PM" src="https://user-images.githubusercontent.com/8219253/65547034-899de880-decd-11e9-8fb5-da369983e09c.png">

[2019-09-25 05:38] dotupNET commented on #570
It works. Thanks

[2019-09-25 07:46] SounD120 commented on #567
@jing-zhou Since the high cpu load caused by the extension activation and there are no other details, I am closing this issue because it is duplicating #517. Thanks.

[2019-09-25 07:46] #567 closed

[2019-09-25 12:07] RedMickey commented on #561
Hi @fortinmike, @newdaveespionage.
It could be better to use [multi-root approach](https://code.visualstudio.com/docs/editor/multi-root-workspaces) to work with subdirectories.
1. Open VS Code
1. Click `File` from top menu, then select `Add Folder to Workspace`
1. Choose your project and add it

Thus you will able to work with several projects in one workspace.
Further we also figured out why the

[2019-09-27 07:23] Fenikz31 opened #573 "Extension causes high cpu load"
[msjsdiag.cordova-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cordova/files/3661449/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.6`
- OS Version: `Windows_NT x64 10.0.18985`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:war

[2019-09-27 07:39] SounD120 commented on #573
Hi @Fenikz31 . As seen from your cpu profile extension activation caused the high cpu load. Do you remember what did you do in VS Code when this message showed up?

[2019-09-27 14:42] kstro21 commented on #471
Is this in progress or is waiting for someone to start it? I would like to help.

[2019-09-27 20:10] Fenikz31 commented on #573
Well, I just turned on my laptop and launch vscode. Maybe there was some
services running in the background.

Le ven. 27 sept. 2019 09:40, Yuri Skorokhodov <notifications@github.com> a
écrit :

[2019-09-28 20:13] newdaveespionage opened #574 "Add troubleshooting tip for projects where Cordova is in a subdirectory"
## Actual Behavior
1. Documentation does not mention that Cordova portion of project must be at top level of workspace in VS Code
2. `vscode-cordova` does not function properly unless Cordova portion of project is at top level of workspace

## Expected Behavior
1. Documentation has solution for this in troubleshooting section

## Relevant issue and comment

[Issue 561](https://github.com/microsoft

[2019-09-30 08:43] SounD120 commented on #471
Hi @kstro21 , there is no progress so far, but it would be great if you contribute to the project. Here is the [contribuiting guide](https://github.com/microsoft/vscode-cordova/blob/master/CONTRIBUTING.md). I think the good starting point could be adding the support of the Capacitor CLI as described [here](https://github.com/microsoft/vscode-cordova/blob/aad28299970af88f9c7040f1d663e3630bf0d3f6/sr

[2019-09-30 13:26] SounD120 commented on #573
@Fenikz31 Thanks for clarification. Since this behavior is connected with high cpu load on the extension activation, I am closing this issue as a duplicate of #517.

[2019-09-30 13:26] #573 closed

[2019-10-01 13:27] sanket-bhalerao opened #576 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.6`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.39.0-insider`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\sanket_bhalerao\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explai

[2019-10-01 13:27] #576 closed

[2019-10-03 14:05] starlleytk opened #577 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.8.6`
- OS Version: `Linux x64 4.15.0-65-generic`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/starlley/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cau

[2019-10-03 14:46] colonelpopcorn opened #579 "No "Cordova Tools" category in the output dropdown."
## Actual Behavior
1. "Cordova Tools" log category is missing from output selector.

## Expected Behavior
1. Output selector should have a "Cordova Tools" log category.

## Software versions
- Cordova VS Code extension version: 1.8.6
- VSCode version: 1.38.1
- OS platform and version: macOS/Mojave 10.14.6
- NodeJS version: 10.15.0
- Cordova version: 9.0.0
- Cordova-Android/iOS/Windows version: chr

[2019-10-03 14:51] colonelpopcorn commented on #579
Here's my launch.json config.

[code]

[2019-10-04 08:34] lqrz opened #580 "Cannot serve to browse ionic4"
## Actual Behavior
1. Im trying to debug my ionic4 app using vscode cordovatools, but when i launch the `Serve to browser (ionic serve)`  option, I get an error back:

```Cannot perform Ionic serve/watch for project type: angular```

Comment aside: my project runs OK if I run `ionic serve` from a terminal.

## Software versions
- Cordova VS Code extension version: 1.8.6
- VSCode version: 1.37.0
-

[2019-10-07 11:53] SounD120 commented on #580
Hi @lqrz and thanks for reaching us. Which version of Ionic is installed globally on your machine?
You can try the following command to get the version:
[code]
Also Ionic 4 has the `angular` type instead of `ionic-angular` which is for Ionic 3.
Could you please also try to run serve scenario on a freshly created Ionic 4 app and let us know how it works for you?
You can use the following command to

[2019-10-07 11:57] SounD120 commented on #561
Hey guys. Since this behavior is connected to ios-webkit-debug-proxy issues I am closing this issue. #574 was created for tracking workspace documentation issue.

[2019-10-07 11:57] #561 closed

[2019-10-07 14:14] SounD120 commented on #579
Hi @colonelpopcorn and thanks for reaching us. Cordova Tools output channel is used only for Command Pallette commands such as `Cordova: Build` or `Cordova: Run`. For `simulate` debug scenario Debug Console is used.

[2019-10-08 11:59] lqrz commented on #580
Hi, @SounD120 !

I'm using Ionic version `5.4.2`.

Wrt serving the fresh app, I created the project using the command you mentioned (i.e. `ionic start ionic4_app tabs --cordova --type=angular --no-link`). And when using VScode's Cordova tools to serve it, I get the same error:

[code]

That is, using the following entry on my `launch.json`:
[code]

[2019-10-09 13:25] SounD120 commented on #579
Hi @colonelpopcorn . Do you have a chance to look at this?

[2019-10-09 14:41] SounD120 commented on #580
Hi @lqrz . Could you please try to remove `type` attribute from the `ionic.config.json` file and try to run  `Serve to the browser` scenario?

[2019-10-09 17:13] lqrz commented on #580
This is what i get if  i remove the `type` property from the `ionic.config.json`:

[code]

[2019-10-10 01:43] ZhongkaiChen opened #582 "Unable to find webview"
## Actual Behavior
Cannot attach to running ios
Attaching to ios
Configuring debugging proxy
Unable to find webview

## Expected Behavior

## Software versions
- Cordova VS Code extension version:
1.8.6
- VSCode version:
1.38.1
- OS platform and version:
macOS Mojave 10.14.5
- NodeJS version:
10.16.3
- Cordova version:
9.0.0
- Cordova-Android/iOS/Windows version:
ios 13.1.2

[2019-10-10 08:23] SounD120 commented on #580
@lqrz In my case it worked with `angular` project. Do you use nvm? It seems that Ionic versions in terminal and in VS Code debug session are not the same.

[2019-10-10 16:01] lqrz commented on #580
@SounD120 Oh, I see! I do use NVM. Is there a way in which I can specify which runtime to use in the VSCode scenario? I would usually use the property `runtimeExecutable`, but I cannot use it here.

[2019-10-11 07:42] SounD120 commented on #580
@lqrz Then this problem looks like https://github.com/microsoft/vscode-cordova/issues/565 . There is no `runtimeExecutable` debug parameter yet, but we [have it in our backlog](https://github.com/microsoft/vscode-cordova/issues/571).
For now I'd recommend to set a default Node.js version with a command:
[code]
Please let us know if it works for you.

[2019-10-11 13:55] RedMickey commented on #582
Hi @ZhongkaiChen and thanks for reaching us. Could you please try to reinstall `ios-webkit-debug-proxy` by using the following commands? A new `ios-webkit-debug-proxy` version contains work compatibility fixes for iOS 13.
[code]

[2019-10-11 15:09] lqrz commented on #580
Like a charm, @SounD120 ! After adding the nvm alias and restarting the VSCode, I can serve and debug my app. Thanks so much for your help!

[2019-10-12 01:30] ZhongkaiChen commented on #582
Hi, thank you for the reply, but still not working after this

[2019-10-12 01:36] ZhongkaiChen commented on #582
{
            "name": "Attach to running iOS on device",
            "type": "cordova",
            "request": "attach",
            "platform": "ios",
            "target": "device",
            "port": 9220,
            "sourceMaps": true,
            "cwd": "${workspaceFolder}"
        },

[2019-10-12 01:36] ZhongkaiChen commented on #582
[cordova-tools] Error processing "attach": Unable to find webview

[2019-10-14 07:40] SounD120 commented on #580
That's great, @lqrz ! I am closing that issue. Please feel free to open new ones if needed.

[2019-10-14 07:40] #580 closed

[2019-10-14 10:54] SounD120 commented on #579
Hi @colonelpopcorn . I'm closing this issue due to inactivity. Please feel free to reopen if needed.

[2019-10-14 10:54] #579 closed

[2019-10-14 10:58] SounD120 commented on #577
Hi @starlleytk . Unfortunately, we can't do much without CPU profiling file, because the information from this file is crucial for understanding what is slowing extension down. If you face this issue again, please, submit the file.

[2019-10-14 10:58] #577 closed

[2019-10-14 12:13] RedMickey commented on #582
Hi @ZhongkaiChen, could you please run the following command from your project root and send us its output?
[code]

[2019-10-14 17:50] ryanhalley opened #585 "Unable to deploy to ios device"
Hi. I've got a VM running MacOS, with my iphone device connected via lightning cable. I had many issues due to the build I inherited needing a) the legacy build mode and b) use manual signing, however, I'm now at the point where I can deploy to my device, providing I use a manual build command (ionic cordova build ios -- --buildFlag="-UseModernBuildSystem=0"), then click the Run button in the XCod

[2019-10-15 06:04] ZhongkaiChen commented on #582
cordova-lib@9.0.1 with:
  cordova-common@3.2.0
  cordova-create@2.0.0
  cordova-fetch@2.0.1
  cordova-serve@3.0.0

Environment:
  OS: darwin
  Node: v10.16.3
  npm: 6.9.0cordova-lib@9.0.1 with:
  cordova-common@3.2.0
  cordova-create@2.0.0
  cordova-fetch@2.0.1
  cordova-serve@3.0.0

Environment:
  OS: darwin
  Node: v10.16.3
  npm: 6.9.0

[2019-10-15 09:41] RedMickey commented on #585
Hi @ryanhalley and thanks for reaching us. Could you please try to do the following steps according to this [comment](https://github.com/microsoft/vscode-cordova/issues/465#issuecomment-448156409) and tell us the results?
Could you please also send us the iOS version on your device?

[2019-10-15 10:07] RedMickey commented on #582
@ZhongkaiChen, could you please try to do the following steps according to this [comment](https://github.com/microsoft/vscode-cordova/issues/465#issuecomment-448156409) and let us know about the results?
If it doesn't help you, could you please check if `WKWebView` plugin (e.g. `cordova-plugin-wkwebview-engine`) is used in your project?

[2019-10-15 21:52] ryanhalley commented on #585
Thanks for getting back to me so quick.
That certainly made a difference, the IPA is being deployed to the phone and is attempting to start, but then hanging at the splashscreen.

[code]

An additional problem though, is I am now not able to deploy to my phone from within XCode anymore - I get 'process launch failed: timed out waiting for app to launch'. Unlike in VC, my phone stays on the home sc

[2019-10-16 01:29] ZhongkaiChen commented on #582
I tried this comment, but still the same.
I am not using this plugin.

[2019-10-16 10:24] RedMickey commented on #585
@ryanhalley, could you please try to launch your application from system terminal by using the following command?
[code]
Cordova uses [ios-deploy lib](https://github.com/ios-control/ios-deploy) for deploying and launching applications on iOS devices. As for now there are some incompatibilities with iOS 13 and Xcode 11. You can find more information about that issue [here](https://github.com/ios-co

[2019-10-16 10:38] RedMickey commented on #582
@ZhongkaiChen, could you please check if `Safari Web Inspector` option is enabled on your device?
To reach the `Web Inspector` option you can do the following:
[code]

[2019-10-16 12:08] ryanhalley commented on #585
Hmm, yes, exactly the same issue as in the thread you linked.
[code]

I also tried to use the attach method, but the app moves to the fore on my phone and stays on splash screen:
[code]

I see the final update in that thread was "I ended up rebuilding the binary with version 1.10.0 and now Cordova can launch it." - I'm not sure how to do that.

[2019-10-16 13:17] RedMickey commented on #585
@ryanhalley, could you please try to reinstall `ios-webkit-debug-proxy` by using the following commands? The latest `ios-webkit-debug-proxy` version contains some work compatibility fixes for iOS 13.
[code]

[2019-10-16 14:52] ryanhalley commented on #585
VC deploy gave me 'Unable to launch application.'
Trying to attach to running app, it stayed like this without any unable to communicate messages:
[code]
I made a massive mistake and tapped the deployed application icon on my device to see if it was running - once it switched to the app, showing the stalled plashscreen, I then found that the Home button no longer responds to double-tap to kill tas

[2019-10-16 19:45] MInesGomes commented on #126
On Mac https://code.visualstudio.com/docs/setup/mac

[2019-10-16 20:39] MInesGomes opened #586 "'Unable to find adb'. Adb is in the path of my Mac OS Catalina"
## Actual Behavior
When I try to debug on device or emulator it gives me this error.

## Expected Behavior
Debug Message appearing in debug tab.

## Software versions
Version: 1.39.2
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 19.0.0
MacOS: Catalina 10.15

[code]

## adb is in Mac path

If I do on terminal inside or outside vscode

`$adb devices

[2019-10-17 07:41] RedMickey commented on #585
The reason of such a behavior may be in disabled `Safari Web Inspector` on iOS device.

Could you please check if `Safari Web Inspector` option is enabled on your device?
To reach the Web Inspector option you can do the following:
[code]
If it is disabled, please turn it on and try to execute attach scenario again.

[2019-10-17 08:43] SounD120 commented on #586
Hi @MInesGomes and thanks for reaching us. I am using such `.zshrc` config on macOS 10.15 and Ionic applications debugging works without any problems with the extension:
[code]
Could you please try this config and let us know how it works for you?

[2019-10-17 12:06] ryanhalley commented on #585
Almost there! Some updates:
1. 'cordova run ios --device' gave me the 'Device doesn't support wireless sync'
2. Debugging from VC, I did see app launch, but the VC showed a popup with a launch error. I tried to attach and got:
[code]
I then tried some of the ionic commands:
3. 'ionic cordova run ios --device' launched app correctly.
4. 'ionic cordova run ios -c --device' did launch the app, no log

[2019-10-17 13:57] MInesGomes commented on #586
Thank you @SounD120.

I set your lines in .zshrc and did `code <MyDirectory>`
 I still get the  error

I also did:
clean  .zshrc
`code <MyDirectory>`
in VSCode Terminal adb devices

then set again your .zshrc  content
and in VSCode Terminal adb devices

But If I try to attach debug gives the error ...

Is your launch.json like this?
[code]

I am able to run to android and to emulator
But to run I

[2019-10-17 14:16] RedMickey commented on #585
@ryanhalley, now I see your problem. We already have [an issue](https://github.com/microsoft/vscode-cordova/issues/564) related to such behavior. Unfortunately this is an external bug, and for now the extension can't provide Ionic debugging for devices with iOS version over 12.3.0. You can find more info [here](https://github.com/microsoft/vscode-cordova/issues/561#issuecomment-534990180).

[2019-10-17 18:15] ryanhalley commented on #585
Thanks for all your help! It may not work, but at least I know why. What I find odd, is that I can't seem to get consistent results - it's as if a state is cached somewhere. I'd be happy if I could at least run 'ionic cordova run ios --device', and have it work each time.

[2019-10-18 06:32] SounD120 commented on #586
@MInesGomes Do you use NVM?

[2019-10-18 06:33] MInesGomes commented on #586
@SounD120 I used in Monjave. Now says:

`zsh: command not found:`

how do you suggest I install it?

[2019-10-18 06:34] RedMickey commented on #585
@ryanhalley, I was glad to help you. Since this behavior is connected to ios-webkit-debug-proxy issues I am closing this issue. Please feel free to open new ones if needed.

[2019-10-18 06:35] #585 closed

[2019-10-18 07:17] SounD120 commented on #586
"name": "Attach to running android on device",
           "type": "cordova",
           "request": "attach",
           "platform": "android",
           "target": "device",
           "port": 9222,
           "sourceMaps": true,
           "cwd": "${workspaceFolder}"
       },

@MInesGomes  Hmm, ok. Yes, I use the same debug scenario.

Could you please copy the whole content of your `.zshrc` file

[2019-10-18 07:19] MInesGomes commented on #586
@SounD120 I didn't have any ~/.zshrc . I created
cat ~/.zshrc
[code]

[2019-10-18 07:33] MInesGomes commented on #586
Sorry @SounD120 and thank you very much for your help. :-)
I updated Catalina last night and today I tried and is working

[2019-10-18 07:33] #586 closed

[2019-10-18 07:35] SounD120 commented on #586
@MInesGomes Glad to hear that. Feel free to reach out to us if you have any questions about the extension.

[2019-10-18 07:50] RedMickey commented on #582
Hi @ZhongkaiChen, do you have a chance to look at this?
Could you please tell us if your application is pure Cordova or Ionic one?

[2019-10-20 14:07] MKHSKY commented on #582
Same problem on my side with ionic cordova app
The Web Instpector option is not available in the simulator

[2019-10-21 10:38] RedMickey commented on #582
Hi @MKHSKY, for now Cordova Tools extension doesn't support iOS Simulators debugging and Ionic application debugging for devices with iOS version over 12.3.0. This caused by `ios-webkit-debug-proxy` bugs: https://github.com/google/ios-webkit-debug-proxy/issues/294, https://github.com/google/ios-webkit-debug-proxy/issues/250, https://github.com/google/ios-webkit-debug-proxy/issues/326. You can find

[2019-10-23 09:35] RedMickey commented on #582
Hi @ZhongkaiChen. I'm closing this due to inactivity. Please feel free to reopen if needed.

[2019-10-23 09:35] #582 closed

[2019-11-07 18:39] navs007 commented on #256
having the same issue but its a full fledged project and i know the breakpoint is hit on chrome://inspect and not in visual studio code

[2019-11-07 19:15] SounD120 commented on #256
Hi @navs007 . Thanks for reaching us. Could you please create a new issue for your specific case?

[2019-11-07 19:33] navs007 opened #587 "attach to running andoid on device not breaking at the breakpoint"
I am trying to hit the breakpoint on visual studio code on a .ts file ,
 but never hits it.
when i put a hard breakpoint using debugger chrome://inspect breaks.
The day i installed Cordova Tools it worked randomly but now totally not hitting the breakpoint.
 {
            "name": "Attach to running android on device",
            "type": "cordova",
            "request": "attach",
            "pla

[2019-11-07 19:33] navs007 commented on #256
https://github.com/microsoft/vscode-cordova/issues/587

[2019-11-08 07:19] RedMickey commented on #587
Hi @navs007 and thanks for reaching us. Could you please send us a screenshot or code example with breakpoints which aren't caught by the debugger? It will help us reproduce this problem and investigate it faster. Thanks.

[2019-11-08 19:14] navs007 commented on #587
![image](https://user-images.githubusercontent.com/57499616/68503791-b87bde00-0231-11ea-893d-0848b61abe48.png)

see line 1401 the debuggers breaks always in chrome://inspect
see line 1402/1401 does not break in visual studio code

[2019-11-11 08:45] RedMickey commented on #587
@navs007, could you please fill all fields in issue description according to the [issue template](https://github.com/microsoft/vscode-cordova/blob/master/.github/ISSUE_TEMPLATE.md)? Could you please also tell us your action sequence to reproduce issue behavior? It isn't so clear what `layerClick` function do and where it is called, there is just a guess from our side that this function is click ha

[2019-11-14 13:30] RedMickey commented on #587
@navs007, do you have a chance to look at this?

[2019-11-14 14:14] navs007 commented on #587
Hi Yes its any code dosnt have to be button click.
its not debugging any of the break points.

How ever LayerClicked is an event emitter

@Output() public layerClicked: EventEmitter<object> = new EventEmitter<object>();

 <d-map (layerClicked)="SomeGeometry($event)">

Method Call
 this.layerClick(e, feature, layer, mapLayer);

Method declared
public layerClick(clickEvent: MouseEvent, feature: any,

[2019-11-15 07:58] RedMickey commented on #587
@navs007, we tried to reproduce event emitter behavior the following way:

* Created a parent Angular component and added a child component in it
* Added `EventEmitter` in the child component
* Subscribed on that `EventEmitter` in the parent component
* Tried to debug these components

But we didn’t face any problem while executing debugging.
Could you please provide us a demo application in which

[2019-11-20 12:46] RedMickey commented on #587
Hey @navs007, just a friendly ping on this.

[2019-11-21 10:53] EOussama opened #588 "Are there any plans to add support for Edge Chromium?"
## Actual Behavior
1. The debugging mode always launches **Chrome**.

## Expected Behavior
1. Being able to customize the preferred browser, from which **Edge Chromium** can be chosen.

[2019-11-22 07:48] SounD120 commented on #588
Hi @EOussama and thanks for reaching us. When you are saying "customize the prefered browser" you mean add an ability to change default browser for simulate and serve debug scenarios?

[2019-11-22 07:58] EOussama commented on #588
Yes, exactly that.

[2019-11-22 08:00] SounD120 commented on #588
Got it, thanks for your feedback, we'll consider that and manage in order of priorities.

[2019-11-25 10:17] RedMickey commented on #587
Hi @navs007. Unfortunately, we can't do much without a demo application reproducing that behavior, because the information from this app might be crucial for understanding why breakpoints aren't captured. If you face this issue again, please, provide us a demo.

[2019-11-25 12:45] navs007 commented on #587
Hi How would you like the demo..you could add me on teams and i can show you the demo..Please send me your emailid so i can send you the info.If you need a different mode of demo let me know.

I will be happy to provide you the inpo to get it work

[2019-11-25 13:06] RedMickey commented on #587
@navs007, could you please send me a demo to this email v-miezhe@microsoft.com. Please attach an instruction to your demo which contains the steps describing what needs to be done to reproduce this problem and the exact positions of not working breakpoints in the code.

[2019-11-25 13:56] navs007 commented on #587
I have sent you a mail with some info and attachment.
But in the mean while, please send me a sample code on which the mobile app is breaking on the breakpoints for you.

I want to know if its my project or all of them on my sys.

[2019-11-27 09:11] RedMickey commented on #587
@navs007, thanks for your demo, but it seems to be just a part of some other project. So we cannot create a test project because of lack of some dependencies. Please send the fully configured minimal demo application next time.
We created our demo application, checked whether breakpoints were captured and didn't face any problems while its debugging. The application sources are available in [demo-

[2019-11-27 13:30] navs007 commented on #587
Thanks for the input.
However I tried launching  Android on Emulator following along through the steps...
I have the environment variables set up too...

I see nothing on the Emulator its been almost 5 min now..Attached is the screen shot for the same..
[RunAndroidOnEmulator.zip](https://github.com/microsoft/vscode-cordova/files/3897017/RunAndroidOnEmulator.zip)

[2019-11-27 15:51] navs007 commented on #587
Some more inputs further to the above.
Other thing would be i run in the terminal with this command always to free  the memory and run app if not it breaks too. When i run with the below command it always runs on emulator and device

max-old-space-size=8192; ionic cordova run android -lcs

but on debug mode "Run Android on device/Emulator" how do i specify that max-old-space-size=8192

I updated t

[2019-11-28 07:17] RedMickey commented on #587
@navs007, could you please fill the template below with logs from VS Code on trying to debug the demo application?  Could you please also send us outputs of the `ionic cordova run android -lcs` command when you are trying attach to the debugger?
## Outputs
- Output of the Debug Console (View -> Toggle Debug Console):
[code]
- Output of the Debug Console (View -> Toggle Debug Console -> Select `Att

[2019-11-28 14:47] navs007 commented on #587
**This Section Of the Log Is only Related to My Actual App**
** Below Throws and error**
**Not The Demo App but My App

Debug Console when Run Android On Emulator ie debug mode**

[ng] Thu, 28 Nov 2019 14:21:11 GMT express:router:layer new '/'
[ng] Thu, 28 Nov 2019 14:21:11 GMT express:router:route rebind '*'
[ng] Thu, 28 Nov 2019 14:21:11 GMT express:router:layer new '/'
[ng] Thu, 28 Nov 2019 14:

[2019-11-28 15:31] navs007 commented on #587
**Outputs**
**Output of the Debug Console (View -> Toggle Debug Console -> Select Run Android on device or Run Android on emulator in ListBox):**
[RunAndroid ondeviceDemoApp.txt](https://github.com/microsoft/vscode-cordova/files/3902292/RunAndroid.ondeviceDemoApp.txt)

Attched The File

[2019-11-29 18:38] Hadatko opened #590 "Enviroment paths are not taken into account."
## Actual Behavior
1. In Visual Studio Code terminal i see correct enviroment paths for Android SDK
2.In Visual Studio Code debug  i see wrong default enviroments paths for Android SDK -> cause build tools not found error

## Expected Behavior
1. Take enviroment variables from system

## Software versions
- Cordova VS Code extension version: 1.9.0
- VSCode version:1.40.2
- OS platform and version:

[2019-11-29 18:51] Hadatko opened #591 "Custom workspace path not working."
## Actual Behavior
When cwd is extended to e.g.: "cwd": "${workspaceRoot}/gui/android",
1. When no vscode workspace settings are placed in ${workspaceRoot}/gui/android then running debug is executing no code (no output in debug console). But Visual Studio Code is prettending doing something due to some blue bar moving.
2. When some default vscode workspace settings are placed in ${workspaceRoot}/g

[2019-12-02 09:44] RedMickey commented on #590
Hi @Hadatko and thanks for your reporting. As seen from your logs there may be two different `ANDROID_HOME` system variable definitions in `~/.bashrc` and  `~/.bash_profile`. VS Code editor launched from UI requires system variables to be defined in `~/.bash_profile`. Please make sure that your `~/.bash_profile` file contains correct environment variables.

[2019-12-02 09:47] Hadatko commented on #590
Hi @RedMickey,
unfortunatelly i don't have .bash_profile at all.

[2019-12-02 09:50] Hadatko commented on #590
It looks like newer OS doesn't have .bash_profile file. Are you parsing this file? Is it wise? Shouldn't you read system environment variables from system itself?

[2019-12-02 11:33] RedMickey commented on #590
@Hadatko, the extension doesn't parse any environment variables itself. It uses the environment variables that VS Code editor provides to it.
If there isn't `~/.bash_profile` file in your system, please make sure that `~/.profile` file refers to `~/.bashrc` and `~/.bashrc` contains all the environment settings.

`~/.profile` should contain something like this to forward all settings from `~/.bashr

[2019-12-02 12:15] Hadatko commented on #590
I am always running code from cmd. But i need to tell that today it is working. Maybe restart system helped (i don't know how. I restarted app several times with new terminal with actual enviroment as described above.). I also don't have .profile file. But it started work so i am fine. Thank you for your time and help ;)

[2019-12-02 12:17] #590 closed

[2019-12-02 12:26] RedMickey commented on #590
Sounds good! Please feel free to open new ones if needed.

[2019-12-02 12:49] RedMickey commented on #587
@navs007, we figured out that it's possible to set maximum available memory size by using the `NODE_OPTIONS` global system variable, which has been introduced since Node.js 8. On Windows you can specify the number of available memory size the following way:
1. Open PowerShell
1. Execute the command below to set max-old-space-size parameter on 4096 Mb:
[code]
As seen from your logs of the demo appl

[2019-12-02 13:21] RedMickey commented on #591
Hi @Hadatko and thanks for reaching us. You can use [VS Code multi-root approach](https://code.visualstudio.com/docs/editor/multi-root-workspaces) to work with subdirectories. For now the extension supports only that approach.
You can do the following to add a folder to your workspace:
1. Open VS Code
1. Click `File` from the top menu, then select `Add Folder to Workspace`
1. Choose your project f

[2019-12-02 13:23] Hadatko commented on #591
Ok thanks. I was able to do it this way, but it is not nice because i have opened two folders in workspace and one is like root and second root/gui/android.

[2019-12-02 15:07] navs007 commented on #587
HI
**step 1**
I have executed the command in powershell.

**Step 2**
Package.json file

 "scripts": {
        "ng": "ng",
        "start": "node --max_old_space_size=8192 ./node_modules/@angular/cli/bin/ng serve",
        "build": "node --max_old_space_size=8192 ./node_modules/@angular/cli/bin/build"
    },

**Step 3** Not working

First time debug works ie "Attach the debug on Emulator" and sudde

[2019-12-03 08:28] #574 closed

[2019-12-04 09:01] RedMickey commented on #591
Hi @Hadatko, the fix has been merged with master branch. It will be available in the next extension version, so I'm closing this issue. Feel free to open new ones if needed.

[2019-12-04 09:01] #591 closed

[2019-12-04 09:03] Hadatko commented on #591
Thank you very much. Do you know when the new extension version will be released?

[2019-12-04 09:11] Hadatko commented on #591
Oh you just added alert that cwd need be set to root directory. So still no support for custom paths. Pitty. But better than nothing. Are you considering to support custom cwd?

[2019-12-04 09:28] RedMickey commented on #591
@Hadatko, with respect to the custom workspace feature support we don't have plans to implement that in the nearest future, but feel free to send your feature request. We'll consider it in order of priorities.
Unfortunately I don’t have the exact date of a new release, but hopefully it will be done in the nearest weeks. We’ll update you as soon as new version will be released.

[2019-12-04 09:32] Hadatko commented on #591
Where i can send feature request? E.g chrome debbuger works with custom path:
"configurations": [{
        "type": "chrome",
        "request": "launch",
        "name": "Launch Chrome against localhost",
        "url": "http://localhost:8100",
        **"webRoot": "${workspaceFolder}/gui/html",**
        "disableNetworkCache": true
    }]

[2019-12-04 09:39] RedMickey commented on #591
@Hadatko, you can open a new issue containing desired enhancement.

[2019-12-04 09:49] Hadatko commented on #591
Thanks. I am going to do it.

[2019-12-04 09:53] Hadatko opened #594 "Support custom cwd paths"
Hi i would like to see this feature in your great extension. I want to reduce amount of redundant directories in my workspace.

## Actual Behavior
1. Not supported. CWD need be workspace root dir.

## Expected Behavior
1. CWD could be customed.

E.g. Google chrome debbuger support this:
"configurations": [{
"type": "chrome",
"request": "launch",
"name": "Launch Chrome against localhost",
"url": "h

[2019-12-04 11:47] RedMickey commented on #587
@navs007, unfortunately we cannot give any certain reasons of crushes of your application because we don't have an opportunity to completely investigate it since we don't have a fully configured demo to run.

* As you said the `Run Android on emulator` debug scenario hadn't worked for the demo application. Could you please start the demo application using the following command (without livereloads

[2019-12-04 14:23] NavyaRagha commented on #587
Unfortunately I cannot share the Project,As I do not own it.
How ever I will close this issue, As I have chrome://inspect as an alternative to debug.

Some inputs for you to may be consider in the next phase release may be
**Attach to running android on device/ Emulator**
Note my project stores huge huge sql data when offline and online locally.
and some unhand led errors which might be the reason

[2019-12-04 14:58] NavyaRagha commented on #587
Well This is doing the trick for Me on
**Attach to running android on device**

Run the app using the command
--max-old-space-size=8192; ionic cordova run android -lcs

Once the app is loaded, Attach to running Android On Device the app wont debug.

So go to the device and in **"Developer Options"** **"Select debug app"**
 Try attaching the debugger again , Breaks with the attached error
![Capture

[2019-12-05 11:43] RedMickey commented on #587
@NavyaRagha, with respect to this trick, we tried to reproduce it and figured out that `Unable to find localabstract name of cordova app` error is thrown when `Wait for debugger` option is enabled in the `Developer Options`. We noticed that in case of enabled `Wait for debugger` option, the socket `@webview_devtools_remote_process_ID` was not created. The extension uses it to take process ID that

[2019-12-05 13:15] NavyaRagha commented on #587
Hi , With the above trick the App always attaches and breaks on the break point too..but im unable to read the values on move over or the watch window.Attached is the screen shot of the same.

![Capture](https://user-images.githubusercontent.com/8824736/70238408-351db180-1737-11ea-87ea-b6a1e6c327b5.PNG)

 Can you let me know , how to fix that..

[2019-12-05 22:48] haris44 commented on #594
It can be really usefull, to use this vscode plugin with vue-cli cordova extensions for example :  https://github.com/m0dch3n/vue-cli-plugin-cordova

Path hierarchy with different folders (./ and ./src-cordova/) allow seperation between project node-modules and cordova plugin node-modules. I think it's a best practice with cordova project.

Thanks

[2019-12-06 08:47] RedMickey commented on #587
@NavyaRagha, it seems that the original problem discussed in this issue has been solved, so I'm closing this. But with respect to watching and evaluating variables problem I opened the new issue.

[2019-12-06 08:47] #587 closed

[2019-12-06 09:01] RedMickey opened #595 "Watching and evaluating variables problem on debugging Ionic app"
There is a problem with watching and evaluating variables on debugging the Ionic app. It isn't possible to read variables' values in the `WATCH` panel. The screenshot represented the problem is attached below:

![Capture](https://user-images.githubusercontent.com/8824736/70238408-351db180-1737-11ea-87ea-b6a1e6c327b5.PNG)

_Originally posted by @NavyaRagha in https://github.com/microsoft/vscode-cor

[2019-12-06 10:26] RedMickey commented on #595
@NavyaRagha, do the variables on the screenshot belong to object or function scope?
To watch a function scope variable you need to add only its name to  the editor's `WATCH` panel. But if you want to watch an object scope variable, it is required to add `this.` prefix to the variable name.
I attached screenshots illustrating these cases:

|Without `this.` prefix|Containing `this.` prefix|
|---|---

[2019-12-09 18:38] NavyaRagha commented on #595
is anyone looking into it??plz

[2019-12-09 19:07] NavyaRagha commented on #595
Hi The file attched is how it behaves in Cordova debug
[CordovaTools.zip](https://github.com/microsoft/vscode-cordova/files/3941310/CordovaTools.zip)

[2019-12-09 19:10] NavyaRagha commented on #595
Here its how its behaves in chrome://inspect which is right.
[ChromeInspect.zip](https://github.com/microsoft/vscode-cordova/files/3941314/ChromeInspect.zip)

from the example u have shown above in both senario, i get not available
![Capture](https://user-images.githubusercontent.com/8824736/70464784-9920dc80-1a8d-11ea-8806-99b413016efe.PNG)

[2019-12-10 12:29] RedMickey commented on #595
@NavyaRagha, we tried to reproduce shown behavior and didn't face that problem:

![image](https://user-images.githubusercontent.com/33267199/70524175-a86b5d00-1b55-11ea-889b-5687e0120ae6.png)

Unfortunately we don't have enough information about your environment to reproduce exact conditions as yours. Could you please run `cordova info` command in your project folder and send us its output? It cou

[2019-12-13 18:56] RedMickey commented on #595
@NavyaRagha, do you have a chance to look at this?

[2019-12-19 09:06] RedMickey commented on #595
Hi @NavyaRagha, just a friendly ping on this.

[2019-12-20 12:25] zhangshenghong opened #598 "Cordova-tools error . The "path" argument must be of type string. Received type object"
![image](https://user-images.githubusercontent.com/48314995/71254522-302b4580-2366-11ea-8f1a-6161c46f2823.png)
I use the default generated launch.json , but " Run Browser " is error .

Thanks for the help!

[2019-12-20 12:29] zhangshenghong commented on #598
- VSCode version: 1.41.1
- NodeJS version: v10.15.3
- Cordova version: 9.0.0
- Cordova Tools version:1.9.1

[2019-12-20 12:45] SounD120 commented on #598
Hi @zhangshenghong and thanks for reaching us. Could you please make sure that your workspace root folder is a Cordova project? I was able to reproduce this in case if the opened workspace did not contain a Cordova project.

[2019-12-23 02:27] zhangshenghong commented on #598
I use Framework7-cli. Generated Cordova project. I changed the cwd path to `${workspacefolder}/Cordova/`. The result is a new error, as shown below.
![image](https://user-images.githubusercontent.com/48314995/71331822-b9ad6400-256e-11ea-971f-6303ecdc35f4.png)

[2019-12-23 07:14] RedMickey commented on #595
Hi @NavyaRagha. I’m closing this due to inactivity. Please feel free to reopen if needed.

[2019-12-23 07:14] #595 closed

[2019-12-23 07:19] SounD120 commented on #598
@zhangshenghong As seen from your `launch.json` your `cwd` argument does not point to the workspace root. Could you please change `cwd` parameter to `"cwd": "${workspaceFolder}"` and try again? Please let us know if this helped.

[2019-12-23 07:31] zhangshenghong commented on #598
@SounD120
This will cause the first error, because root folder is not a Cordova project

[2019-12-23 07:39] SounD120 commented on #598
@zhangshenghong Oh I see, also it is needed to open `cordova` folder as a workspace folder using [multi-root workspaces](https://code.visualstudio.com/docs/editor/multi-root-workspaces) approach and create separate `launch.json` file in there. You can do this the following way:

1. Add `cordova` folder to your workspace using that [instruction](https://code.visualstudio.com/docs/editor/multi-root-

[2019-12-23 07:53] zhangshenghong commented on #598
@SounD120 In this way, VS code `DEBUG ADN RUN` still points to launch.json under root folder. Unless I use ` ./cordova` as a workspace.

[2019-12-23 07:57] zhangshenghong commented on #598
@SounD120 `./cordova` as a workspace folder, Run `Run Browser (cordova)` is OK.

[2019-12-23 08:12] SounD120 commented on #598
@zhangshenghong Glad to hear that. With respect to the problem with incorrect folder pointing of `DEBUG AND RUN` view - it is a [VS Code bug](https://github.com/microsoft/vscode/issues/87237) that does not reproduce anymore on VS Code Insiders. That mean that it will be fixed in the future VS Code releases.
![image](https://user-images.githubusercontent.com/32372875/71344735-6a6a3200-2574-11ea-86a

[2019-12-23 08:12] #598 closed

[2019-12-23 08:41] zhangshenghong commented on #598
@SounD120 Oh, I see, thank you.

[2020-01-28 19:52] mw-breathesuite commented on #582
Has there been any update to this? Still having this problem.

[2020-01-28 23:47] kenicenoel commented on #588
Agreed. I only have Google Chrome installed for this reason as the new Edge doesn't work with Cordova tools. I want to be able to use the extension with Edge and not Google Chrome.

[2020-01-28 23:48] kenicenoel commented on #588
I really hope this is prioritized as the new Edge is a Microsoft product and one would think their tooling should should be supported.

[2020-01-29 07:43] SounD120 commented on #582
Hi @mw-breathesuite . This issue is tracked in #564. We will post an update if there are any changes.

[2020-02-15 05:48] Windstalker commented on #590
@RedMickey I am using zsh isntead of bash and I have the same issue. What should I do in my case?

[2020-02-18 10:38] RedMickey commented on #590
Hi @Windstalker, I tried to use `zsh` instead of `bash` and didn't face any problems. I configured `zsh` the following way:
1. Download `zsh` and set it as default
1. Add NVM configuration to `~/.zshrc`
[code]
1. Run `source ~/.zshrc` in terminal

After that VS Code should also use `zsh` as default terminal.

[2020-02-22 21:13] Namiro commented on #588
+1 I totaly agree with @kenicenoel

[2020-02-23 03:41] guhyeon commented on #586
I've succeeded.

1. Setting Environment preferences.
1.1. Start Terminal
 command + spacebar, enter terminal and click terminal app

1.2. edit bash profile on terminal
vi ~/.bash_profile

copy and paste bellow lines.
[code]
type
:wq enter

1.3. edit zsh profile
vi ~/.zprofile

copy and paste
[code]
type
:wq enter

2. Setting visual studio code with shell script available.
2.1. open visual studio c

[2020-03-24 00:19] timkovik opened #606 "Livereload not working for "simulate android in browser" for Ionic 4+ projects"
Live reload is not working when enabled in the config, using the "livereload": true configuration.

## launch.json
[code]
2. Software versions
- Cordova VS Code extension version: 1.9.3
- VSCode version:  1.43.1
- OS platform and version: Macos Catalina 10.15.3
- NodeJS version: 12.16.1
- Cordova version: 9.0.0 (cordova-lib@9.0.1)
- Cordova-Android version: android 8.1.0

[2020-03-24 10:09] SounD120 commented on #606
Hi @timkovik and thanks for reaching us. I tried to reproduce this, but in my case it doesn't reproduce. I created new Cordova app, ran Simulate and then changed js and html code in runtime and the changes has been applied to the simulation in live mode. Does your app use pure Cordova or Ionic? Also, could you please describe what changes you make to the code that don't work with `livereload`?

[2020-03-28 09:44] michaelsogos commented on #594
Hi @haris44

I have same scenario, did you find a solution in the meantime?

[2020-03-30 10:14] SounD120 commented on #606
@timkovik Just a friendly ping on this.

[2020-03-30 20:48] iamkarlson commented on #606
@SounD120 my app is using ionic and the same problem. I found that if I manually rebuild the app from command line then livereload works. Are there any tips on how to check that watch job is actually working? it must be essential for livereload stuff.

[2020-03-31 07:51] SounD120 commented on #606
Hi @iamkarlson this is a known issue of Ionic 4+ caused by [absence of special `--watch` flag for `ionic-cli`](https://github.com/ionic-team/ionic-cli/issues/3999). As soon as this flag will be added this feature will be fixed for that case.

[2020-04-01 07:28] SounD120 commented on #606
@timkovik Is your case similar to the @iamkarlson case?

[2020-04-02 19:32] iamkarlson commented on #606
@SounD120 thanks for explanation! Is there any snippet how to run watch task in the background? it would give users opportunity to overcome the issue without waiting ionic to solve that

[2020-04-06 09:10] haris44 commented on #594
Hi @michaelsogos. yes, finally I used an other plugin : "Android Webview Debugging". It works really well ! (even with Chrome Webview)

[2020-04-11 19:58] tams17th opened #610 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.3`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.44.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Pavithra\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-cau

[2020-04-12 18:06] nikkhilchauhan commented on #586
Thanks worked for me hurrrr

[2020-04-13 08:18] SounD120 commented on #610
Hi @tams17th . Could you please attach `msjsdiag.cordova-tools-unresponsive.cpuprofile.txt` file as described in your issue? This file is crucial for us to understand the reason of high CPU load.

[2020-04-13 09:08] SounD120 commented on #606
Hi @iamkarlson , sorry for the late response. The issue that I have sent to you is about Cordova Simulate debug scenarios only, so it should not affect the other scenarios. Also, please keep in mind that for Ionic there is the `ionicLiveReload` debug scenario argument instead of `livereload` for pure Cordova.

Could you please send us the exact debug scenario (chunk from `launch.json` file) from w

[2020-04-16 07:43] SounD120 commented on #610
@tams17th Can you please take a look on this?

[2020-04-20 07:49] SounD120 commented on #610
@tams17th I am closing this due to inactivity and to lack of CPU profile data.

[2020-04-20 07:49] #610 closed

[2020-04-20 09:05] SounD120 opened #613 "Migrate on js-debug extension's debugging core"
We are planning to migrate Cordova extension debugging core to [js-debug](https://github.com/microsoft/vscode-js-debug) extension one, since currently used [vscode-chrome-debug-core](https://github.com/microsoft/vscode-chrome-debug-core) tool will be deprecated soon. For providing communication between app and `js-debug` extension the special [CDP proxy](https://github.com/microsoft/vscode-cdp-pro

[2020-04-24 09:20] abderrahmen13 opened #615 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.3`
- OS Version: `Windows_NT x64 6.3.9600`
- VSCode version: `1.43.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\info-03\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes

[2020-04-24 09:42] SounD120 commented on #615
Hi @abderrahmen13 thanks for the report. Could you please attach `msjsdiag.cordova-tools-unresponsive.cpuprofile.txt` file as pointed in your issue because we need this file to analyze the reason of high CPU load.

[2020-04-24 09:53] abderrahmen13 commented on #615
[msjsdiag.cordova-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cordova/files/4528052/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt)

[2020-04-27 11:45] SounD120 commented on #615
Hi @abderrahmen13 . Thanks for the CPU profile file. I analyzed the CPU profile and it seems that high CPU has happened during the extension activation. Do you remember what did you do on your machine and in particular in VS Code when the high CPU load report has appeared? This information will help us to analyze the scenario that caused this in a more detailed way.

[2020-04-27 14:07] #615 closed

[2020-04-29 09:46] GimpArm commented on #458
I ran into the same problem. What I can tell the timeout is 1000 ms before throwing the error. Sometimes the device can take 2 or 3 seconds to completely finish the adb shell command call. Changing the timeout to 10000 ms makes everything work. I suggest you increase this timeout to allow for devices on networks and slower connections.

`return helper().timeout(1000, new CordovaError('Device commu

[2020-04-29 09:58] GimpArm opened #616 "detectArchitecture timeout is too short."
## Actual Behavior

Debugging fails to start

## Expected Behavior

Debugging starts and connects

## Software versions
- Cordova VS Code extension version: 1.9.3
- VSCode version: 1.44.2
- OS platform and version: Windows 10
- NodeJS version: v12.16.2
- Cordova version: 9.0.0
- Cordova-Android/iOS/Windows version: Android 8.1.0

## Outputs (Include if relevant)
- Output of the Debug Console (View

[2020-04-29 09:59] GimpArm commented on #616
What I can tell the timeout is 1000 ms before throwing the error. Sometimes the device can take 2 or 3 seconds to completely finish the adb shell command call. Changing the timeout to 10000 ms makes everything work. I suggest you increase this timeout to allow for devices on networks and slower connections or find a better way to determine if there really is a connection issue.

build.js
`return h

[2020-04-29 10:04] SounD120 commented on #616
Hi @GimpArm and thanks for reaching us. Does this issue reproduces when you run the command below from your terminal without VS Code usage?
[code]

[2020-04-29 10:39] GimpArm commented on #616
Exact same error and stack trace. Increasing the timeout also makes that work.

[2020-04-29 10:58] SounD120 commented on #616
If this reproduces even without the extension it means that this problem is inside Cordova framework, not the Cordova Tools VS Code extension. I recommend you to reach out to [Cordova repository](https://github.com/apache/cordova-android) and create new issue. You can mention the  [exact line that causes difficulties](https://github.com/apache/cordova-android/blob/master/bin/templates/cordova/lib/

[2020-04-29 10:58] #616 closed

[2020-04-29 11:15] cagross opened #617 "Extension installs several files/folders into my project--is it safe to exclude all of them from version control?"
Hello.  I have a Node project on my computer.  I opened the project in VSCode, and via the VSCode interface, installed the [Cordova Tools](https://marketplace.visualstudio.com/items?itemName=msjsdiag.cordova-tools) extension.  When I did so, the following files/folders were automatically created and added to the root of my project:

    .vscode/
    jsconfig.json
    typings/

I assume these are f

[2020-04-29 11:29] SounD120 commented on #617
Hi @cagross and thanks for the question. `.vscode` folder is a folder for VS Code extensions internal files such as `settings.json`, `launch.json`, `tasks.json` and others. VS Code shares this folder for all the extensions installed. With respect to `jsconfig.json` file and `.vscode/typings`: these files are intended to add VS Code Intellisense support for Cordova-based projects. If you delete the

[2020-04-29 11:40] cagross commented on #617
Hi, thanks for the reply.

Right, I understand all that about the `.vscode` folder.

So to be clear, `jsconfig.json` is specific only to the Cordova Tools extension?  And the entire `typings` folder is specific to only the Cordova Tools extension?  Or are both of those more general files/folders, that are used by the Cordova Tools extension *and* perhaps many more extensions/ Node packages/etc?  I

[2020-04-29 12:03] SounD120 commented on #617
@cagross `jsconfig.json` file marks that the folder contains JS based project and improves VS Code Intellisense for the workspace. You can find more information about this file here: https://code.visualstudio.com/docs/languages/jsconfig .
With respect to `typings` folder I am not sure that this folder is specific for the Cordova Tools only and the typings might be configured on the different level

[2020-04-29 13:45] cagross commented on #617
OK thanks for all that.  Along those lines, I have a separate, but related question.  As I mentioned, to install the extension, i first opened my project's folder in VSCode, then installed the extension via the VSCode GUI.  When I did so, the three new files in-question were added to the root of my project.  Is there any way to install the extension in another manner, one that creates those three

[2020-04-30 08:05] SounD120 commented on #617
@cagross I think it makes no sense to move these files. You can move these files, but if you open your Cordova project for the next time `jsconfig.json` and `typings` will be generated by Cordova Tools again.

You can add them to `.gitignore` list if it is needed since they are recreated, but keep in mind that `launch.json`, `settings.json` and `tasks.json` are shared between the extensions, so th

[2020-05-02 14:07] cagross commented on #617
Well that's what I was asking--is there a way to have Cordova Tools save those files in an outside folder, even when opening the Cordova project the next time.  I guess the answer is 'no,' which is fine--was just wondering.

Right, I understand that.  My issue is this.  Right now, I don't want to version control any of the code associated with Cordova Tools.  But, at the same time, I want to keep

[2020-05-05 14:00] RedMickey commented on #617
Hi @cagross, `.vscode/launch.json` file is shared between all the extensions that are used in a particular workspace. This file is created only once, when you add the first debug configuration. After that, when this file already exists, you can open it and add additional debug configurations manually or using [`Add Configuration...`](https://code.visualstudio.com/docs/editor/debugging#_add-a-new-c

[2020-05-05 15:29] cagross commented on #617
Right. But what if extension-a and extension-b each contribute their own code to `launch.json``.
 I want to continue using both extension-a and extension-b when developing on my local computer.
 But I want to commit the `launch.json` code for only extension-b to version control.  How can I do that?  It doesn't seem possible.

For example, extension-a is simply an extension I prefer to use during d

[2020-05-05 16:30] RedMickey commented on #617
@cagross, do I understand you correctly, that you don't want to add (exclude from adding) some strings from `launch.json` file to version control system?

[2020-05-06 03:25] cagross commented on #617
That's correct.  Specifically, let's say to my local VSCode, I install extension-a and extension-b.  Both extensions add their own configuration to `launch.json`.  I then want to add only extension-b to version control, i.e. I want to ensure nothing about extension-a is added to my Git repo.  Is there any way to do that?  It sounds like 'no,' i.e. if I want to version control the `launch.json` con

[2020-05-06 08:12] SounD120 commented on #617
@cagross Currently VS Code provides no way to implement such division and to store debug configurations for only one group of extensions excluding the others. You can try to open a discussion about this feature in [VS Code repository](https://github.com/microsoft/vscode).
I am closing this issue for now, feel free to reopen if needed.

[2020-05-06 08:12] #617 closed

[2020-05-06 08:49] cagross commented on #617
OK.  Thanks very much for all the info--I appreciate it.

[2020-05-14 20:06] yinzara commented on #564
This is a pretty serious issue.  Apple requires the use of WKWebView to submit to the App Store now (UIWebView apps are all rejected immediately automatially).  With this bug still open, we are unable to debug our apps from within Cordova in VSCode.

[2020-05-24 10:27] tfhgzeo opened #626 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.4`
- OS Version: `Linux x64 5.4.0-31-generic`
- VSCode version: `1.45.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/home/gmoreira/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-cause

[2020-05-25 07:21] SounD120 commented on #626
Duplicate #517

[2020-05-25 07:21] #626 closed

[2020-05-25 13:39] SounD120 commented on #564
Hi @yinzara . We are working on updating the extension to replace debugger core to [vscode-js-debug](https://github.com/microsoft/vscode-js-debug) right now . We cannot do much about that with the current debugger implementation due to some limitations, but with the updated version we'll have the direct access to CDP requests that the debugger sends, so we have plans to fix this during the migrati

[2020-05-26 16:09] AEiosApp opened #628 "Nothing in the DEBUG CONSOLE after attaching to running android on device"
## Actual Behavior
1. Connect my android device
2. Build & run cordova project (vuejs + cordova) by
     cordova run android
3. hit Attach to running android device

![image](https://user-images.githubusercontent.com/19554725/82923556-c3cdf700-9f40-11ea-95fe-15e5bc48c3ae.png)

4. There is no printing of my console.log() in DEBUG CONSOLE

## Software versions
- Cordova VS Code extension version: 1.

[2020-05-26 19:38] wimZ opened #629 "Cordova RunAndroid on device finishes immediately"
When I start debug in both my Cordova projects, using vscode-insiders "run android on device"  starts but after 1 second it finishes.

The same project opened with the regular version of vscode works as expected.

Version: 1.46.0-insider (user setup)
Commit: e88b8d3
Date: 2020-05-13T08:04:48.706Z
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.

[2020-05-27 02:30] fabianoneumann commented on #586
Nice, it worked for me! Thanks!

[2020-05-27 07:45] SounD120 commented on #629
Hi @wimZ , thanks for the report. We tried to reproduce this on the latest version of VS Code Insiders, and we had no problems. Could you please try update your insider build to the latest and start debugging again? It seems that there could be a regression that has already been fixed.
[code]

[2020-05-27 20:25] wimZ commented on #629
Thanks for your fast response.
.
I updated to the latest version, but the problem still exists

**I noticed this after startup in the developer console**:

abstractExtensionService.ts:396 Activating extension 'msjsdiag.cordova-tools' failed: Cannot find module 'q'
Require stack:
- c:\Users\wimz\.vscode-insiders\extensions\msjsdiag.cordova-tools-1.9.4\out\src\utils\cordovaProjectHelper.js
- c:\User

[2020-05-28 07:15] RedMickey commented on #629
Hi @wimZ, it could be that some errors occurred during the extension installation. Could you please try to reinstall the extension? Please, don't forget to close and reopen VS Code after the extension installation.
Please let us know about your results.

[2020-05-28 07:44] wimZ commented on #629
Reinstalled of Cordova tools.
Works!

Thanks for your support

[2020-05-28 07:44] #629 closed

[2020-05-28 07:57] SounD120 commented on #628
Hi @AEiosApp and thanks for reaching us. Could you please provide us minimal demo application in which this problem is reproduced and steps reproduce it?

You can also try reinstalling Cordova Tools extension and reopening VS Code(it's important to close it completely and then reopen it to make sure that the extension is removed before new installation) before and let us know if this helped.

[2020-06-01 19:46] jpchenel opened #630 "Attaching to app take long time before working"
Recently, I can't use the debugger anymore for Cordova projects. It takes forever to attach to the app. When I write .scripts in the command windows, I saw scripts loading once at each 15-20 sec. or so. The breakpoints are greyed out and after 2 minutes 15 sec. they turn red.

With fresh dummy project (HelloWorld), it takes 8 sec. to load. If I add 16 dummy .js file, it takes 1 min. to load.

Exem

[2020-06-02 10:13] SounD120 commented on #630
Hi @jpchenel , thanks for reaching us. I tried to reproduce this now, I created 10 dummy files with the code you described, added them to `index.html`, tried to build the app and couldn't see any difference in build time. Could you please send us a minimal demo app in which this behavior is reproduced, so we that we can investigate this case?

You can also try to reinstall the extension, but it is

[2020-06-02 10:16] SounD120 commented on #628
@AEiosApp Just a friendly ping on this.

[2020-06-02 13:42] jpchenel commented on #630
Thank for followup.
Here are some details.

[hello.zip](https://github.com/microsoft/vscode-cordova/files/4717423/hello.zip)

I've included a video that show the time between the "Attaching to app." event and the attachement itself.

[attaching to app.zip](https://github.com/microsoft/vscode-cordova/files/4717489/attaching.to.app.zip)

## Outputs (Include if relevant)
- Output of the Debug Console

[2020-06-02 13:45] AEiosApp commented on #628
@SounD120 I tried to reinstall cordova tools and restart VSCode - didn't work.

Here is a sample of an quasar vuejs app.
https://drive.google.com/file/d/1dIXV4a_7lzUAxPdFFFVBWodD7urTULtS/view?usp=sharing

* Once you will open it do
 `npm install`
* Then I go to scr-cordova folder:
`cd src-cordova`
* Then I build an app with:
* `quasar build -m cordova -T android`

Scenario #1

I connect my android

[2020-06-03 11:20] JiglioNero commented on #628
Hello @AEiosApp , unfortunately we could not download the application, because access to this file is limited. Please share your demo application. For example you can share it as a Github repo.

[2020-06-03 13:22] JiglioNero commented on #630
Hello @jpchenel , we tried to reproduce your script, but we have attach occurs within 2-6 seconds. Please try to restart the system and / or get rid of all extraneous processes and try again. If the problem remains, please run `npx envinfo` and send us the result.

[2020-06-03 13:24] AEiosApp commented on #628
Sorry, just changed sharing settings, please try now the same link

[2020-06-04 00:42] jpchenel commented on #630
Thank for followup.

I've killed all know process that was running in background and started the debugging. Same things.

Here is the output command.

[code]

With best regards,

[2020-06-05 09:10] JiglioNero commented on #630
@jpchenel, with the same configurations as yours, we couldn’t reproduce the same problem. The reason may be that your node settings are different from the default settings. Please try resetting the npm configuration:
For user settings:
`echo ""> $ (npm config get userconfig)`
For global settings:
`echo ""> $ (npm config get globalconfig)`
Also make sure developer settings are configured correctly

[2020-06-05 10:29] JiglioNero commented on #628
@AEiosApp, extension works only from folders with Сordova projects, so the root folder should be the Сordova folder and `.vscode/launch.json` should be directly in it.
Open the `src-cordova` folder with VS Сode, create `launch.json` for Сordova there, in which case the scripts will work.

[2020-06-05 14:01] AEiosApp commented on #628
Hi, thanks for suggestion, so what I did:

#1. Copied launch.json from vuejs project root `.vscode` to `src-cordova/.vscode`

<img width="716" alt="Screenshot 2020-06-05 at 08 54 38" src="https://user-images.githubusercontent.com/19554725/83884443-815ba580-a70a-11ea-9834-28b397522170.png">

#2. Opened in VS code not Vuejs root project folder, but `src-cordova`
(it is a kind of inconvenient, becaus

[2020-06-05 14:51] AEiosApp commented on #628
Finally made it working:

#1. I've added to `.bash_profile` following paths:
[code]

#2. To be able to work and run debugger from the Vuejs root workspace, in my root `.vscode/launch.json` I've changed parameter `"cwd": "${workspaceFolder}/src-cordova"`

<img width="879" alt="Screenshot 2020-06-05 at 09 50 29" src="https://user-images.githubusercontent.com/19554725/83890906-06968880-a712-11ea-96ab

[2020-06-06 05:36] cagross opened #631 "[Run Browser] How to prevent localhost:8000/simulator/index.html window from opening?"
Hello.  I have been using your extension, and everything works great so far--thank you very much.  I have one question though.  In the VSCode 'Run' dropdown list, I've selected 'Run Browser' ([screenshot](https://i.imgur.com/awzqgt4.jpg)).  When I then run, a browser window (Chrome in my case) opens to `http://localhost:8000/index.html` and runs my app inside, as desired and expected.  But additio

[2020-06-08 08:00] #628 closed

[2020-06-08 17:19] jpchenel commented on #630
@JiglioNero, I've tried all the settings, but none of them make it work.
I've configured a new virtual environment (vmware) for testing it and it works!
I don’t know the source of this problem.
I'll continue to debug on the virtual environment.

Thanks for your help.

[2020-06-09 08:40] JiglioNero commented on #630
We are glad that your problem has been resolved. In this case, I close this issue.

[2020-06-09 08:40] #630 closed

[2020-06-09 14:22] JiglioNero commented on #631
Hello @cagross , thank you for contacting us. This page simulates the native calls of Cordova, if it doesn’t opened, they don't fire some events in the simulated app and this may lead to errors, therefore it is not recommended to close it.

[2020-06-09 14:41] cagross commented on #631
OK, that makes sense then.  I'll live with it for now.  Thanks!

We can consider this resolved.

[2020-06-09 14:41] #631 closed

[2020-06-11 19:35] ehmd96 opened #632 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.4`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.46.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\papso\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes

[2020-06-22 08:06] SounD120 commented on #632
@ehmd96 Duplicate #517

[2020-06-22 08:06] #632 closed

[2020-06-25 20:01] rakatyal opened #633 "Support localization in vscode-cordova"
We need to set up localization support for this extension as we have for [cordova-simulate](https://github.com/microsoft/cordova-simulate).

[2020-07-14 17:54] BMO-crypto opened #637 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.4`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.47.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\pl-brandon.moulden\msjsdiag.cordova-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-ext

[2020-07-15 08:39] SounD120 commented on #637
Looks like duplicate of #517

[2020-07-15 08:39] #637 closed

[2020-07-15 18:57] cillvius opened #638 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `cordova-tools`
- Extension Version: `1.9.4`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.46.1`

[msjsdiag.cordova-tools-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-cordova/files/4927353/msjsdiag.cordova-tools-unresponsive.cpuprofile.txt)
Find more details here: https://github.com/microsoft/vscode/wiki/Explain-ext

[2020-07-21 07:12] SounD120 commented on #638
Hi there @cillvius . I analyzed your CPU profile and it shows that the high CPU load was caused by the extension activation time, it is a known issue and as soon as the extension will be bundled to decrease the amount of files in it, that problem should be resolved. Closing as duplicate of #517

[2020-07-21 07:12] #638 closed

[2020-07-31 08:05] SounD120 opened #643 "Implement a mechanism for iOS debugger to distinguish Cordova webviews from other ones"
For now iOS debug scenario tries to attach to first found webview from an iOS device, I think that it is better to check if this webview belongs to an Cordova/Ionic app.

[2020-07-31 08:09] SounD120 opened #644 "Add support for DebugConfigurationProvider API"
I think that it will be useful if we'll implement a [DebugConfigurationProvider](https://code.visualstudio.com/api/extension-guides/debugger-extension#using-a-debugconfigurationprovider) API in order to have an ability to choose needed debug configurations and filter some arguments in them based on a project type.

[2020-08-05 12:35] #644 closed

[2020-08-07 06:38] #643 closed

[2020-08-16 22:22] f4b10goncalves opened #652 ""Internal Server Error" reloading "index.html""
## Actual Behavior
I'm running my Cordova app on Chrome using "Simulate Android in browser" successfully. When I make any change in the "index.html" file and save it, browser shows "Internal Server Error" instead of running the app.

This happens very often (~90% of the times), but not always. In order to run my app again, I have to close VS Code and start it again.

When I make changes to other f

[2020-08-18 14:16] #517 closed

[2020-08-19 07:48] SounD120 commented on #652
Hi @f4b10goncalves , thanks for reaching us. I just tried to reproduce this on a freshly created Cordova 9 application. I started `Simulate Android in browser` scenario and then changed `index.html` file about 50 times and I never faced such an error. Could you please provide us a minimal demo application on which this error is reproduces for you?

[2020-08-20 03:00] f4b10goncalves commented on #652
Hello @SounD120 ... Thank you for the reply.

I have made a lot of tests today trying to isolate the problem. Finally I've got the minimal demo that reproduces this error.

It looks like the problem is related to the **"index.html" file size**. When this file gets too big, I start getting the "internal server error". If I cut out some code, the error disapears.

Please download the mininal demo pr